.header {
  display: flex;
  max-width: 1920px;
  background-color: orange;
  .logo {
    width: 130px;
    height: 130px;
    img {
      width: 100%;
    }
  }
  .menu {
    display: flex;
    ul {
      // max-width: 1920px;
      display: flex;
      align-items: center;
      color: white;
      li {
        cursor: pointer;

        a {
          color: white;
        }
      }
    }
  }
}
