.topser {
  border: 1px solid orangered;
}

.header {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  border-bottom: 2px solid;
  // border-image: linear-gradient(to right, $orange, #ffff04) 1;
  animation: gradient 2s linear infinite;
  align-items: center;

  .top {
    width: 79.69%;
    // background-color: darkblue;
    margin: 0 auto;
    display: flex;

    .logo {
      width: 6.34%;
      // border: 1px solid red;

      > a {
        width: 100%;

        img {
          width: 100%;
          display: block;
          padding: 5px;
          box-sizing: border-box;
          // background-color: aqua;
          // border: 1px solid orangered;
        }
      }
    }

    .menu {
      width: 93.66%;
      // border: 1px solid rgb(0, 255, 238);
      display: flex;
      justify-content: space-between;

      .a_part {
        width: 50%;
        height: 100%;
        // border: 1px solid rgb(0, 255, 110);
        display: flex;
        align-items: center;
        box-sizing: border-box;
        > li {
          // width: 35%;
          // border: 1px solid red;
          transition: all ease-in-out 0.3s;
          box-sizing: border-box;
          margin-left: 30px;

          &:hover {
            transform: scale(1.3);
            transition: all ease-in-out 0.5s;
          }

          > a {
            width: 100%;
            // background-color: rgba(233, 233, 0, 0.14);
            display: block;
            // margin: 0 auto;
            text-align: center;
            font-size: $h3;
            text-decoration: none;
            transition: all ease-in-out 0.3s;
            box-sizing: border-box;
            letter-spacing: 0.5rem;

            @include breakpoint-1440 {
              font-size: 17px;
            }

            &:hover {
              // color: $orange;
              color: orange;
              transition: all ease-in-out 0.3s;
            }
          }
        }
      }

      .b_part {
        // border: 1px solid gold;
        width: 50%;
        align-items: center;
        display: flex;
        // justify-content: space-between;
        position: relative;

        .topser {
          width: 40%;
          z-index: 90000;
          .ser {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            box-sizing: border-box;

            // border: 1px solid yellowgreen;

            SVG {
              color: orangered;
              position: absolute;
              top: 52px;
              right: 20px;
            }

            input[type="text"] {
              width: 90%;
              padding: 5px 10px;
              // border: 1px solid orangered;
              border: none;
              border-radius: 0px;
              // background-color: transparent;
              background-color: rgba(255, 68, 0, 0.275);
              margin: auto 0;
            }

            button {
              // width: 20%;
              // background-color: black;
              // border: 1px solid orangered;
              background-color: rgba(255, 68, 0, 0.275);
              border: none;
              cursor: pointer;
              box-sizing: border-box;
              display: inline-block;
              padding: 3.5px;
              transition: all ease-in-out 0.3s;
              // border-radius: 50px;

              i {
                // margin: 0 auto;
                color: orangered;
                display: inline-block;
                // border: 1px solid blue;
                text-align: center;
                margin: 0;
                padding: 0 5px;
              }

              &:hover {
                background-color: rgb(255, 68, 0);
                transition: all ease-in-out 0.3s;

                > i {
                  color: aliceblue;
                  transition: all ease-in-out 0.3s;
                }
              }
            }
          }

          .result {
            margin-top: 10px;
            background-color: rgb(87, 23, 0);
            position: absolute;
            width: 50%;
            padding: 5px;
            box-sizing: border-box;
            cursor: pointer;
            display: none; //這邊關閉
            // overflow: hidden;

            .rlist {
              width: 100%;
              // background-color: #bb980d76;
              box-sizing: border-box;
              transition: all ease-in-out 0.3s;
              cursor: pointer;

              // border: 1px solid orange;
              .alist {
                display: flex;
                width: 100%;
                // border: 1px solid blueviolet;
                padding: 5px;
                margin: 0;
                box-sizing: border-box;
                cursor: pointer;

                img {
                  width: 15%;
                }
                .gtitle {
                  width: 85%;
                  padding: 10px;
                  line-height: 1.2;
                  cursor: pointer;
                }
              }
              &:hover {
                background-color: orangered;
                transition: all ease-in-out 0.3s;
                cursor: pointer;
              }
              // &:hover>.alist{
              //   cursor: pointer;
              //   background-color: #6070ff;
              // }
            }
            &:hover {
              cursor: pointer;
            }
            .more {
              width: 100%;
              .more2 {
                font-size: 1.5rem;
                color: brown;
                &:hover {
                  color: orange;
                  transition: all ease-in-out 0.3s;
                }
              }
            }
            .notfind {
              width: 100%;
              display: none;
              .p1 {
                padding: 10px;
              }
            }
          }
        }

        .b_2 {
          width: 60%;
          display: flex;
          // border: 1px solid blue;
          box-sizing: border-box;
          align-items: center;
          justify-content: flex-end;
          margin-left: 20px;

          li {
            box-sizing: border-box;
            width: 25%;
            // background-color: rgba(0, 255, 255, 0.203);
            // flex-grow: 1;
            // margin: 0 auto;
            // border: 1px solid yellowgreen;
            transition: all ease-in-out 0.3s;

            &:hover {
              transform: scale(1.3);
              transition: all ease-in-out 0.5s;
            }

            a {
              // border: 1px solid oldlace;
              display: block;
              box-sizing: border-box;
              text-decoration: none;
              width: 100%;
              text-align: center;
              font-size: $h3;
              letter-spacing: 0.5rem;
              transition: all ease-in-out 0.3s;
              position: relative;

              @include breakpoint-1440 {
                font-size: 17px;
              }

              &:hover {
                color: orange;
                transition: all ease-in-out 0.3s;
              }

              svg {
                width: 100%;
                color: $orange;

                &:hover {
                  color: orange;
                }
              }

              .cart_number {
                background-color: $purple;
                font-size: 1.2rem;
                padding: 3px;
                width: 20px;
                height: 20px;
                letter-spacing: 0;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -12px;
                right: -15px;
              }
            }

            // google登入顯示頭貼
            .google_photo {
              img {
                border-radius: 50%;
                max-width: 60px;
              }
            }

            // 一般登入顯示暱稱第一個字
            .nickname {
              border: 1px solid $orange;
              color: $orange;
            }

            .b_2-1 {
              border-radius: 5px;
              margin-top: 10px;
              // display: none;
              opacity: 0;
              padding: 20px;
              background-color: $purple;
              width: 25%;
              position: fixed;
              transition: all ease-in-out 0.3s;
              z-index: -1;

              &::before {
                position: absolute;
                content: "";
                top: -15px;
                left: 25px;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 0 50px 30px 50px;
                border-color: transparent transparent #6511e1 transparent;
                transform: rotate(0deg);
              }

              li {
                padding: 10px 0;
                width: 100%;
                border-bottom: 1px solid white;
                box-sizing: border-box;

                a {
                  display: flex;
                  width: 100%;

                  // background-color: aqua;
                  img {
                    display: block;
                    width: 25%;

                    // height: 500px;
                  }

                  .p {
                    width: 100%;
                    display: block;
                    // background-color: #01072B;
                    box-sizing: border-box;

                    .title {
                      letter-spacing: 1px;
                      text-align: left;
                      padding: 20px;
                      box-sizing: border-box;
                    }

                    .price {
                      text-decoration: line-through;
                      font-size: $h4;
                      color: rgb(52, 51, 51);
                      text-align: left;
                      margin-left: 20px;
                      padding: 5px;

                      @include breakpoint-1440 {
                        font-size: 17px;
                      }
                    }

                    .price2 {
                      text-align: left;
                      margin-left: 20px;
                      color: aliceblue;
                      padding: 5px;
                      box-sizing: border-box;
                    }
                  }
                }

                &:hover {
                  transform: scale(1.03);
                }
              }

              :nth-child(3) {
                border-bottom: none;
              }
            }
          }

          li:nth-child(4) {
            width: 10%;
            // background-color: aqua;
          }
        }
      }

      .active {
        color: orange;
      }

      .c_part {
        display: none;
      }
    }
  }

  @keyframes gradient {
    0% {
      border-image: linear-gradient(to right, yellow, rgb(255, 0, 0)) 1;
    }

    50% {
      border-image: linear-gradient(to right, rgb(255, 0, 0), yellow) 1;
    }

    100% {
      border-image: linear-gradient(to right, yellow, orangered) 1;
    }
  }
}

// 定義斷點變數
// $breakpoint: 1440px;

// @media screen and (max-width: 1440px) {
//     $font-size: 7px;

//     .header{
//         font-size: var(--font-size);
//     }
// }

@media screen and (max-width: 1152px) {
  .header {
    max-width: 1152px;
    margin: 0 auto;
    // border-image: linear-gradient(to right, $orange, #ffff04) 1;
    .top {
      width: 79.69%;
      // background-color: darkblue;
      margin: 0 auto;
      display: flex;

      .logo {
        width: 6.34%;
        // border: 1px solid red;

        > a {
          width: 100%;

          img {
            width: 100%;
            // background-color: aqua;
            // border: 1px solid orangered;
          }
        }
      }

      .menu {
        width: 93.66%;
        // border: 1px solid rgb(0, 255, 238);
        display: flex;
        justify-content: space-between;

        .a_part {
          width: 50%;
          // border: 1px solid rgb(0, 255, 110);
          > li {
            // width: 35%;
            // border: 1px solid red;
            margin-left: 20px;

            &:hover {
              transform: scale(1.3);
              transition: all ease-in-out 0.5s;
            }

            > a {
              width: 100%;
              // background-color: rgba(233, 233, 0, 0.14);
              display: block;
              // margin: 0 auto;
              text-align: center;
              font-size: $h3;
              text-decoration: none;
              transition: all ease-in-out 0.3s;
              box-sizing: border-box;
              letter-spacing: 0.5rem;

              @include breakpoint-1440 {
                font-size: 17px;
              }

              &:hover {
                // color: $orange;
                color: orange;
                transition: all ease-in-out 0.3s;
              }
            }
          }
        }

        .b_part {
          // border: 1px solid gold;
          width: 50%;
          align-items: center;
          display: flex;
          // justify-content: space-between;
          position: relative;

          .topser {
            width: 30%;
            z-index: 90000;
            .ser {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              box-sizing: border-box;

              // border: 1px solid yellowgreen;

              SVG {
                color: orangered;
                position: absolute;
                top: 52px;
                right: 20px;
              }

              input[type="text"] {
                width: 90%;
                padding: 5px 10px;
                // border: 1px solid orangered;
                border: none;
                border-radius: 0px;
                // background-color: transparent;
                background-color: rgba(255, 68, 0, 0.275);
                margin: auto 0;
              }

              button {
                // width: 20%;
                // background-color: black;
                // border: 1px solid orangered;
                background-color: rgba(255, 68, 0, 0.275);
                border: none;
                cursor: pointer;
                box-sizing: border-box;
                display: inline-block;
                padding: 3.5px;
                transition: all ease-in-out 0.3s;
                // border-radius: 50px;

                i {
                  // margin: 0 auto;
                  color: orangered;
                  display: inline-block;
                  // border: 1px solid blue;
                  text-align: center;
                  margin: 0;
                  padding: 0 5px;
                }

                &:hover {
                  background-color: rgb(255, 68, 0);
                  transition: all ease-in-out 0.3s;

                  > i {
                    color: aliceblue;
                    transition: all ease-in-out 0.3s;
                  }
                }
              }
            }

            .result {
              margin-top: 10px;
              background-color: rgb(87, 23, 0);
              position: absolute;
              width: 50%;
              padding: 5px;
              box-sizing: border-box;
              cursor: pointer;
              display: none; //這邊關閉
              // overflow: hidden;

              .rlist {
                width: 100%;
                // background-color: #bb980d76;
                box-sizing: border-box;
                transition: all ease-in-out 0.3s;
                cursor: pointer;

                // border: 1px solid orange;
                .alist {
                  display: flex;
                  width: 100%;
                  // border: 1px solid blueviolet;
                  padding: 5px;
                  margin: 0;
                  box-sizing: border-box;
                  cursor: pointer;

                  img {
                    width: 15%;
                  }
                  .gtitle {
                    width: 85%;
                    padding: 10px;
                    line-height: 1.2;
                    cursor: pointer;
                  }
                }
                &:hover {
                  background-color: orangered;
                  transition: all ease-in-out 0.3s;
                  cursor: pointer;
                }
                // &:hover>.alist{
                //   cursor: pointer;
                //   background-color: #6070ff;
                // }
              }
              &:hover {
                cursor: pointer;
              }
              .more {
                width: 100%;
                .more2 {
                  font-size: 1.5rem;
                  color: brown;
                  &:hover {
                    color: orange;
                    transition: all ease-in-out 0.3s;
                  }
                }
              }
              .notfind {
                width: 100%;
                display: none;
                .p1 {
                  padding: 10px;
                }
              }
            }
          }

          .b_2 {
            width: 85%;
            display: flex;
            // border: 1px solid blue;
            box-sizing: border-box;
            align-items: center;
            justify-content: space-evenly;
            // margin-left: 20px;

            li {
              box-sizing: border-box;
              // width: 20%;
              // background-color: rgba(0, 255, 255, 0.203);
              // flex-grow: 1;
              // margin: 0 auto;
              // border: 1px solid yellowgreen;
              transition: all ease-in-out 0.3s;

              &:hover {
                transform: scale(1.3);
                transition: all ease-in-out 0.5s;
              }

              &:hover > .b_2-1 {
                display: block;
                transform: scale(1);
                z-index: 999;
                opacity: 1;
                transition: all ease-in-out 0.9s;
              }

              &:hover > .b_2-1 > li {
                transform: scale(1);
              }

              a {
                // border: 1px solid oldlace;
                display: block;
                box-sizing: border-box;
                text-decoration: none;
                width: 100%;
                text-align: center;
                font-size: $h3;
                letter-spacing: 0.5rem;
                transition: all ease-in-out 0.3s;

                @include breakpoint-1440 {
                  font-size: 17px;
                }

                &:hover {
                  color: orange;
                  transition: all ease-in-out 0.3s;
                }

                svg {
                  width: 100%;
                  // border: 1px solid $orange;
                  color: $orange;

                  // text-align: center;
                  &:hover {
                    color: orange;
                  }
                }
              }

              // google登入顯示頭貼
              .google_photo {
                img {
                  border-radius: 50%;
                  max-width: 60px;
                }
              }

              // 一般登入顯示暱稱第一個字
              .nickname {
                border: 1px solid $orange;
                color: $orange;
              }

              .b_2-1 {
                border-radius: 5px;
                margin-top: 10px;
                // display: none;
                opacity: 0;
                padding: 20px;
                background-color: $purple;
                width: 25%;
                position: fixed;
                transition: all ease-in-out 0.3s;
                z-index: -1;

                &::before {
                  position: absolute;
                  content: "";
                  top: -15px;
                  left: 25px;
                  width: 0px;
                  height: 0px;
                  border-style: solid;
                  border-width: 0 50px 30px 50px;
                  border-color: transparent transparent #6511e1 transparent;
                  transform: rotate(0deg);
                }

                li {
                  padding: 10px 0;
                  width: 100%;
                  border-bottom: 1px solid white;
                  box-sizing: border-box;

                  a {
                    display: flex;
                    width: 100%;

                    // background-color: aqua;
                    img {
                      display: block;
                      width: 25%;

                      // height: 500px;
                    }

                    .p {
                      width: 100%;
                      display: block;
                      // background-color: #01072B;
                      box-sizing: border-box;

                      .title {
                        letter-spacing: 1px;
                        text-align: left;
                        padding: 20px;
                        box-sizing: border-box;
                      }

                      .price {
                        text-decoration: line-through;
                        font-size: $h4;
                        color: rgb(52, 51, 51);
                        text-align: left;
                        margin-left: 20px;
                        padding: 5px;

                        @include breakpoint-1440 {
                          font-size: 17px;
                        }
                      }

                      .price2 {
                        text-align: left;
                        margin-left: 20px;
                        color: aliceblue;
                        padding: 5px;
                        box-sizing: border-box;
                      }
                    }
                  }

                  &:hover {
                    transform: scale(1.03);
                  }
                }

                :nth-child(3) {
                  border-bottom: none;
                }
              }
            }

            li:nth-child(1) {
              width: 37%;

              // background-color: aqua;
              &:hover {
                transform: none;
              }
            }

            li:nth-child(4) {
              width: 10%;
              // background-color: aqua;
            }
          }
        }

        .active {
          color: orange;
        }

        .c_part {
          display: none;
        }
      }
    }

    @keyframes gradient {
      0% {
        border-image: linear-gradient(to right, yellow, rgb(255, 0, 0)) 1;
      }

      50% {
        border-image: linear-gradient(to right, rgb(255, 0, 0), yellow) 1;
      }

      100% {
        border-image: linear-gradient(to right, yellow, orangered) 1;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 7px;
    max-width: 1000px;
    width: 100%;
    border-bottom: 2px solid;
    position: sticky;
    top: 0;
    z-index: 990;
    background: rgba(0, 0, 0, 0.582);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    .top {
      max-width: 1000px;
      width: 95%;

      // background-color: rgba(7, 110, 200, 0.436);
      .logo {
        width: 45%;

        // border: 1px solid red;
        > a > img {
          padding: 0;
        }
      }

      .menu {
        // display: none;
        // background-color: rgba(240, 255, 255, 0.305);
        .a_part {
          display: none;
        }

        .b_part {
          display: none;
        }

        .c_part {
          display: block;

          .fafa {
            width: 100%;

            /* background-color: #6070ff; */
            .toggle {
              position: absolute;
              display: block;
              cursor: pointer;
              top: 70px;
              right: 0;
              transform: translate(-50%, -50%);

              span {
                display: block;
                background: $orange;
                width: 50px;
                height: 3px;
                border-radius: 3px;
                transition: 0.25s margin 0.25s, 0.25s transform;
              }
            }
          }

          .rwd-item {
            position: absolute;
            width: 100%;
            height: 1300px;
            top: 152px;
            left: 0;
            // background-color: #000000ec;
            background: linear-gradient(
              to bottom,
              #000000,
              #000000,
              #000000,
              #30016d,
              #4400ff13
            );
            flex-direction: column;
            display: none;
            z-index: 999;

            .r-item {
              // position: relative;
              // z-index: 999;
              width: 100%;
              box-sizing: border-box;

              .topser {
                width: 100%;
                z-index: 90000;
                border: none;
                padding: 20px;
                box-sizing: border-box;

                .ser {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  box-sizing: border-box;

                  // border: 1px solid yellowgreen;

                  SVG {
                    color: orangered;
                    position: absolute;
                    top: 52px;
                    right: 20px;
                  }

                  input[type="text"] {
                    width: 90%;
                    padding: 5px 10px;
                    // border: 1px solid orangered;
                    border: none;
                    border-radius: 0px;
                    // background-color: transparent;
                    background-color: rgba(255, 68, 0, 0.275);
                    margin: auto 0;
                  }

                  button {
                    // width: 20%;
                    // background-color: black;
                    // border: 1px solid orangered;
                    background-color: rgba(255, 68, 0, 0.275);
                    border: none;
                    cursor: pointer;
                    box-sizing: border-box;
                    display: inline-block;
                    padding: 3.5px;
                    transition: all ease-in-out 0.3s;
                    // border-radius: 50px;

                    i {
                      // margin: 0 auto;
                      color: orangered;
                      display: inline-block;
                      // border: 1px solid blue;
                      text-align: center;
                      margin: 0;
                      padding: 0 5px;
                    }

                    &:hover {
                      background-color: rgb(255, 68, 0);
                      transition: all ease-in-out 0.3s;

                      > i {
                        color: aliceblue;
                        transition: all ease-in-out 0.3s;
                      }
                    }
                  }
                }

                .result {
                  margin-top: 10px;
                  background-color: rgb(87, 23, 0);
                  position: absolute;
                  width: 90%;
                  padding: 0 5px;
                  box-sizing: border-box;
                  cursor: pointer;
                  z-index: 999;

                  display: none; //這邊關閉
                  // overflow: hidden;

                  .rlist {
                    width: 100%;
                    box-sizing: border-box;
                    transition: all ease-in-out 0.3s;
                    border: none;
                    cursor: pointer;
                    padding: 5px 0;
                    // border: 1px solid orange;
                    .alist {
                      display: flex;
                      width: 100%;
                      // border: 1px solid blueviolet;
                      // padding: 5px;
                      margin: 0;
                      box-sizing: border-box;
                      cursor: pointer;

                      img {
                        width: 25%;
                      }
                      .gtitle {
                        width: 85%;
                        padding: 5px 0;
                        line-height: 1.2;
                        cursor: pointer;
                      }
                    }
                    &:hover {
                      background-color: orangered;
                      transition: all ease-in-out 0.3s;
                      cursor: pointer;
                    }
                    // &:hover>.alist{
                    //   cursor: pointer;
                    //   background-color: #6070ff;
                    // }
                  }
                  &:hover {
                    cursor: pointer;
                  }
                }
              }

              li {
                width: 90%;
                border-bottom: 1px solid $orange;
                padding: 20px 0px;
                margin: 0 auto;
                box-sizing: border-box;

                // background-color: #1f0d00;
                a {
                  font-size: 15px;
                  letter-spacing: 0.5rem;
                  text-decoration: none;
                  box-sizing: border-box;
                  align-items: center;
                  transition: inherit;
                  display: flex;

                  img {
                    display: block;
                    color: $orange;
                    // background-color: #6070ff;
                    width: 35px;
                    padding: 0 15px 0 0px;

                    box-sizing: border-box;
                    // margin: 0 auto;
                  }
                }
              }
            }
          }

          .toggle span:nth-child(1) {
            margin-bottom: 7px;
          }

          .toggle span:nth-child(3) {
            margin-top: 7px;
          }

          .toggle.active span {
            transition: 0.25s margin, 0.25s transform 0.25s;
          }

          .toggle.active span:nth-child(1) {
            /* margin-top: 3px; */
            margin-bottom: -3px;
            transform: rotate(45deg);
            background-color: #6070ff;
          }

          .toggle.active span:nth-child(2) {
            transform: rotate(45deg);
          }

          .toggle.active span:nth-child(3) {
            margin-top: -3px;
            transform: rotate(135deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .header {
    font-size: 7px;
    max-width: 820px;
    width: 100%;
    border-bottom: 2px solid;
    position: sticky;
    top: 0;
    z-index: 990;
    background: rgba(0, 0, 0, 0.582);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    .top {
      max-width: 1000px;
      width: 95%;

      // background-color: rgba(7, 110, 200, 0.436);
      .logo {
        width: 45%;

        // border: 1px solid red;
        > a > img {
          padding: 0;
        }
      }

      .menu {
        // display: none;
        // background-color: rgba(240, 255, 255, 0.305);
        .a_part {
          display: none;
        }

        .b_part {
          display: none;
        }

        .c_part {
          display: block;

          .fafa {
            width: 100%;

            /* background-color: #6070ff; */
            .toggle {
              position: absolute;
              display: block;
              cursor: pointer;
              top: 70px;
              right: 0;
              transform: translate(-50%, -50%);

              span {
                display: block;
                background: $orange;
                width: 50px;
                height: 3px;
                border-radius: 3px;
                transition: 0.25s margin 0.25s, 0.25s transform;
              }
            }
          }

          .rwd-item {
            position: absolute;
            width: 100%;
            height: 1300px;
            top: 132px;
            left: 0;
            // background-color: #000000ec;
            background: linear-gradient(
              to bottom,
              #000000,
              #000000,
              #000000,
              #30016d,
              #4400ff13
            );
            flex-direction: column;
            display: none;
            z-index: 999;

            .r-item {
              // position: relative;
              // z-index: 999;
              width: 100%;
              box-sizing: border-box;

              // background-color: #7e1fcc;

              li {
                width: 90%;
                border-bottom: 1px solid $orange;
                padding: 20px 0px;
                margin: 0 auto;
                box-sizing: border-box;

                // background-color: #1f0d00;
                a {
                  font-size: 15px;
                  letter-spacing: 0.5rem;
                  text-decoration: none;
                  box-sizing: border-box;
                  align-items: center;
                  transition: inherit;
                  display: flex;

                  img {
                    display: block;
                    color: $orange;
                    // background-color: #6070ff;
                    width: 35px;
                    padding: 0 15px 0 0px;

                    box-sizing: border-box;
                    // margin: 0 auto;
                  }
                }
              }
            }
          }

          .toggle span:nth-child(1) {
            margin-bottom: 7px;
          }

          .toggle span:nth-child(3) {
            margin-top: 7px;
          }

          .toggle.active span {
            transition: 0.25s margin, 0.25s transform 0.25s;
          }

          .toggle.active span:nth-child(1) {
            /* margin-top: 3px; */
            margin-bottom: -3px;
            transform: rotate(45deg);
            background-color: #6070ff;
          }

          .toggle.active span:nth-child(2) {
            transform: rotate(45deg);
          }

          .toggle.active span:nth-child(3) {
            margin-top: -3px;
            transform: rotate(135deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 7px;
    max-width: 768px;
    width: 100%;
    border-bottom: 2px solid;
    position: sticky;
    top: 0;
    z-index: 990;
    background: rgba(0, 0, 0, 0.582);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    .top {
      max-width: 768px;
      width: 95%;

      // background-color: rgba(7, 110, 200, 0.436);
      .logo {
        width: 45%;

        // border: 1px solid red;
        > a > img {
          padding: 0;
        }
      }

      .menu {
        // display: none;
        // background-color: rgba(240, 255, 255, 0.305);
        .a_part {
          display: none;
        }

        .b_part {
          display: none;
        }

        .c_part {
          display: block;

          .fafa {
            width: 100%;

            /* background-color: #6070ff; */
            .toggle {
              position: absolute;
              display: block;
              cursor: pointer;
              top: 60px;
              right: 0;
              transform: translate(-50%, -50%);

              span {
                display: block;
                background: $orange;
                width: 40px;
                height: 3px;
                border-radius: 3px;
                transition: 0.25s margin 0.25s, 0.25s transform;
              }
            }
          }

          .rwd-item {
            position: absolute;
            width: 100%;
            height: 800px;
            top: 125px;
            left: 0;
            // background-color: #000000ec;
            background: linear-gradient(
              to bottom,
              #000000,
              #000000,
              #000000,
              #30016d,
              #4400ff13
            );
            flex-direction: column;
            display: none;
            z-index: 999;

            .r-item {
              // position: relative;
              // z-index: 999;
              width: 100%;
              box-sizing: border-box;

              // background-color: #7e1fcc;
              // .search {
              //   width: 100%;
              //   align-items: center;
              //   padding: 10px;

              //   margin: 10px auto 0;
              //   // border-bottom: 1px solid rgb(218, 8, 255);
              //   box-sizing: border-box;

              //   input {
              //     width: 80%;
              //     display: block;
              //     margin: 0 auto 10px;
              //   }
              // }
              form {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                box-sizing: border-box;
                // border: 1px solid yellowgreen;

                SVG {
                  color: orangered;
                  position: absolute;
                  top: 52px;
                  right: 20px;
                }

                input[type="text"] {
                  width: 70%;
                  padding: 10px 10px;
                  // border: 1px solid orangered;
                  border: none;
                  border-radius: 0px;
                  // background-color: transparent;
                  background-color: rgba(255, 68, 0, 0.275);
                  margin: auto 0;
                }

                button {
                  // width: 20%;
                  // background-color: black;
                  // border: 1px solid orangered;
                  background-color: rgba(255, 68, 0, 0.275);
                  border: none;
                  cursor: pointer;
                  box-sizing: border-box;
                  display: inline-block;
                  padding: 3.5px;
                  transition: all ease-in-out 0.3s;
                  // border-radius: 50px;

                  i {
                    // margin: 0 auto;
                    color: orangered;
                    display: inline-block;
                    // border: 1px solid blue;
                    text-align: center;
                    margin: 0;
                    padding: 5px 5px;
                  }
                }
              }

              li {
                width: 90%;
                border-bottom: 1px solid $orange;
                padding: 20px 0px;
                margin: 0 auto;
                box-sizing: border-box;

                // background-color: #1f0d00;
                a {
                  font-size: 15px;
                  letter-spacing: 0.5rem;
                  text-decoration: none;
                  box-sizing: border-box;
                  align-items: center;
                  transition: inherit;
                  display: flex;

                  img {
                    display: block;
                    color: $orange;
                    // background-color: #6070ff;
                    width: 35px;
                    padding: 0 15px 0 0px;

                    box-sizing: border-box;
                    // margin: 0 auto;
                  }
                }
              }
            }
          }

          .toggle span:nth-child(1) {
            margin-bottom: 7px;
          }

          .toggle span:nth-child(3) {
            margin-top: 7px;
          }

          .toggle.active span {
            transition: 0.25s margin, 0.25s transform 0.25s;
          }

          .toggle.active span:nth-child(1) {
            /* margin-top: 3px; */
            margin-bottom: -3px;
            transform: rotate(45deg);
            background-color: #6070ff;
          }

          .toggle.active span:nth-child(2) {
            transform: rotate(45deg);
          }

          .toggle.active span:nth-child(3) {
            margin-top: -3px;
            transform: rotate(135deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .header {
    font-size: 7px;
    max-width: 540px;
    width: 100%;
    border-bottom: 2px solid;
    position: sticky;
    top: 0;
    z-index: 990;
    background: rgba(0, 0, 0, 0.582);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    .top {
      max-width: 540px;
      width: 95%;

      // background-color: rgba(7, 110, 200, 0.436);
      .logo {
        width: 45%;

        // border: 1px solid red;
        > a > img {
          padding: 0;
        }
      }

      .menu {
        // display: none;
        // background-color: rgba(240, 255, 255, 0.305);
        .a_part {
          display: none;
        }

        .b_part {
          display: none;
        }

        .c_part {
          display: block;

          .fafa {
            width: 100%;

            /* background-color: #6070ff; */
            .toggle {
              position: absolute;
              display: block;
              cursor: pointer;
              top: 45px;
              right: 0;
              transform: translate(-50%, -50%);

              span {
                display: block;
                background: $orange;
                width: 30px;
                height: 3px;
                border-radius: 3px;
                transition: 0.25s margin 0.25s, 0.25s transform;
              }
            }
          }

          .rwd-item {
            position: absolute;
            width: 100%;
            height: 800px;
            top: 97px;
            left: 0;
            // background-color: #000000ec;
            background: linear-gradient(
              to bottom,
              #000000,
              #000000,
              #000000,
              #30016d,
              #4400ff13
            );
            flex-direction: column;
            display: none;
            z-index: 999;

            .r-item {
              // position: relative;
              // z-index: 999;
              width: 100%;
              box-sizing: border-box;

              // background-color: #7e1fcc;
              // .search {
              //   width: 100%;
              //   align-items: center;
              //   padding: 10px;

              //   margin: 10px auto 0;
              //   // border-bottom: 1px solid rgb(218, 8, 255);
              //   box-sizing: border-box;

              //   input {
              //     width: 80%;
              //     display: block;
              //     margin: 0 auto 10px;
              //   }
              // }
              form {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                box-sizing: border-box;
                // border: 1px solid yellowgreen;

                SVG {
                  color: orangered;
                  position: absolute;
                  top: 52px;
                  right: 20px;
                }

                input[type="text"] {
                  width: 70%;
                  padding: 5px 10px;
                  // border: 1px solid orangered;
                  border: none;
                  border-radius: 0px;
                  // background-color: transparent;
                  background-color: rgba(255, 68, 0, 0.275);
                  margin: auto 0;
                }

                button {
                  // width: 20%;
                  // background-color: black;
                  // border: 1px solid orangered;
                  background-color: rgba(255, 68, 0, 0.275);
                  border: none;
                  cursor: pointer;
                  box-sizing: border-box;
                  display: inline-block;
                  padding: 3.5px;
                  transition: all ease-in-out 0.3s;
                  // border-radius: 50px;

                  i {
                    // margin: 0 auto;
                    color: orangered;
                    display: inline-block;
                    // border: 1px solid blue;
                    text-align: center;
                    margin: 0;
                    padding: 0 5px;
                  }

                  &:hover {
                    background-color: rgb(255, 68, 0);
                    transition: all ease-in-out 0.3s;

                    > i {
                      color: aliceblue;
                      transition: all ease-in-out 0.3s;
                    }
                  }
                }
              }

              li {
                width: 90%;
                border-bottom: 1px solid $orange;
                padding: 20px 0px;
                margin: 0 auto;
                box-sizing: border-box;

                // background-color: #1f0d00;
                a {
                  font-size: 15px;
                  letter-spacing: 0.5rem;
                  text-decoration: none;
                  box-sizing: border-box;
                  align-items: center;
                  transition: inherit;
                  display: flex;

                  img {
                    display: block;
                    color: $orange;
                    // background-color: #6070ff;
                    width: 35px;
                    padding: 0 15px 0 0px;

                    box-sizing: border-box;
                    // margin: 0 auto;
                  }
                }
              }
            }
          }

          .toggle span:nth-child(1) {
            margin-bottom: 7px;
          }

          .toggle span:nth-child(3) {
            margin-top: 7px;
          }

          .toggle.active span {
            transition: 0.25s margin, 0.25s transform 0.25s;
          }

          .toggle.active span:nth-child(1) {
            /* margin-top: 3px; */
            margin-bottom: -3px;
            transform: rotate(45deg);
            background-color: #6070ff;
          }

          .toggle.active span:nth-child(2) {
            transform: rotate(45deg);
          }

          .toggle.active span:nth-child(3) {
            margin-top: -3px;
            transform: rotate(135deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .header {
    font-size: 7px;
    max-width: 414px;
    width: 100%;
    border-bottom: 2px solid;
    position: sticky;
    top: 0;
    z-index: 990;
    background: rgba(0, 0, 0, 0.582);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    .top {
      max-width: 414px;
      width: 95%;

      // background-color: rgba(7, 110, 200, 0.436);
      .logo {
        width: 45%;

        // border: 1px solid red;
        > a > img {
          padding: 0;
        }
      }

      .menu {
        // display: none;
        // background-color: rgba(240, 255, 255, 0.305);
        .a_part {
          display: none;
        }

        .b_part {
          display: none;
        }

        .c_part {
          display: block;

          .fafa {
            width: 100%;

            /* background-color: #6070ff; */
            .toggle {
              position: absolute;
              display: block;
              cursor: pointer;
              top: 40px !important;
              right: 0;
              transform: translate(-50%, -50%);

              span {
                display: block;
                background: $orange;
                width: 30px;
                height: 3px;
                border-radius: 3px;
                transition: 0.25s margin 0.25s, 0.25s transform;
              }
            }
          }

          .rwd-item {
            position: absolute;
            width: 100%;
            height: 800px;
            top: 82px;
            left: 0;
            // background-color: #000000ec;
            background: linear-gradient(
              to bottom,
              #000000,
              #000000,
              #000000,
              #30016d,
              #4400ff13
            );
            flex-direction: column;
            // display: none;
            z-index: 999;

            .r-item {
              // position: relative;
              // z-index: 999;
              width: 100%;
              box-sizing: border-box;

              // background-color: #7e1fcc;
              // .search {
              //   width: 100%;
              //   align-items: center;
              //   padding: 10px;
              //   display: flex;
              //   margin: 10px auto 0;
              //   background-color: #ff9705;
              //   box-sizing: border-box;

              //   input {
              //     width: 70%;
              //     display: block;
              //     margin: 0 auto 10px;
              //   }

              //   button{
              //     // width: 20%;
              //     // background-color: black;
              //     // border: 1px solid orangered;
              //     background-color: rgba(255, 68, 0, 0.275);
              //     border: none;
              //     cursor: pointer;
              //     box-sizing: border-box;
              //     display: inline-block;
              //     padding: 3.5px ;
              //     transition: all ease-in-out .3s;
              //     // border-radius: 50px;

              //     i{
              //       // margin: 0 auto;
              //       color: orangered;
              //       display: inline-block;
              //       // border: 1px solid blue;
              //       text-align: center;
              //       margin: 0;
              //       padding: 0 5px;
              //     }

              //   }

              // }

              form {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                box-sizing: border-box;
                // border: 1px solid yellowgreen;

                SVG {
                  color: orangered;
                  position: absolute;
                  top: 52px;
                  right: 20px;
                }

                input[type="text"] {
                  width: 70%;
                  padding: 5px 10px;
                  // border: 1px solid orangered;
                  border: none;
                  border-radius: 0px;
                  // background-color: transparent;
                  background-color: rgba(255, 68, 0, 0.275);
                  margin: auto 0;
                }

                button {
                  // width: 20%;
                  // background-color: black;
                  // border: 1px solid orangered;
                  background-color: rgba(255, 68, 0, 0.275);
                  border: none;
                  cursor: pointer;
                  box-sizing: border-box;
                  display: inline-block;
                  padding: 3.5px;
                  transition: all ease-in-out 0.3s;
                  // border-radius: 50px;

                  i {
                    // margin: 0 auto;
                    color: orangered;
                    display: inline-block;
                    // border: 1px solid blue;
                    text-align: center;
                    margin: 0;
                    padding: 0 5px;
                  }

                  &:hover {
                    background-color: rgb(255, 68, 0);
                    transition: all ease-in-out 0.3s;

                    > i {
                      color: aliceblue;
                      transition: all ease-in-out 0.3s;
                    }
                  }
                }
              }

              li {
                width: 90%;
                border-bottom: 1px solid $orange;
                padding: 20px 0px;
                margin: 0 auto;
                box-sizing: border-box;

                // background-color: #1f0d00;
                a {
                  font-size: 15px;
                  letter-spacing: 0.5rem;
                  text-decoration: none;
                  box-sizing: border-box;
                  align-items: center;
                  transition: inherit;
                  display: flex;

                  img {
                    display: block;
                    color: $orange;
                    // background-color: #6070ff;
                    width: 35px;
                    padding: 0 15px 0 0px;

                    box-sizing: border-box;
                    // margin: 0 auto;
                  }
                }
              }
            }
          }

          .toggle span:nth-child(1) {
            margin-bottom: 7px;
          }

          .toggle span:nth-child(3) {
            margin-top: 7px;
          }

          .toggle.active span {
            transition: 0.25s margin, 0.25s transform 0.25s;
          }

          .toggle.active span:nth-child(1) {
            /* margin-top: 3px; */
            margin-bottom: -3px;
            transform: rotate(45deg);
            background-color: #6070ff;
          }

          .toggle.active span:nth-child(2) {
            transform: rotate(45deg);
          }

          .toggle.active span:nth-child(3) {
            margin-top: -3px;
            transform: rotate(135deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .header {
    font-size: 7px;
    max-width: 390px;
    width: 100%;
    border-bottom: 2px solid;
    position: sticky;
    top: 0;
    z-index: 990;
    background: rgba(0, 0, 0, 0.582);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    .top {
      max-width: 390px;
      width: 95%;

      // background-color: rgba(7, 110, 200, 0.436);
      .logo {
        width: 45%;

        // border: 1px solid red;
        > a > img {
          padding: 0;
        }
      }

      .menu {
        // display: none;
        // background-color: rgba(240, 255, 255, 0.305);
        .a_part {
          display: none;
        }

        .b_part {
          display: none;
        }

        .c_part {
          display: block;

          .fafa {
            width: 100%;

            /* background-color: #6070ff; */
            .toggle {
              position: absolute;
              display: block;
              cursor: pointer;
              top: 40px !important;
              right: 0;
              transform: translate(-50%, -50%);

              span {
                display: block;
                background: $orange;
                width: 30px;
                height: 3px;
                border-radius: 3px;
                transition: 0.25s margin 0.25s, 0.25s transform;
              }
            }
          }

          .rwd-item {
            position: absolute;
            width: 100%;
            height: 800px;
            top: 80px;
            left: 0;
            // background-color: #000000ec;
            background: linear-gradient(
              to bottom,
              #000000,
              #000000,
              #000000,
              #30016d,
              #4400ff13
            );
            flex-direction: column;
            display: none;
            z-index: 999;

            .r-item {
              // position: relative;
              // z-index: 999;
              width: 100%;
              box-sizing: border-box;

              // background-color: #7e1fcc;
              .search {
                width: 100%;
                align-items: center;
                padding: 10px;

                margin: 10px auto 0;
                // border-bottom: 1px solid rgb(218, 8, 255);
                box-sizing: border-box;

                input {
                  width: 80%;
                  display: block;
                  margin: 0 auto 10px;
                }
              }

              li {
                width: 90%;
                border-bottom: 1px solid $orange;
                padding: 20px 0px;
                margin: 0 auto;
                box-sizing: border-box;

                // background-color: #1f0d00;
                a {
                  font-size: 15px;
                  letter-spacing: 0.5rem;
                  text-decoration: none;
                  box-sizing: border-box;
                  align-items: center;
                  transition: inherit;
                  display: flex;

                  img {
                    display: block;
                    color: $orange;
                    // background-color: #6070ff;
                    width: 35px;
                    padding: 0 15px 0 0px;

                    box-sizing: border-box;
                    // margin: 0 auto;
                  }
                }
              }
            }
          }

          .toggle span:nth-child(1) {
            margin-bottom: 7px;
          }

          .toggle span:nth-child(3) {
            margin-top: 7px;
          }

          .toggle.active span {
            transition: 0.25s margin, 0.25s transform 0.25s;
          }

          .toggle.active span:nth-child(1) {
            /* margin-top: 3px; */
            margin-bottom: -3px;
            transform: rotate(45deg);
            background-color: #6070ff;
          }

          .toggle.active span:nth-child(2) {
            transform: rotate(45deg);
          }

          .toggle.active span:nth-child(3) {
            margin-top: -3px;
            transform: rotate(135deg);
          }
        }
      }
    }
  }
}
