<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 優惠券資訊修改頁</title>
    @@include('./layout/style.html')
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body class="B">
    <!-- header -->
    @@include('./layout/B_header.html')

    <main class="B_coupon_info_2">
        <!-- 左側選單列 -->
        @@include('./layout/B_nav.html')

        <!-- 右側 -->
        <div class="right col-12">
            <a href="./B_coupon.html">
                <h6>回上一頁</h6>
            </a>
            <div class="right_main" id="B_coupon_info2">
                <form @submit="saveCoupon">
                    <div class="B_button">
                        <h4>優惠券內容</h4>
                        <button type="submit" class="btn">儲存</button>
                    </div>
                    <ul>
                        <li>
                            <label for="couponcode">
                                <h6>優惠券代碼</h6>
                            </label>
                            <input type="text" v-model="couponCode" id="couponcode" placeholder="請輸入編號">
                        </li>
                        <li>
                            <label for="couponname">
                                <h6>優惠券標題</h6>
                            </label>
                            <input type="text" v-model="couponName" id="couponname" placeholder="請輸入優惠券名稱">
                        </li>
                        <li>
                            <label for="coupondetail">
                                <h6>優惠券內容</h6>
                            </label>
                            <textarea v-model="couponDetail" id="coupondetail" cols="100" rows="10"
                                placeholder="請輸入優惠券內容"></textarea>
                        </li>
                        <li class="B_grid_four">
                            <label for="couponbegin">
                                <h6>優惠券開始時間</h6>
                            </label>
                            <input id="beginDate" type="date" v-model="couponBegin" id="couponbegin"
                                placeholder="年/月/日">
                            <label for="couponend">
                                <h6>優惠券結束時間</h6>
                            </label>
                            <input id="endDate" type="date" v-model="couponEnd" id="couponend" placeholder="年/月/日">
                        </li>
                        <li class="B_grid_three">
                            <label for="price">
                                <h6>折扣金額</h6>
                            </label>
                            <input type="text" v-model="couponDiscount" id="price" placeholder="請輸入金額" inputmode="numeric" pattern="[0-9]*">
                        </li>
                        <li>
                            <label for="minprice">
                                <h6>使用規則</h6>
                            </label>
                            <textarea v-model="minimumLimit" id="minprice" cols="100" rows="10"
                                placeholder="請輸入規則"></textarea>
                        </li>
                        <li style="display: none;">
                            <label for="couponStatus">
                                <h6>狀態</h6>
                            </label>
                            <input type="hidden" name="couponStatus" value="1">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </main>
    @@include('./layout/js.html')
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        //渲染訂單資料
        Vue.createApp({
            data() {
                return {
                    couponCode: '',
                    couponName: '',
                    couponDetail: '',
                    couponBegin: '',
                    couponEnd: '',
                    couponDiscount: '',
                    minimumLimit: '',
                    couponStatus: ''
                }
            },
            methods: {
                saveCoupon(event) {
                    event.preventDefault();
                    if (!this.couponCode || !this.couponName || !this.couponDetail || !this.couponBegin || !this.couponEnd || !this.couponDiscount || !this.minimumLimit) {
                        alert("請輸入所有欄位！");
                        return;
                    }

                    if (this.couponEnd && !this.couponEnd.includes(' ')) {
                        this.couponEnd += ' 23:59:59';
                    }

                    const formData = new FormData();
                    formData.append('couponCode', this.couponCode);
                    formData.append('couponName', this.couponName);
                    formData.append('couponDetail', this.couponDetail);
                    formData.append('couponBegin', this.couponBegin);
                    formData.append('couponEnd', this.couponEnd);
                    formData.append('couponDiscount', this.couponDiscount);
                    formData.append('minimumLimit', this.minimumLimit);
                    formData.append('couponStatus', this.couponStatus);

                    axios.post(php_url + 'B_insert_coupon.php', formData)
                        .then(response => {
                            // console.log(response);
                            // 重定向到某個頁面

                            alert("新增成功");
                            window.location.href = "B_coupon.html";
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }
            },
            mounted() {
                //input
                flatpickr("#beginDate", {
                    dateFormat: "Y/m/d",
                    minDate: "today",
                    theme: "light"
                });
                flatpickr("#endDate", {
                    dateFormat: "Y/m/d",
                    minDate: "today",
                    theme: "light"
                });
            }
        }).mount('#B_coupon_info2');
    </script>
</body>

</html>