<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 優惠券管理</title>
    @@include('./layout/style.html')
</head>

<body class="B">
    <!-- header -->
    @@include('./layout/B_header.html')
    <main class="B_coupon">
        <!-- 左側選單列 -->
        @@include('./layout/B_nav.html')

        <!-- 右側 -->
        <div class="right col-12" id="B_coupon">
            <!-- 右側上 -->
            <div class="right-top backend_color">
                <form @submit.prevent="submitQuery">
                    <label for="coupon">
                        <h6>查詢優惠券編號：</h6>
                    </label>
                    <input type="text" v-model="whichcoupon" id="coupon">
                    <button type="submit" class="btn">查詢</button>
                    <button type="submit" class="btn bi bi-plus-lg" @click.prevent="B_coupon_info_2">增加優惠券</button>
                </form>
            </div>

            <!-- 右側下 -->
            <div class="right-bottom">
                <table>
                    <thead class="backend_color">
                        <tr>
                            <th>
                                <h5>優惠券編號</h5>
                            </th>
                            <th>
                                <h5>優惠券標題、內容</h5>
                            </th>
                            <th>
                                <h5>優惠時間</h5>
                            </th>
                            <th>
                                <h5>顯示狀態</h5>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(coupon,index) in displayedCoupons" :key="index">
                            <td @click="viewcoupon(coupon.COUPON_ID)">
                                <h6>{{coupon.COUPON_CODE}}</h6>
                            </td>
                            <td @click="viewcoupon(coupon.COUPON_ID)">
                                <h6>{{coupon.COUPON_NAME}}<br>
                                    {{coupon.COUPON_DETAIL}}<br>
                                    使用規則:{{coupon.MINIMUM_LIMIT}}</h6>
                            </td>
                            <td @click="viewcoupon(coupon.COUPON_ID)">
                                <h6>{{coupon.COUPON_BEGIN}}~{{coupon.COUPON_END}}</h6>
                            </td>
                            <td>
                                <button class="btn" @click="togglecouponstatus(coupon)">{{ coupon.COUPON_STATUS === 1 ?
                                    '正常' : '停用' }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 分頁 -->
                <ul class="B_pagination" v-if="totalPages > 1">
                    <li class="B_page-item" :class="{ active: currentPage === page }" v-for="page in totalPages"
                        :key="page">
                        <a class="B_page-link" href="#" @click="setCurrentPage(page)">{{ page }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    @@include('./layout/js.html')
    <!-- <script>
        function B_coupon_info_2(e) {
            e.preventDefault();
            window.location.href = "B_coupon_info_2.html"
        }
    </script> -->

    <script>
        //渲染全部訂單資料
        Vue.createApp({
            data() {
                return {
                    coupons: [],
                    whichcoupon: '',
                    currentPage: 1, // 目前顯示的頁面
                    itemsPerPage: 6, // 每頁顯示的資料筆數
                }
            },
            computed: {
                displayedCoupons() {
                    const startIndex = (this.currentPage - 1) * this.itemsPerPage;
                    const endIndex = startIndex + this.itemsPerPage;
                    return this.coupons.slice(startIndex, endIndex);
                },
                totalPages() {
                    return Math.ceil(this.coupons.length / this.itemsPerPage);
                },
            },
            methods: {
                viewcoupon(couponsid) {
                    //跳轉info
                    location.href = 'B_coupon_info.html?id=' + couponsid;
                },
                B_coupon_info_2() {
                    // e.preventDefault();
                    window.location.href = "B_coupon_info_2.html"
                },
                submitQuery() {
                    if (!this.whichcoupon) {
                        this.fetchAllcoupons();
                        return;
                    }
                    const formData = new FormData();
                    formData.append('whichcoupon', this.whichcoupon);

                    axios.post(php_url + 'B_search_coupons.php', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                        .then((response) => {
                            this.coupons = response.data;
                            // console.log(this.coupons);
                            // 跳轉到會員資訊頁面
                            // window.location.href = 'B_member_info.html?id=' + memberid;
                            if (this.coupons.length === 0) {
                                alert('查無資料');
                                this.fetchAllcoupons();
                            }
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                },
                togglecouponstatus(coupon) {
                    coupon.COUPON_STATUS = coupon.COUPON_STATUS === 1 ? 0 : 1;

                    // 将数据发送到服务器进行修改
                    const formData = new FormData();
                    formData.append('couponId', coupon.COUPON_ID);
                    formData.append('couponStatus', coupon.COUPON_STATUS);

                    axios.post(php_url + 'B_update_coupon_status.php', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                        .then((response) => {
                            // 处理成功响应
                            // console.log(response);
                        })
                        .catch((error) => {
                            // 处理错误响应
                            console.error(error);
                        });
                },
                fetchAllcoupons() {
                    axios.get(php_url + 'B_coupon.php')
                        .then((response) => {
                            // console.log(response);
                            this.coupons = response.data;
                        })
                },
                setCurrentPage(page) {
                    this.currentPage = page;
                },
            },
            mounted() {
                this.fetchAllcoupons();
            }

        }).mount('#B_coupon')
    </script>
</body>

</html>