<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 遊戲管理</title>
    @@include('./layout/style.html')
</head>

<body class="B">
    <!-- header -->
    @@include('./layout/B_header.html')
    <main class="B_games">
        <!-- 左側選單列 -->
        @@include('./layout/B_nav.html')

        <!-- 右側 -->
        <div class="right col-12">
            <!-- 右側上 -->
            <div class="right-top backend_color">
                <form action="" method="">
                    <label for="type">查詢類型：</label>
                    <select name="" id="type">
                        <option value="gamesID">遊戲名稱</option>
                        <option value="gamesNB">遊戲編號</option>
                    </select>
                    <label for="gamesID">查詢遊戲：</label>
                    <input type="text" name="" id="gamesID">
                    <button type="submit" class="btn">查詢</button>
                    <button type="submit" class="btn bi bi-plus-lg" onclick="B_games_info_2(event)">新增遊戲</button>
                </form>
            </div>

            <!-- 右側下 -->
            <div class="right-bottom">
                <table>
                    <thead class="backend_color">
                        <tr>
                            <th>
                                <h5>遊戲編號</h5>
                            </th>
                            <th>
                                <h5>遊戲名稱</h5>
                            </th>
                            <th>
                                <h5>上市日期</h5>
                            </th>
                            <th>
                                <h5>營運狀態</h5>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="B_game">
                        <tr v-for="(game,index) in games" :key="index" @click="viewgame(game.GAME_ID)">
                            <td>
                                <h6>{{game.GAME_ID}}</h6>
                            </td>
                            <td>
                                <h6>{{game.GAME_NAME}}</h6>
                            </td>
                            <td>
                                <h6>{{game.RELEASE_DATE}}</h6>
                            </td>
                            <td>
                                <h6 v-if="game.GAME_STATUS == 1">上架</h6>
                                <h6 v-else>下架</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 分頁 -->
            @@include('./layout/B_changepage.html')
        </div>
    </main>
    @@include('./layout/js.html')
    <script>
        function B_games_info_2(e) {
            e.preventDefault();
            window.location.href = "./B_games_info_2.html"
        }
    </script>


<script>
    //渲染全部會員資料
    Vue.createApp({
        data() {
            return {
                games: []
            }
        },
        methods: {
            viewgame(gameid){
                    //跳轉info
                    window.location.href = 'B_games_info.html?id=' + gameid;
                    // console.log(gameid);
                }
        },
        mounted() {
            axios.get(php_url + 'B_games.php')
                .then((response) => {
                    this.games = response.data;
                    console.log(this.games);
                    // console.log(memberid);
                })
        }

    }).mount('#B_game')
</script>
</body>

</html>