<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 遊戲管理</title>
    @@include('./layout/style.html')
</head>

<body class="B">
    <!-- header -->
    @@include('./layout/B_header.html')
    <main class="B_games">
        <!-- 左側選單列 -->
        @@include('./layout/B_nav.html')

        <!-- 右側 -->
        <div class="right col-12" id="B_game">
            <!-- 右側上 -->
            <div class="right-top backend_color">
                <form @submit.prevent="submitQuery">
                    <label for="type">查詢類型：</label>
                    <select v-model="queryType" id="type">
                        <option value="gamesid">遊戲編號</option>
                        <option value="gamesname">遊戲名稱</option>
                    </select>
                    <label for="gamesID">查詢遊戲：</label>
                    <input type="text" v-model="whichgame" id="gamesID">
                    <button type="submit" class="btn">查詢</button>
                    <button type="submit" class="btn bi bi-plus-lg" @click.prevent="B_games_info_2">新增遊戲</button>
                </form>
            </div>

            <!-- 右側下 -->
            <div class="right-bottom">
                <table>
                    <thead class="backend_color">
                        <tr>
                            <th>
                                <h5>遊戲編號</h5>
                            </th>
                            <th>
                                <h5>遊戲名稱</h5>
                            </th>
                            <th>
                                <h5>上市日期</h5>
                            </th>
                            <th>
                                <h5>營運狀態</h5>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(game,index) in displayedGames" :key="index">
                            <td @click="viewgame(game.GAME_ID)">
                                <h6>{{game.GAME_ID}}</h6>
                            </td>
                            <td @click="viewgame(game.GAME_ID)">
                                <h6>{{game.GAME_NAME}}</h6>
                            </td>
                            <td @click="viewgame(game.GAME_ID)">
                                <h6>{{game.RELEASE_DATE}}</h6>
                            </td>
                            <td>
                                <button class="btn" @click="togglegamestatus(game)">{{ game.GAME_STATUS === 1 ? '上架中' :
                                    '下架' }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- 分頁 -->
                <ul class="B_pagination" v-if="totalPages > 1">
                    <li class="B_page-item" :class="{ active: currentPage === page }" v-for="page in totalPages"
                        :key="page">
                        <a class="B_page-link" href="#" @click="setCurrentPage(page)">{{ page }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    @@include('./layout/js.html')

    <script>
        //渲染全部會員資料
        Vue.createApp({
            data() {
                return {
                    games: [],
                    queryType: 'gamesid',
                    whichgame: '',
                    currentPage: 1, // 目前顯示的頁面
                    itemsPerPage: 9, // 每頁顯示的資料筆數
                }
            },
            computed: {
                displayedGames() {
                    const startIndex = (this.currentPage - 1) * this.itemsPerPage;
                    const endIndex = startIndex + this.itemsPerPage;
                    return this.games.slice(startIndex, endIndex);
                },
                totalPages() {
                    return Math.ceil(this.games.length / this.itemsPerPage);
                },
            },
            methods: {
                viewgame(gameid) {
                    //跳轉info
                    window.location.href = 'B_games_info.html?id=' + gameid;
                    // console.log(gameid);
                },
                B_games_info_2() {
                    // e.preventDefault();
                    window.location.href = "./B_games_info_2.html"
                },
                submitQuery() {
                    if (!this.whichgame) {
                        this.fetchAllgames();
                        return;
                    }
                    const formData = new FormData();
                    formData.append('queryType', this.queryType);
                    formData.append('whichgame', this.whichgame);

                    axios.post(php_url + 'B_search_games.php', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                        .then((response) => {
                            this.games = response.data;
                            // console.log(this.games);
                            // 跳轉到會員資訊頁面
                            // window.location.href = 'B_member_info.html?id=' + memberid;
                            if (this.games.length === 0) {
                                alert('查無資料');
                                this.fetchAllgames();
                            }
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                },
                togglegamestatus(game) {
                    game.GAME_STATUS = game.GAME_STATUS === 1 ? 0 : 1;

                    // 将数据发送到服务器进行修改
                    const formData = new FormData();
                    formData.append('gameId', game.GAME_ID);
                    formData.append('gamestatus', game.GAME_STATUS);

                    axios.post(php_url + 'B_update_game_status.php', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                        .then((response) => {
                            // 处理成功响应
                            // console.log(response);
                            // window.location.href = 'B_games.html';
                        })
                        .catch((error) => {
                            // 处理错误响应
                            console.error(error);
                        });
                },
                fetchAllgames() {
                    axios.get(php_url + 'B_games.php')
                        .then((response) => {
                            this.games = response.data;
                            // console.log(this.games);
                            // console.log(memberid);
                        })
                },
                setCurrentPage(page) {
                    this.currentPage = page;
                },
            },
            mounted() {
                this.fetchAllgames();
            }

        }).mount('#B_game')
    </script>
</body>

</html>