<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 會員管理</title>
    @@include('./layout/style.html')
</head>

<body class="B">
    <!-- header -->
    @@include('./layout/B_header.html')
    <main class="B_member">
        <!-- 左側選單列 -->
        @@include('./layout/B_nav.html')

        <!-- 右側 -->
        <div class="right col-12">
            <!-- 右側上 -->
            <div class="right-top backend_color">
                <form action="" method="">
                    <label for="type">查詢類型：</label>
                    <select name="" id="type">
                        <option value="memberID">會員編號</option>
                        <option value="phone">會員電話</option>
                    </select>
                    <label for="memberID">查詢會員：</label>
                    <input type="text" name="" id="memberID">
                    <button type="submit" class="btn">查詢</button>
                </form>
            </div>

            <!-- 右側下 -->
            <div class="right-bottom">
                <table>
                    <thead class="backend_color">
                        <tr>
                            <th>
                                <h5>會員編號</h5>
                            </th>
                            <th>
                                <h5>會員帳號</h5>
                            </th>
                            <th>
                                <h5>會員姓名</h5>
                            </th>
                            <th>
                                <h5>電話號碼</h5>
                            </th>
                            <th>
                                <h5>註冊日期</h5>
                            </th>
                            <th>
                                <h5>帳號狀態</h5>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="B_member">
                        <tr v-for="(member,index) in members" :key="member.number" @click="viewmember(member.MEMBER_ID)">
                            <td>
                                <h6>{{member.MEMBERSHIP_NUMBER}}</h6>
                            </td>
                            <td>
                                <h6>{{member.MEMBER_ACCOUNT}}</h6>
                            </td>
                            <td>
                                <h6>{{member.USERNAME}}</h6>
                            </td>
                            <td>
                                <h6>{{member.PHONE}}</h6>
                            </td>
                            <td>
                                <h6>{{member.REGISTRATION_DATE}}</h6>
                            </td>
                            <td>
                                <h6 v-if="member.MEMBER_STATUS == 1">正常</h6>
                                <h6 v-else>鎖定</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 分頁 -->
            @@include('./layout/B_changepage.html')
        </div>
    </main>
    @@include('./layout/js.html')

    <script>
        //渲染全部會員資料
        Vue.createApp({
            data() {
                return {
                    members: []
                }
            },
            methods: {
                viewmember(order){
                    //跳轉info
                    window.location.href = 'B_member_info.html?id=' + memberid;
                    // console.log(memberid);
                }
            },
            mounted() {
                axios.get(php_url + 'B_member.php')
                    .then((response) => {
                        this.members = response.data;
                        // console.log(this.members);
                    })
            }

        }).mount('#B_member')
    </script>
</body>

</html>