<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 會員中心</title>
    @@include('./layout/style.html')
    <!-- 以下可以放自己的link -->
</head>

<body>
    <!-- header -->
    @@include('./layout/header.html')
    <main class="member_center" id="member_center">
    <h2>會員中心</h2>
    <section class="col-3 left">
        <ul class=" select">
            <li class="-on"><i class="bi bi-person-circle"></i>會員資料<i class="bi bi-chevron-right right_icon"></i></li>
            <li class=""><i class="order_icon"><img src="./pic/img/icon/order_icon_.png" alt=""></i>訂單記錄<i class="bi bi-chevron-right right_icon"></i></li>
            <li class=""><i class="bi bi-joystick"></i>遊戲庫<i class="bi bi-chevron-right right_icon"></i></li>
            <li class=""><i class="ticket_icon "><img src="./pic/img/icon/ticke_iocn.png" alt=""></i>會員優惠券<i class="bi bi-chevron-right right_icon"></i></li>
        </ul>
    </section>
    <i class="bi bi-arrow-left back"></i>
    <div id="member_infoo">
    <!-- 會員訂單 -->
    <section class="col-9 right -oon" >
        <div class="describe">
            <h2>我的檔案</h2>
            <p>管理你的檔案以保護你的帳戶</p>
          </div>
          <div class="member_info" id="member_info">
            <div class="img">
              <i class="bi bi-person-circle"></i>
              <div class="btn">選擇圖片</div>
              <p>檔案大小：最大1MB<br>檔案限制：JPEG、PNG</p>
            </div>
            <div class="info">
              <div class="info_left">
                <div class="mail">
                  <p>使用者帳號：</p>
                  <p>{{ email }}</p>
                </div>
                <div class="name">
                  <p>姓名：</p>
                  <p>{{ name }}</p>
                </div>
                <div class="nickname">
                  <p>暱稱：</p>
                  <p>{{ nickname }}</p>
                </div>
              </div>
              <div class="info_right">
                <div class="phone">
                  <p>手機號碼：</p>
                  <p>{{ phone }}</p>
                </div>
                <div class="birth">
                  <p>生日：</p>
                  <p>{{ birthday }}</p>
                </div>
                <div class="gender">
                  <p>性別：</p>
                  <p>{{ gender }}</p>
                </div>
              </div>
            </div>
            <div class="btn revise">修改</div>
          </div>
    </section>

    <!-- 訂單修改 -->
        <div class="right col-9 revise_box" v-show="showForm">
            <h2>我的檔案</h2>
        <div class="member_info_revise ">
            <div class="img">
                <i class="bi bi-person-circle"></i>
                <div class="btn">選擇圖片</div>
                <p>檔案大小：最大1MB<br>
                    檔案限制：JPEG、PNG</p>
            </div>
            <div class="info" id="info">
                <div class="info_left">
                    <div class="mail">
                    <p>使用者帳號：</p>
                    <p>{{ email }}</p>
                </div>
                <div class="name">
                    <p>姓名：</p>
                    <input type="text" id="name" placeholder="請輸入姓名" v-model="name" @blur="validateName" name="name">
                     <p v-if="nameError" class="error">{{ nameError }}</p>
                </div>
                <div class="nickname">
                    <p>暱稱：</p>
                    <input type="text" id="nickname" placeholder="請輸入暱稱" v-model="nickname" @blur="validateNickname" name="nickname">
                    <p v-if="nicknameError" class="error">{{ nicknameError }}</p>
                </div>
                </div>
                <div class="info_right">
                    <div class="phone">
                    <p>手機號碼：</p>
                    <input type="text" id="phone" placeholder="請輸入電話號碼" v-model="phone" @blur="validatePhone" name="phone">
                    <p v-if="phoneError" class="error">{{ phoneError }}</p>
                </div>
                <label for="birth" class="birth">
                    <p>生日</p>
                    <p>{{ birthday }}</p>
                </label>
                <p class="margin"> 性別 </p>
                <div for="gender" class="gender" name="gender">
                    <label><input type="radio" name="gender" value="M" v-model="gender">男性</label>
                    <label><input type="radio" name="gender" value="F" v-model="gender">女性</label>
                    <label><input type="radio" name="gender" value="X" v-model="gender">不公開</label>
                </div>
                </div>
                </div>
                <div class="btn save" @click="showEditForm">儲存</div>
            </div>
            
        </div>
    </div>
</div>
    <!-- 訂單記錄 -->
    <section class="col-9 right">
        <div class="order">
            <h3>訂單記錄</h3>
            <div class="form_title">
                <p>訂單編號</p>
                <p>購買日期</p>
                <p>購買金額</p>
                <p>訂單狀態</p>
            </div>
            <div class="order_info">
                <div class="flex_grow">
                    <i class="bi bi-dash-lg open_btn"></i>
                    <p class="ID">ak4l79e3k68sly</p>
                 </div>
                <p>2023/1/15</p>
                <p>$2,059</p>
                <p>已完成</p>
            </div>
            <div class="detail_order">
                <div class="detail_order_title">
                    <p>訂單內容</p>
                    <p>商品折扣</p>
                    <p>購買金額</p>
                </div>
                <div class="detail_order_info">
                    <div class="item">
                        <div class="item_info">
                        <img src="https://placehold.co/95x125" alt="">
                        <p>遊戲名稱遊戲名稱遊戲名稱遊戲名稱</p>
                        </div>
                        <div class="dis">
                        <div class="discount">-75%</div>
                        </div>
                        <div class="price_box">
                        <div class="price">$660</div>
                        <div class="price_original">$1,099</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_info">
                        <img src="https://placehold.co/95x125" alt="">
                        <p>遊戲名稱遊戲名稱遊戲名稱遊戲名稱</p>
                        </div>
                        <div class="dis">
                        <div class="discount">-75%</div>
                        </div>
                        <div class="price_box">
                        <div class="price">$1,399</div>
                        </div>
                    </div>
                    <div class="settlement">
                        <div class="coupon">
                        <p>優惠券使用</p>
                        <p class="settlement_right">春季特賣優惠商品 -40%</p>
                        </div>
                        <div class="dis">
                            <p>折扣</p>
                            <p class="settlement_right">-439元</p>
                        </div>
                        <div class="sum">
                            <p>總金額</p>
                            <p class="settlement_right">2059 元</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order_info">
                <div class="flex_grow">
                    <i class="bi bi-dash-lg"></i>
                    <p>ak4l79e3k68sly</p>
                </div>
                <p>2023/1/15</p>
                <p>$2,059</p>
                <p>已完成</p>
            </div>
            
        </div>
    </section>
    <!-- 遊戲庫 -->
    <section class="col-9 right">
        <div class="game_library">
            <h3>遊戲庫</h3>
            <div class="game_box">
                <div class="game_info">
                    <img src="https://placehold.co/180x240" alt="">
                    <div class="game_text">
                        <p class="name">遊戲名稱遊戲名稱遊戲名稱遊戲名稱</p>
                        <div class="flex">
                            <p>遊玩時數：0.6小時</p>
                            <p>上次遊玩日期：2023/06/01</p>
                            <div class="ach">
                                <p>成就</p> 
                                <div class="line_box"><div class="line"></div></div>
                                <p>24/30</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn">開始遊戲</div>
                    <p class="review">新增評論</p>
                    <i class="bi bi-three-dots po_icon"></i>
                </div>
                <div class="game_info">
                    <img src="https://placehold.co/180x240" alt="">
                    <div class="game_text">
                        <p class="name">遊戲名稱遊戲名稱遊戲名稱遊戲名稱</p>
                        <div class="flex">
                            <p>遊玩時數：0.6小時</p>
                            <p>上次遊玩日期：2023/06/01</p>
                            <div class="ach">
                                <p>成就</p> 
                                <div class="line_box"><div class="line"></div></div>
                                <p>24/30</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn">開始遊戲</div>
                    <p class="review">新增評論</p>
                    <i class="bi bi-three-dots po_icon"></i>
                </div>
                <div class="game_info">
                    <img src="https://placehold.co/180x240" alt="">
                    <div class="game_text">
                        <p class="name">遊戲名稱遊戲名稱遊戲名稱遊戲名稱</p>
                        <div class="flex">
                            <p>遊玩時數：0.6小時</p>
                            <p>上次遊玩日期：2023/06/01</p>
                            <div class="ach">
                                <p>成就</p> 
                                <div class="line_box"><div class="line"></div></div>
                                <p>24/30</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn">開始遊戲</div>
                    <p class="review">新增評論</p>
                    <i class="bi bi-three-dots po_icon"></i>
                </div>
                <div class="game_info">
                    <img src="https://placehold.co/180x240" alt="">
                    <div class="game_text">
                        <p class="name">遊戲名稱遊戲名稱遊戲名稱遊戲名稱</p>
                        <div class="flex">
                            <p>遊玩時數：0.6小時</p>
                            <p>上次遊玩日期：2023/06/01</p>
                            <div class="ach">
                                <p>成就</p> 
                                <div class="line_box"><div class="line"></div></div>
                                <p>24/30</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn">開始遊戲</div>
                    <p class="review">新增評論</p>
                    <i class="bi bi-three-dots po_icon"></i>
                </div>
                <div class="review_box">
                    <p>遊戲整理滿意度：</p>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                    <br>
                    <br>
                    <p>評論：</p>
                    <br>
                    <input type="textarea">
                    <button class="btn">送出</button>
                </div>
            </div>
        </div>
    </section>
    <!-- 優惠券 -->
    <section class="col-9 right">
        <div class="coupon">
            <h3>會員優惠券</h3>
            <div class="coupon_box" id="coupon_box">
                <div class="add">
                    <p>新增優惠券</p>
                    <input type="text" placeholder="輸入優惠券代碼" v-model="couponCode">
                    <button class="btn" @click="applyCoupon">使用</button>
                </div>
                <h3>我的優惠券</h3>
                <div v-for="coupon in coupons" :key="coupon.id" class="coupon_item">
                    <div class="coupon_text">
                      <p class="title">{{ coupon.title }}</p>
                      <p>使用期限：{{ coupon.validity }}</p>
                      <p>使用規則：{{ coupon.rules }}</p>
                    </div>
                    <div class="coupon_dis">
                      <p>{{ coupon.discount }}</p>
                      <p>{{ coupon.discounts }}</p>
                      <p>{{ coupon.type }}</p>
                    </div>
                </div>
        </div>
        </div>
    </section>
    </main>
    
     
    
      
    <!-- footer -->
    @@include('./layout/footer.html')
    <!-- javascript -->
    @@include('./layout/js.html')
    <!-- 以下可以放自己的js -->
 
    <!-- nav的點擊 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const member_info = new Vue({
        el: '#member_infoo',
        data: {
              email: '',
              name: '',
              nickname: '',
              phone: '',
              birthday: '',
              gender: '',
              showForm: 'flase',
              nameError: '',
              nicknameError: '',
              phoneError: '',

          },
          mounted() {
            this.getMemberData();
          },
          methods: {
            getMemberData() {
            axios.defaults.withCredentials = true;
            axios.post(php_url + 'login_status.php')
            .then((response) => {
                this.email = response.data.account;

                const formData = new FormData();
                formData.append("email" , this.email);

                axios.post(php_url + 'member_center_get.php', formData )
                .then((response) => {
                    const memberData = response.data;
                    // 更新组件的数据
                    console.log(memberData);
                    this.name = memberData.USERNAME;
                    this.nickname = memberData.NICKNAME;
                    this.phone = memberData.PHONE;
                    this.birthday = memberData.BIRTHDAY;
                    this.gender = memberData.GENDER;
                })
                .catch((error) => {
                    console.error(error);
                });
            })
            .catch((error) => {
                console.error(error);
            });
            },
            showEditForm() {
                this.showForm = true;
            },
            validateName(){
                this.nameError = '';
                if (!this.name) {
                    this.nameError = '請填寫姓名';
                } else if (this.name.length < 3) {
                    this.nameError = '姓名長度不能小於3個字';
                }
            },
            validatePhone(){
                this.phoneError = '';
                if (!this.phone) {
                    this.phoneError = '請填寫電話號碼';
                } else if (!this.isValidPhone(this.phone)) {
                    this.phoneError = '請輸入有效的電話號碼';
                }
            },
            isValidPhone(phone) {
            // 驗證電話號碼格式
            const phoneRegex = /^09\d{8}$/;
            return phoneRegex.test(phone);
            },
            validateNickname(){
                this.nicknameError = '';
                if (!this.nickname) {
                    this.nicknameError = '請填寫暱稱';
                }else if (this.nickname.length < 3) {
                    this.nicknameError = '暱稱長度不能小於3個字';
                }
            },
            showEditForm(){
                if (
                    this.nameError ||
                    this.nicknameError ||
                    this.phoneError
                ) {
                    // 有錯誤，不提交表單
                    return;
                }else{
                    const formData = new FormData();
                    formData.append("name" , this.name);
                    formData.append("nickname" , this.nickname);
                    formData.append("phone" , this.phone);
                    formData.append("gender" , this.gender);
                    formData.append("email" , this.email);
                
                axios.post(php_url + 'member_center_edit.php', formData)
                .then(response => {  
                    console.log('更改成功');
                })
                .catch(error => {
                    // 處理錯誤
                    console.error(error);
                });
                }
            }
        }       
        });
        </script>

        <script>
            const coupons = new Vue({
                el: '#coupon_box',
                data: {
                    couponCode: '',
                    member_ID : '',
                    coupons: [

                    ]
                },
                mounted() {
                    this.couponsFunction();
                },
                methods: {
                    couponsFunction(){
                        axios.post(php_url + 'login_status.php')
                        .then((response) => {
                            this.member_ID = response.data.member_ID;
                            const formData = new FormData();
                            formData.append("member_ID" , this.member_ID);

                            axios.post( php_url + 'member_center_coupons.php', formData)
                            .then(response => {
                                this.coupons = response.data;
                                this.coupons = response.data.map(item => {
                                let discount = '';
                                let discounts = '';
                                let type = '';
                                if(parseFloat(item.COUPON_DISCOUNTS) < 1){
                                    discounts = (item.COUPON_DISCOUNTS * 10).toFixed(0) + '折';
                                }else{
                                    discount = parseInt(item.COUPON_DISCOUNT) + '元';
                                    type = '折扣券';
                                    discounts = '';
                                }
                                
                                return {
                                    id: item.id,
                                    title: item.COUPON_NAME,
                                    validity: item.COUPON_END,
                                    rules: item.COUPON_DETAIL,
                                    discount: `${discount}`,
                                    discounts: `${discounts}`,
                                    type: `${type}`
                                };
                                });
                                this.coupons.reverse();
                                })
                            .catch(error => {
                                console.log(error);
                                });
                                })
                        .catch((error) => {
                            console.error(error);
                        });
                    },
                    applyCoupon(){
                        const formData = new FormData();
                        formData.append("couponCode" , this.couponCode);
                        formData.append("member_ID" , this.member_ID);

                        axios.post( php_url + 'member_coupons_add.php', formData)
                        .then(response => {
                            if(response.data.success === true){
                            this.couponsFunction();
                            }else{
                                alert('此代碼無效，請輸入正確優惠券代碼');
                            }
                        })

                        .catch(error => {
                            
                        });
                        this.couponCode = '';
                    }
                }
            });
        </script>

    <script>
        let nav = $(".select li");
        let section = document.querySelectorAll("section.right");
        nav.on('click', function(){
            let index = 0;
            if (!$(this).hasClass('-on')) {
                section = $("section.right");
                nav.removeClass('-on');
                $(this).toggleClass('-on');
                index = $(this).index();

                section.removeClass('-oon');
                section[index].classList.add("-oon");
            }
        });
    </script>

    <!-- 會員資料修改 -->
    <script>
        $(document).ready(function() {
            let revise = $('.revise');
            let save = $('.save');
            let revise_box = $('.revise_box');
            let section = document.querySelectorAll("section.right");
                revise.on('click', function() {
                    section.forEach(function(element) {
                        element.classList.remove('-oon');
                    });
                    revise_box.addClass('-oon');
                });
                save.on('click',function(){
                    revise_box.removeClass('-oon');
                    section[0].classList.add("-oon");
                });
        });
    </script>

    <!-- 購買清單的展開 -->
    <script>
        $('.open_btn').click(function() {
            $('.detail_order').slideToggle();
        });
    </script>

    <!-- RWD的NAV -->
    <script>
        function checkBreakpoint() {
        // 使用媒體查詢檢查視窗寬度是否小於或等於414px
        var mediaQuery = window.matchMedia("(max-width: 414px)");
        let section = document.querySelectorAll("section.right");
        let nav = document.querySelectorAll(".select li");
        let nav_li = $(".select li");
        let nav_box = $(".select");
        let back = $(".back");
            // 檢查媒體查詢的結果
            if (mediaQuery.matches) {
                section.forEach(function(element) {
                    element.classList.remove('-oon');
                });
                nav.forEach(function(element) {
                    element.classList.remove('-on');
                });

                nav_li.on('click', function(){
                    nav_box.css('display','none');
                    back.css('display','block');
                });

                back.on('click', function(){
                    back.css('display','none');
                    nav_box.css('display','block');
                    section.forEach(function(element) {
                    element.classList.remove('-oon');
                     });
                    nav.forEach(function(element) {
                    element.classList.remove('-on');
                });
                });
            }
            
        }

        // 監聽視窗大小變化事件
        window.addEventListener("resize", checkBreakpoint);

        // 在頁面載入時執行一次檢查
        checkBreakpoint();
    </script>
</body>

</html>