<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 商品</title>

    @@include('./layout/style.html')
    <!-- 以下可以放自己的link -->

    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
   
    <!-- 自己的css -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!-- header -->
    @@include('./layout/header.html')

    <main class="product">
        <!-- banner輪播 -->
        <div class="swiper mySwiper col-12">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://placehold.co/1536x665" alt="圖片說明"></div>
                <div class="swiper-slide"><img src="https://placehold.co/1536x665" alt="圖片說明"></div>
                <div class="swiper-slide"><img src="https://placehold.co/1536x665" alt="圖片說明"></div>
                <div class="swiper-slide"><img src="https://placehold.co/1536x665" alt="圖片說明"></div>
                <div class="swiper-slide"><img src="https://placehold.co/1536x665" alt="圖片說明"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>


        <div class="product_main">

            <nav class="product_sidebar col-3">
                <div class="tag_choose">已選擇的標籤 <span class="clear">清除全部</span></div>
                <div id="tags_container"></div>
                <ul>
                    <li>
                        <div class="botton">限時促銷活動
                            <i class="bi bi-chevron-down arrow"></i>
                        </div>
                        <ul class="sale_list">
                            <li class="item"><span>燒腦解謎</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>夏季特賣</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>角色扮演</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>射擊遊戲</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>太空探險</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>恐怖遊戲</span><i class="bi bi-check-lg check-icon"></i></li>
                        </ul>
                    </li>

                    <li>
                        <div class="botton">遊戲類型
                            <i class="bi bi-chevron-down arrow"></i>
                        </div>
                        <ul class="cate_list">
                            <li class="item"><span>動作</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>冒險</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>角色扮演</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>策略</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>模擬</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>經營</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>城市營造</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>農場模擬</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>戰爭</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>休閒</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>日系</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>運動</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>棒球</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>網球</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>競速</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>賽馬</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>賽車</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>烹飪</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>可愛</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>兒童</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>太空模擬</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>殖民模擬</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>像素風</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>2D格鬥</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>獨立遊戲</span><i class="bi bi-check-lg check-icon"></i></li>
                        </ul>
                    </li>

                    <li>
                        <div class="botton">遊戲模式
                            <i class="bi bi-chevron-down arrow"></i>

                        </div>
                        <ul class="mode_list">
                            <li class="item"><span>單人</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>多人</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>合作</span><i class="bi bi-check-lg check-icon"></i></li>
                        </ul>
                    </li>

                    <li>
                        <div class="botton">金額
                            <i class="bi bi-chevron-down arrow"></i>

                        </div>
                        <ul class="price_list">
                            <li class="item price">
                                <label for="minAmount">最低金額</label>
                                <input type="text" class="form-control" id="minAmount">
                            </li>
                            <li class="item price">
                                <label for="maxAmount">最高金額</label>
                                <input type="text" class="form-control" id="maxAmount">
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>




            <div class="game_part col-9">
                <div class="hot_game">
                    <div class="hot_game_title">
                        <h2>熱門遊戲類型</h2>

                        <div class="arrow_box">
                            <div class="arrow_left btn">
                                <i class="bi bi-chevron-left"></i>
                            </div>
                            <div class="arrow_right btn">
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="hot_game_cate">
                        <div class="swiper-wrapper">
                            <div class="hot_game_list col-4 swiper-slide">
                                <div class="hot_game_container">
                                    <img src="./pic/img/game/cate/coorperate.svg" alt="">
                                    <h3>合作</h3>
                                </div>
                            </div>
                            <div class="hot_game_list col-4 swiper-slide">
                                <div class="hot_game_container">
                                    <img src="./pic/img/game/cate/personal.svg" alt="">
                                    <h3>單人</h3>
                                </div>
                            </div>
                            <div class="hot_game_list col-4 swiper-slide">
                                <div class="hot_game_container">
                                    <img src="./pic/img/game/cate/puzzle.svg" alt="">
                                    <h3>解謎</h3>
                                </div>
                            </div>
                            <div class="hot_game_list col-4 swiper-slide">
                                <div class="hot_game_container">
                                    <img src="./pic/img/game/cate/shot.svg" alt="">
                                    <h3>射擊</h3>
                                </div>
                            </div>
                            <div class="hot_game_list col-4 swiper-slide">
                                <div class="hot_game_container">
                                    <img src="./pic/img/game/cate/casual.svg" alt="">
                                    <h3>休閒</h3>
                                </div>
                            </div>
                            <div class="hot_game_list col-4 swiper-slide">
                                <div class="hot_game_container">
                                    <img src="./pic/img/game/cate/adventure.svg" alt="">
                                    <h3>冒險</h3>
                                </div>
                            </div>
                            <div class="hot_game_list col-4 swiper-slide">
                                <div class="hot_game_container">
                                    <img src="./pic/img/game/cate/science_fiction.svg" alt="">
                                    <h3>科幻</h3>
                                </div>
                            </div>
                            <div class="hot_game_list col-4 swiper-slide">
                                <div class="hot_game_container">
                                    <img src="./pic/img/game/cate/role_play.svg" alt="">
                                    <h3>角色扮演</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <!-- <div class="product_order">
                        <h2>排序：</h2>
                        <div class="order_btn">
                            <span class>選擇排序方式</span>
                            <i class="bi bi-chevron-down"></i>
                        </div>

                        <ul class="order_options">
                            <li class="option">
                                <span class="option_text">最受歡迎</span>
                            </li>
                            <li class="option">
                                <span class="option_text">發行日期：由新到舊</span>
                            </li>
                            <li class="option">
                                <span class="option_text">發行日期：由舊到新</span>
                            </li>
                            <li class="option">
                                <span class="option_text">價格：高到低</span>
                            </li>
                            <li class="option">
                                <span class="option_text">價格：低到高</span>
                            </li>
                        </ul>
                    </div> -->
                    <div id="app" class="product_order">
                        <h2>排序：</h2>
                        <div class="order_btn" @click="toggleOptions">
                            <span class="option_text">{{ selectedOption }}</span>
                            <i :class="{'bi': true, 'bi-chevron-down': !isOpen, 'bi-chevron-up': isOpen}"></i>
                        </div>
                        <ul class="order_options" v-if="isOpen">
                            <li class="option" v-for="option in options" :key="option.text" @click="selectOption(option)">
                                <span class="option_text">{{ option.text }}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="product_goods" id="goodsIn">
                        <!-- <div class="each_good" v-for="(item, index) in goodslist" :key="index">
                            <div class="goods_top" style="background-image: url({{item.url}});">
                                <span class="discount">-{{(1-item.discount) * 100}}%</span>
                                <i class="bi bi-suit-heart-fill"></i>
                            </div>
                            <div class="goods_text">
                                <h3>{{item.name}}</h3>
                                <span class="price">${{item.originalPrice * (1-item.discount) }}</span>
                                <span class="price_original">${{item.orinalPrice}}</span>
                            </div>
                        </div> -->
                        <div class="each_good col-3">
                            <div class="goods_top" style="background-image: url(./pic/img/game/cover/cover1.jpg);">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>
                            <div class="goods_text">
                                <h3>王國之心3</h3>
                                <span class="price">$900</span>
                                <span class="price_original">$1500</span>
                            </div>
                        </div>
                        <div class="each_good col-3">
                            <div class="goods_top" style="background-image: url(./pic/img/game/cover/cover1.jpg);">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>
                            <div class="goods_text">
                                <h3>王國之心3</h3>
                                <span class="price">$900</span>
                                <span class="price_original">$1500</span>
                            </div>
                        </div>
                        <div class="each_good col-3">
                            <div class="goods_top" style="background-image: url(./pic/img/game/cover/cover1.jpg);">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>
                            <div class="goods_text">
                                <h3>王國之心3</h3>
                                <span class="price">$900</span>
                                <span class="price_original">$1500</span>
                            </div>
                        </div>
                        <div class="each_good col-3">
                            <div class="goods_top" style="background-image: url(./pic/img/game/cover/cover1.jpg);">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>
                            <div class="goods_text">
                                <h3>王國之心3</h3>
                                <span class="price">$900</span>
                                <span class="price_original">$1500</span>
                            </div>
                        </div>
                        <div class="each_good col-3">
                            <div class="goods_top" style="background-image: url(./pic/img/game/cover/cover1.jpg);">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>
                            <div class="goods_text">
                                <h3>王國之心3</h3>
                                <span class="price">$900</span>
                                <span class="price_original">$1500</span>
                            </div>
                        </div>
                        <div class="each_good col-3">
                            <div class="goods_top" style="background-image: url(./pic/img/game/cover/cover1.jpg);">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>
                            <div class="goods_text">
                                <h3>王國之心3</h3>
                                <span class="price">$900</span>
                                <span class="price_original">$1500</span>
                            </div>
                        </div>

                    </div>

                </div>



            </div>


        </div>


    </main>
    <!-- footer -->
    @@include('./layout/footer.html')

    <!-- javascript -->
    @@include('./layout/js.html')
    <!-- 以下可以放自己的js -->

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.1/vue.global.prod.js"></script> -->

    <script src="./venders/vue/vue.global.js"></script>
    <!-- <script src="./js/product.js"></script> -->

    <script>

        // const goods_data = {
        //     goodslist: [
        //         {
        //             url: "https://placehold.co/260x350",
        //             name: "王國之心3",
        //             discount: 0.6,
        //             originalPrice: 1500,

        //         }
        //     ]
        // }


        const app = Vue.createApp({
            data() {
                return {
                    isOpen: false,
                    selectedOption: '選擇排序方式',
                    options: [
                        { text: '最受歡迎', value: 'more_popular' },
                        { text: '日期由新到舊', value: 'new_to_old' },
                        { text: '日期由舊到新', value: 'old_to_new' },
                        { text: '價格由高到低', value: 'high_to_low' },
                        { text: '價格由低到高', value: 'low_to_high' }
                    ]
                };
            },
            methods: {
                toggleOptions() {
                    this.isOpen = !this.isOpen;
                },
                selectOption(option) {
                    this.selectedOption = option.text;
                    this.isOpen = false;
                }
            }
        });
        app.mount('#app'); // 將Vue應用程序掛載到具有id="app"的元素上   

        // const goods = Vue.createApp({

        //     data() {
        //         return {

        //             goods: goods_data
        //         };
        //     },

        // });


        // app.mount('#goodsIn'); // 將Vue應用程序掛載到具有id="goodsI"的元素上  

        $(document).ready(function () {

            // 以下是側邊欄選單設定

            //==============全域變數開始==============

            let tag_list = [];
            let tagsContainer = $("#tags_container");

            //==============全域變數結束==============



            //==============事件綁定開始==============

            $('.product_sidebar div').on('click', function () {
                product_sidebar_collapse($(this))
            });

            //宣告動作
            $(".botton").on('click', function () {
                arrorw_rotate($(this))
            })

            $(".item").on("click", function () {

                tag = get_tag_text($(this))
                item_check_or_not($(this))
                tags_container_info(tag)
                is_tag_choose_show(tag_list.length)

            })

            $(".tag_choose").on('click', '.clear', function () {
                clear_tags_container();
            });

            $("#tags_container").on('click', '.bi-x-lg', function () {
                remove_item_checked($(this))
            });

            //==============事件綁定結束==============



            //==============funtcion宣告開始==============

            function arrorw_rotate(dom) {
                dom.next().toggleClass("show");
                dom.children().toggleClass("rotate")
            }

            function product_sidebar_collapse(dom) {
                dom.toggleClass("active");
            }

            function item_check_or_not(dom) {
                dom.toggleClass("checked");
            }

            function get_tag_text(dom) {
                return dom.find(">:first-child").text()
            }

            function add_tagsContainer_tag(tag) {
                tagsContainer.append(
                    $('<span/>').addClass('tag').append(tag + '<i class="bi bi-x-lg"></i>')
                )
            }

            function remove_tagsContainer_tag(tag) {
                target = $(".tag:contains('" + tag + "')")
                target.remove()
            }

            function refresh_tag_list(tag) {
                if (tag_list.includes(tag)) {
                    tag_list.splice(tag_list.indexOf(tag), 1)
                    remove_tagsContainer_tag(tag)
                } else {
                    tag_list.push(tag)
                    add_tagsContainer_tag(tag)
                }
            }

            function tags_container_info(tag) {
                refresh_tag_list(tag)
            }

            function clear_tags_container() {
                $("#tags_container").empty();
                $(".checked").removeClass("checked");
                $(".tag_choose").removeClass("show");
                tag_list = [];
            }

            function remove_item_checked(dom) {

                $(dom).parent().remove();
                tag = dom.parent().text();
                $(".checked:contains('" + tag + "')").removeClass("checked");
                tag_list.splice(tag_list.indexOf(tag), 1)
                is_tag_choose_show(tag_list.length)

            }

            function is_tag_choose_show(length) {
                if (length == 0) {
                    $(".tag_choose").removeClass("show");
                } else {
                    $(".tag_choose").addClass("show");
                }
            }

            //==============funtcion宣告結束==============



            // Swiper設定

            var banner = new Swiper(".mySwiper", {
                cssMode: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                pagination: {
                    el: ".swiper-pagination",
                },

                mousewheel: true,
                keyboard: true,
            });

            var cate = new Swiper(".hot_game_cate", {
                slidesPerView: 3,
                spaceBetween: 30,
                navigation: {
                    nextEl: ".arrow_right",
                    prevEl: ".arrow_left",
                },
                autoplay: {
                    delay: 4000,
                    disableOnInteraction: true,
                },
            });

        });




        // 愛心收藏
        var heartsList = document.querySelectorAll('.bi-suit-heart');

        heartsList.forEach(function (heart) {

            // 綁定滑鼠懸停事件
            heart.addEventListener('mouseenter', function (e) {
                if (!heart.classList.contains("bi-suit-heart-fill") || !heart.classList.contains("bi-suit-heart-clicked")) {
                    heart.classList.remove("bi-suit-heart");
                    heart.classList.add("bi-suit-heart-fill");
                    e.stopPropagation();
                }
            });

            // 綁定滑鼠離開事件
            heart.addEventListener('mouseleave', function (e) {
                if (!heart.classList.contains("bi-suit-heart-fill") || !heart.classList.contains("bi-suit-heart-clicked")) {
                    heart.classList.remove("bi-suit-heart-fill");
                    heart.classList.add("bi-suit-heart");
                    e.stopPropagation();
                }
            });

            heart.addEventListener('click', function (e) {
                if (!heart.classList.contains("bi-suit-heart-clicked")) {
                    heart.classList.remove("bi-suit-heart");
                    heart.classList.add("bi-suit-heart-fill");
                    heart.classList.add("bi-suit-heart-clicked");
                    e.stopPropagation();
                } else {
                    heart.classList.remove("bi-suit-heart-fill");
                    heart.classList.add("bi-suit-heart");
                    heart.classList.remove("bi-suit-heart-clicked");
                    e.stopPropagation();
                }
            });

        });

    </script>
</body>

</html>