<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 商品子頁</title>
    @@include('./layout/style.html')
    <!-- 以下可以放自己的link -->

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" /> -->


</head>

<body>
    <!-- header -->
    @@include('./layout/header.html')
    <main class="product_information" id="product_information">
        <nav id="breadcrumb">
            <a href="./index.html">首頁</a><i class="bi bi-chevron-right a_after"></i>
            <a href="./product.html">商品</a><i class="bi bi-chevron-right a_after"></i>
            <a href="./product_cate.html">遊戲類型</a><i class="bi bi-chevron-right a_after"></i>
            <a href="./product_information.html">{{currentGood.GAME_NAME}}</a>
        </nav>

        <h1 class="game_name">{{currentGood.GAME_NAME}}</h1>

        <section class="information_top col-12" >
            <div class="information_carousel col-8" >
                <div style="--swiper-navigation-color: white; --swiper-pagination-color: red " class="swiper game_img_big">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img :src="gameImg[0]" />
                        </div>                        
                        <div class="swiper-slide">
                            <img :src="gameImg[1]" />
                        </div>
                        <div class="swiper-slide">
                            <img :src="gameImg[2]" />
                        </div>
                        <div class="swiper-slide">
                            <img :src="gameImg[3]" />
                        </div>
                        <div class="swiper-slide">
                            <img :src="gameImg[4]" />
                        </div>
                    </div>
                    <div class="img_big_prev"><i class="bi bi-chevron-left"></i></div>
                    <div class="img_big_next"><i class="bi bi-chevron-right"></i></div>                    
                </div>
                <div class="thumb">
                    <!-- <div class="img_small_prev">
                        <i class="bi bi-chevron-left"></i>
                    </div> -->
                    <div thumbsSlider="" class="swiper game_img_small">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img :src="gameImg[0]" />
                            </div>                        
                            <div class="swiper-slide">
                                <img :src="gameImg[1]" />
                            </div>
                            <div class="swiper-slide">
                                <img :src="gameImg[2]" />
                            </div>
                            <div class="swiper-slide">
                                <img :src="gameImg[3]" />
                            </div>
                            <div class="swiper-slide">
                                <img :src="gameImg[4]" />
                            </div>
                        </div>
                    </div>
                    <!-- <div class="img_small_next">
                        <i class="bi bi-chevron-right"></i>
                    </div> -->
                </div>

            </div>
            <div class="information_detail col-4">
                <img class="logo_cover" :src="gameImg[5]" alt="">
                <div class="detail_text">
                    <h2 class="orinalPrice">${{currentGood.ORIGINAL_PRICE}}</h2>
                    <p>遊戲評價：
                        <i class="bi bi-star-fill" v-if="gameComments.length > 0"></i>
                        <span class="star_rating">{{average}}</span>
                        <span class="total_comments">({{this.gameComments.length}}則評論)</span>
                    </p>
                    <p>發行日期：
                        <span class="releaseDate">{{currentGood.RELEASE_DATE}}</span>
                    </p>
                    <p>發行商：
                        <span class="publisher">{{currentGood.PUBLISHER}}</span>
                    </p>
                    <p>開發人員：
                        <span class="developer">{{currentGood.DEVELOPER}}</span>
                    </p>
                    <p>遊戲級別：
                        <span class="gameRating">{{currentGood.RATING_NAME}}</span>
                    </p>
                    <p>遊戲類型：
                        <span class="tag">{{currentGood.game_cate}}</span>
                    </p>
                    <div class="add_to_pay">
                        <button class="shopcar_btn col-6" @click="addAction('toCar')">加入購物車</button>
                        <button class="purchase_btn col-6" @click="addAction('toPay')">立即購買</button>
                    </div>
                    <div class="heart_and_share">
                        <!-- <i class="bi bi-suit-heart heart_btn"></i> -->
                        <i
                            class="bi heart_btn"
                            :class="{
                            'bi-suit-heart': !currentGood.hovered,
                            'bi-suit-heart-fill': currentGood.hovered || currentGood.clicked ,
                            'bi-suit-heart-clicked': currentGood.clicked
                            }"
                            @mouseenter="hoverHeart(currentGood)"
                            @mouseleave="leaveHeart(currentGood)"
                            @click.stop="toggleHeart(currentGood)"
                        ></i>
                        <i class="bi bi-share-fill share_btn"></i>
                    </div>
                </div>
            </div>
            <div class="shopcar_popup">
                <i class="bi bi-check-circle"></i>
                <h2>已加入購物車</h2>
            </div>
            <div class="heart_popup" :class="{'active':currentGood.showPopup}">
                <i class="bi bi-check-circle"></i>
                <h2>已加入願望清單</h2>
            </div>      
            <div class="heart_remove" :class="{'active':currentGood.showRemove}">
                <i class="bi bi-trash"></i>
                <h2>已從願望清單移除</h2>
            </div>
        </section>


        <section class="introduction_and_system">
            <div class="introduction col-7">
                <h2>遊戲介紹</h2>
                <p>{{currentGood.GAME_INTRO}}</p>
            </div>
            <div class="system col-4">
                <h2>系統需求</h2>
                <ul v-html="goodSysEnv"></ul>
            </div>
        </section>

        <section class="game_comment col-12">
            <h2 class="comment_title">近期評論</h2>
            <div class="evaluation">
                <p>遊戲整體評價：</p>
                <div class="total_rating">
                    <i class="bi bi-star-fill" v-if="gameComments.length > 0"></i>
                    <span class="star_rating">{{average}}</span>
                    <span class="total_comments">({{this.gameComments.length}}則評論)</span>
                </div>
            </div>
            <div class="comments_range col-12 swiper">
                <div class="swiper-wrapper">
                    <div class="more_and_less">
                        <button class="look_more" v-show="gameComments.length > 4">查看更多</button>
                        <button class="look_less" v-show="gameComments.length > 4">收合評論</button>
                        <!-- <button class="look_more" v-show="showMoreButton" @click="showAllComments">查看更多</button>
                        <button class="look_less" v-show="showLessButton" @click="showLessComments">收合評論</button> -->
                    </div>
                    <div class="each_comment col-3 swiper-slide" v-for="(gamecomment, index) in gameComments" :key="index" >
                        <div class="comment_top">
                            <div class="member_pic">
                                <img :src="gamecomment.MEMBER_PHOTO" alt="">
                            </div>
                            <div class="member_info">
                                <h2 class="member_name">{{gamecomment.NICKNAME}}</h2>
                                <p class="game_time">遊戲時長{{numFilter(gamecomment.GAME_TIME)}}小時</p>
                                <p class="comment_date">評論於{{gamecomment.COMMENT_DATE}}</p>
                            </div>
                            <div class="game_rating">
                                <span class="member_game_rating">{{gamecomment.STAR_RATING}}</span>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                        <div class="comment_text">
                            <i class="bi bi-hand-thumbs-up"></i>
                            <p class="comment_content">{{gamecomment.COMMENT_CONTENT}}</p>
                        </div>
                    </div>                    
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="pages">

                <ul class="comment_pages">
                    <li class="each_page"><a class="active" href="#">1</a></li>
                    <li class="each_page"><a href="#">2</a></li>
                    <li class="each_page"><a href="#">3</a></li>
                    <li class="each_page"><a href="#">4</a></li>
                    <li class="each_page"><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                </ul>

            </div>
            <div class="comment_popup_outer">
                <div class="comment_popup_box">
                    <div class="popup_box_top">
                        <div class="member_detail">
                            <img src="https://placehold.co/96x96" alt="">
                            <div class="popup_info">
                                <h2 class="member_name">二柱子</h2>
                                <p class="game_time">遊戲時長：0.8 小時</p>
                                <p class="comment_date">評論於 2023/2/21</p>
                            </div>
                        </div>
                        <div class="game_rating">
                            <span class="satisfaction">遊戲滿意度：</span>
                            <span class="member_game_rating">5</span>
                            <i class="bi bi-star-fill"></i>
                        </div>
                    </div>
                    <div class="popup_text">
                        <div id="thumb_up"><i class="bi bi-hand-thumbs-up"></i></div>
                        <p class="popup_content">
                            手書香瓜自食從。旁正民右父門節四圓正。言雄呢兄屋好兌羽隻乙氣金色斗得？發占朋尾飛看新村而動申美胡定牛，河房誰問裏躲草姊波黃才冒園它貝室？火果亮。<br><br>
                            室友草田拍邊實已葉耍頁青冰功而良媽「喝急能已各寫山穿幫」向干石？豆歌沒具快百辛者晚物畫，屋己民說開雲，背手哭抓。
                            手書香瓜自食從。旁正民右父門節四圓正。言雄呢兄屋好兌羽隻乙氣金色斗得？發占朋尾飛看新村而動申美胡定牛，河房誰問裏躲草姊波黃才冒園它貝室？火果亮。<br><br>
                            室友草田拍邊實已葉耍頁青冰功而良媽「喝急能已各寫山穿幫」向干石？豆歌沒具快百辛者晚物畫，屋己民說開雲，背手哭抓。</p>
                    </div>
                    <button class="comment_popup_close">關閉</button>
                </div>

            </div>
        </section>
        <section class="recommendation col-12">
            <div class="recommend_range col-10">
                <div class="recommend_title">
                    <h2>其他遊戲推薦</h2>
                    <div class="arrow_box">
                        <div class="arrow_left btn">
                            <i class="bi bi-chevron-left"></i>
                        </div>
                        <div class="arrow_right btn">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="recommend_game col-12 swiper myswiper">
                    <div class="swiper-wrapper">
                        <div class="each_good col-3 swiper-slide" v-for="(recommend, index) in recommendGoods" :key="index" @click="goProductPage(recommend.GAME_ID)">
                            <a>
                                <div class="goods_top" data-test="{{recommend.GAME_NAME}}" > 
                                    <img :src="recommend.GAME_COVER" :alt="recommend.GAME_NAME">                                   
                                    <span v-show="recommend.DISCOUNT_PERCENTAGE > 0 " class="discount">-{{100 - recommend.DISCOUNT_PERCENTAGE * 100}}%</span>
                                    <i
                                        class="bi"
                                        :class="{
                                        'bi-suit-heart': !recommend.hovered,
                                        'bi-suit-heart-fill': recommend.hovered || recommend.clicked ,
                                        'bi-suit-heart-clicked': recommend.clicked
                                        }"
                                        @mouseenter="hoverHeart(recommend)"
                                        @mouseleave="leaveHeart(recommend)"
                                        @click.stop="toggleHeartRecommend(recommend)"
                                    ></i>
                                </div>                            
                                <div class="goods_text">
                                    <h3>{{recommend.GAME_NAME}}</h3>
                                    <span class="price" v-show="recommend.DISCOUNT_PERCENTAGE > 0">${{afterDiscount(index)}}</span>
                                    <span class="price_original" :class="{'line_throught':recommend.DISCOUNT_PERCENTAGE > 0}">${{recommend.ORIGINAL_PRICE}}</span>
                                </div>              
                            </a>                         
                        </div>                        
                    </div>
                </div>

            </div>
            <div class="heart_popup" :class="{'active':showPopup}">
                <i class="bi bi-check-circle"></i>
                <h2>已加入願望清單</h2>
            </div>      
            <div class="heart_remove" :class="{'active':showRemove}">
                <i class="bi bi-trash"></i>
                <h2>已從願望清單移除</h2>
            </div>
        </section>


    </main>
    <!-- footer -->
    @@include('./layout/footer.html')
    <!-- javascript -->
    @@include('./layout/js.html')
    <!-- 以下可以放自己的js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script>

        const productInformation = Vue.createApp({
            data(){
                return{
                    currentGood:{},
                    gameImg:[],
                    goodSysEnv:"",
                    recommendGoods:[],
                    gameComments:[],
                    showPopup:false,
                    showRemove:false,
                    // showMoreButton: false, // 是否顯示 "查看更多" 按鈕
                    // showLessButton: false, // 是否顯示 "收合評論" 按鈕                                      
                }
            },
            created(){
                //該頁面主要遊戲內容
                let getUrlString = location.href;
                let id = new URL(getUrlString).searchParams.get('id');
                const url = php_url + 'product_list.php?id='+id+'&action=none';
                axios.get(`${url}`)
                    .then((response) => {
                        this.currentGood = response.data[0];
                        this.currentGood.hovered = false;
                        this.currentGood.clicked = false;  
                        this.currentGood.showPopup =false, //顯示加入願望清單
                        this.currentGood.showRemove =false, //顯示移除願望清單
                        this.goodSysEnv = this.currentGood.SYSTEM_REQUIREMENT;
                                        
                });
                //推薦遊戲區
                const url_recommend = php_url + 'product_list.php?id='+id+'&action=recommend';
                axios.get(`${url_recommend}`)
                    .then((response) => {
                        this.recommendGoods = response.data;

                        for(let recommendGood of this.recommendGoods){
                            recommendGood.hovered = false;
                            recommendGood.clicked = false; 
                        };

                    });
                
                //遊戲圖片
                const url_img = php_url + 'product_img.php?id='+id;
                axios.get(`${url_img}`)
                    .then((response) => {

                        for(let data of response.data){
                            this.gameImg.push(data["IMG_PATH"])
                        }                                          
                });

                //遊戲評論
                const url_comment = php_url + 'game_comment.php?id='+id;
                axios.get(`${url_comment}`)
                    .then((response) => {
                        this.gameComments = response.data;                                                    
                });
                

            },
            computed:{
                numFilter: function(value) {                   
                    return (value) =>{
                        let result = (value/60).toFixed(1);
                        return result;
                    }                   
                },
                average:function(){
                    let sum = 0;
                    let avg = 0;
                    if(this.gameComments.length >0){
                        for(let gameComment of this.gameComments){
                            sum += gameComment.STAR_RATING                        
                        }
                        avg = (sum / this.gameComments.length) + " / 5 ";
                    }else{
                        avg="尚無評價"
                    }
                    
                    
                   
                    return avg;
                }
            },

            methods: {
                afterDiscount(i){                            
                    return Math.floor(this.recommendGoods[i].ORIGINAL_PRICE * this.recommendGoods[i].DISCOUNT_PERCENTAGE);                                      
                },
                hoverHeart(recommend) {
                    if (!recommend.clicked) {                        
                        recommend.hovered = true;
                    }
                },
                leaveHeart(recommend) {
                    if (!recommend.clicked) {
                        recommend.hovered = false;
                    }
                },
                toggleHeart(currentGood){
                    currentGood.clicked = !currentGood.clicked;
                    currentGood.showPopup = currentGood.clicked;
                    currentGood.showRemove = !currentGood.clicked;
                    setTimeout(()=>{
                        currentGood.showPopup = false;
                        currentGood.showRemove = false;
                    }, 1500); // 在 1500 毫秒後隱藏，可根據需要進行調整
                },
                toggleHeartRecommend(recommend){
                    recommend.clicked = !recommend.clicked;
                    this.showPopup = recommend.clicked;
                    this.showRemove = !recommend.clicked;
                    setTimeout(()=>{
                        this.showPopup = false;
                        this.showRemove = false;
                    }, 1500); // 在 1500 毫秒後隱藏，可根據需要進行調整
                },
                goProductPage(id){
                    location.href = `/product_information.html?id=${id}`;
                },
                addAction(action){
                    localStorage.setItem("good_" + this.currentGood.GAME_ID, JSON.stringify(this.currentGood));
                    if(action == "toPay"){
                        location.href = "./checkout.html";
                    }
                },
                // showAllComments() {
                //     this.gameComments.forEach((gameComment) => {
                //         gameComment.visible = true;
                //     });
                //     this.showMoreButton = false;
                //     this.showLessButton = true;
                // },
                // showLessComments() {
                //     this.gameComments.forEach((gameComment, index) => {
                //         gameComment.visible = index < 4;
                //     });
                //     this.showMoreButton = true;
                //     this.showLessButton = false;
                // },
                // initializeComments(){
                //     this.gameComments = this.gameComments.map((gameComment, index) => {
                //         return {
                //             visible: index < 4,
                //         };
                //     });              
                                        
                //     // 設置是否顯示 "查看更多" 和 "收合評論" 按鈕
                //     this.showMoreButton = gameComments.length > 4;
                //     this.showLessButton = false;
                // }
            },
            mounted(){ 
                // this.initializeComments();
            },
            
        });

        productInformation.mount('#product_information');

        

        //確認加入購物車彈出視窗設定===============================================================================
        const checkAdd = document.getElementsByClassName("shopcar_btn")[0];
        shopcarPopup = document.getElementsByClassName("shopcar_popup")[0];
        checkAdd.addEventListener("click", function () {
            shopcarPopup.classList.add("active");
            setTimeout(() => {
                shopcarPopup.classList.remove("active");
            }, 1500); // 3000 毫秒後自動隱藏，可以根據需要調整時間
        });


        //點擊評論彈出視窗設定===============================================================================
        const clickComment = document.querySelectorAll(".each_comment");
              comment_popup_outer = document.getElementsByClassName("comment_popup_outer")[0];
              comment_popup_close = document.getElementsByClassName("comment_popup_close")[0];
        clickComment.forEach(function (comment) {
            comment.addEventListener("click", function (e) {
                comment_popup_outer.classList.add("active");
                comment_popup_close.addEventListener("click", function(e){
                    comment_popup_outer.classList.remove("active");
                    
                });
                
            });
        });

        // 點擊查看更多============================================================================================
        document.addEventListener("DOMContentLoaded", function () {
            // 獲取元素
            let lookMoreButton = document.querySelector(".look_more");
            let lookLessButton = document.querySelector(".look_less");
            let commentSections = document.querySelectorAll(".each_comment");
            let commentPages = document.querySelectorAll(".pages");
            let screenWidth = window.innerWidth || document.documentElement.clientWidth;

            // 點擊 "查看更多" 按鈕時的事件處理程序
            lookMoreButton.addEventListener("click", function () {
                // 顯示所有評論
                commentSections.forEach(function (section) {
                    section.style.display = "block";
                });
                // 顯示所有頁碼
                commentPages.forEach(function (page) {
                    page.style.display = "block";
                });
                lookMoreButton.style.display = "none";
                lookLessButton.style.display = "block";

            });

            lookLessButton.addEventListener("click", function(){
                lookMoreButton.style.display = "block";
                lookLessButton.style.display = "none";
                commentPages.forEach(function (page) {
                    page.style.display = "none";
                });
                for (var i = 4; i < commentSections.length; i++) {
                commentSections[i].style.display = "none";
            }   
            });

            // 初始化只顯示四則評論
            for (var i = 4; i < commentSections.length; i++) {
                commentSections[i].style.display = "none";
                lookLessButton.style.display = "none";
            }

            if (screenWidth === 414) {
                // 顯示全部評論                
                commentSections.forEach(function (section) {
                    section.style.display = "block";
                });
            }

        });


        // 評論內容超過長度隱藏======================================================================================
        var len = 155; // 超過155個字以"..."取代
        var elements = document.getElementsByClassName("comment_content");
        Array.prototype.forEach.call(elements, function (element) {
            if (element.textContent.length > len) {
                element.setAttribute("title", element.textContent);
                var text = element.textContent.substring(0, len - 1) + "...";
                element.textContent = text;
            }
        });


        // 評論按讚=================================================================================================
        var thumbsUpList = document.querySelectorAll('.bi-hand-thumbs-up');

        thumbsUpList.forEach(function (thumbsUp) {
            // 綁定滑鼠懸停事件
            thumbsUp.addEventListener('mouseenter', function (e) {
                // 移除預設圖標的類別，加上懸停圖標的類別
                if (!thumbsUp.classList.contains("bi-hand-thumbs-up-fill") || !thumbsUp.classList.contains("bi-hand-thumbs-up-clicked")) {
                    thumbsUp.classList.remove("bi-hand-thumbs-up");
                    thumbsUp.classList.add("bi-hand-thumbs-up-fill");
                    e.stopPropagation();
                }
            });

            // 綁定滑鼠離開事件
            thumbsUp.addEventListener('mouseleave', function (e) {
                // 移除懸停圖標的類別，加上預設圖標的類別
                if (!thumbsUp.classList.contains("bi-hand-thumbs-up-fill") || !thumbsUp.classList.contains("bi-hand-thumbs-up-clicked")) {
                    thumbsUp.classList.remove("bi-hand-thumbs-up-fill");
                    thumbsUp.classList.add("bi-hand-thumbs-up");
                    e.stopPropagation();
                }
            });

            thumbsUp.addEventListener('click', function (e) {
                if (!thumbsUp.classList.contains("bi-hand-thumbs-up-clicked")) {
                    thumbsUp.classList.remove("bi-hand-thumbs-up");
                    thumbsUp.classList.add("bi-hand-thumbs-up-fill");
                    thumbsUp.classList.add("bi-hand-thumbs-up-clicked");
                    thumbsUp.classList.add("animate");
                    setTimeout(() => {
                        thumbsUp.classList.remove("animate");
                    }, 600);
                    e.preventDefault();
                    e.stopPropagation();
                    

                } else {
                    thumbsUp.classList.remove("bi-hand-thumbs-up-fill");
                    thumbsUp.classList.add("bi-hand-thumbs-up");
                    thumbsUp.classList.remove("bi-hand-thumbs-up-clicked");
                    e.stopPropagation();
                }
            });
        });      

        //swiper
        $(document).ready(function () {
            var recommend = new Swiper(".recommend_game", {
                loop: true,
                navigation: {
                    nextEl: ".arrow_right",
                    prevEl: ".arrow_left",
                },
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: true,
                },
                breakpoints: {
                    1920: {
                        slidesPerView: 4,
                        spaceBetween: 80,
                    },
                    414: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    }
                },
            });

            // 遊戲圖片輪播
            var Smallimg = new Swiper(".game_img_small", {
                loop: true,
                spaceBetween: 20,
                slidesPerView: 5,
                watchSlidesProgress: true,
                navigation: {
                    nextEl: ".img_small_next",
                    prevEl: ".img_small_prev",
                },
            });
            var Bigimg = new Swiper(".game_img_big", {
                loop: true,
                spaceBetween: 10,
                navigation: {
                    nextEl: ".img_big_next",
                    prevEl: ".img_big_prev",
                },
                thumbs: {
                    swiper: Smallimg,
                },
            });


            //評論區輪播
            let screenWidth = window.innerWidth || document.documentElement.clientWidth;

            if (screenWidth === 414) {
                var swiper = new Swiper(".comments_range", {
                    pagination: {
                        el: ".swiper-pagination",
                        dynamicBullets: true,
                    },
                    breakpoints: {

                        414: {
                            slidesPerView: 1,
                            spaceBetween: 35,
                        }
                    },
                });
            };
        });

    </script>
</body>

</html>