<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 商品</title>

    @@include('./layout/style.html')
    <!-- 以下可以放自己的link -->

    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!-- 自己的css -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!-- header -->
    @@include('./layout/header.html')
    <main class="product">
        <!-- banner輪播 -->
        <div id="banner" class="swiper productBanner col-12">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="./product_information.html?id=53"><img src="./pic/img/banner/bannr6.jpg"
                            alt="圖片說明"></a></div>
                <div class="swiper-slide"><a href="./product_information.html?id=46"><img src="./pic/img/banner/banner7.jpg"
                            alt="圖片說明"></a></div>
                <div class="swiper-slide"><a href="./product_information.html?id=27"><img src="./pic/img/banner/banner8.jpg"
                            alt="圖片說明"></a></div>
                <div class="swiper-slide"><a href="./product_information.html?id=57"><img src="./pic/img/banner/banner9.jpg"
                            alt="圖片說明"></a></div>
                <div class="swiper-slide"><a href="./product_information.html?id=45"><img src="./pic/img/banner/banner10.jpg"
                            alt="圖片說明"></a></div>
            </div>
            <div class="product_banner_next"><i class="bi bi-chevron-right"></i></div>
            <div class="product_banner_prev"><i class="bi bi-chevron-left"></i></div>
            <div class="swiper-pagination"></div>
        </div>


        <div class="product_main" id="productIndex">

            

            <!--遊戲區 -->
            <div class="game_part col-12">
                <!-- 熱門遊戲區 8種 -->
                <div class="hot_game">
                    <div class="hot_game_title">
                        <h2>{{ hotGameList }}</h2>
                        <div class="arrow_box">
                            <div class="arrow_left btn">
                                <i class="bi bi-chevron-left"></i>
                            </div>
                            <div class="arrow_right btn">
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="hot_game_cate">
                        <div class="swiper-wrapper">
                            <div class="hot_game_list col-4 swiper-slide" v-for="hotcategory in hotCategories"
                                :key="hotcategory.id">
                                <a class="hot_game_container" :href="'./product_cate.html?cateId='+ hotcategory.id">
                                    <img :src="hotcategory.img" :alt="hotcategory.name">
                                    <h3>{{hotcategory.name}}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products col-12" id="goodsIn">

                    <!--側邊欄 -->
                    <product-sidebar @filter-list="getFilterGoodList"></product-sidebar>
                    <div class="col-9">    
                        <!-- 商品排序選擇 -->
                        <div class="add_filter" >
                            <div class="sidebar_btn">
                                <span>篩選器</span>
                                <i class="bi bi-filter"></i>
                            </div>
                            <div class="product_order">
                                <h3>排序：</h3>
                                <div class="order_btn" @click="toggleOptions" :class="{'active': isOpen}">
                                    <span class="option_text">{{ selectedOption }}</span>
                                    <i class="bi bi-chevron-down"></i>
                                </div>
                                <ul class="order_options" v-show="isOpen === true">
                                    <li class="option" v-for="option in options" :key="option.text"
                                        @click="selectOption(option);sortedGoods()">
                                        <span class="option_text">{{ option.text }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- 商品陳列區 -->

                        <div class="product_goods" id="product-list">
                            <product-list :goods="displayedGoods()"></product-list>
                        </div>

                        <!-- 分頁器 -->

                        <paginator :total-pages="totalPages()" :current-page="currentPage" @page-change="goToPage"
                            @previous-page="previousPage" @next-page="nextPage"></paginator>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    @@include('./layout/footer.html')

    <!-- javascript -->
    @@include('./layout/js.html')
    <!-- 以下可以放自己的js -->

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <script type="module">
        import ProductList from "./js/ProductList.js";
        import Paginator from "./js/Paginator.js";
        import ProductSidebar from "./js/ProductSidebar.js"


        // 商品列表渲染
        const productindex = Vue.createApp({

            data() {
                return {
                    currentPage: 1, // 當前頁碼
                    itemsPerPage: 8, // 每頁顯示商品數量
                    goodListFromDB_copy:[],
                    filterGoodsList: [],
                    goodListFromDB: [],
                    

                    //商品排序選擇
                    isOpen: false,
                    selectedOption: '選擇排序方式',
                    selectedOptionValue: '',
                    options: [
                        { text: '最受歡迎', value: 'more_popular' },
                        { text: '日期由新到舊', value: 'new_to_old' },
                        { text: '日期由舊到新', value: 'old_to_new' },
                        { text: '價格由高到低', value: 'high_to_low' },
                        { text: '價格由低到高', value: 'low_to_high' }
                    ],

                    //熱門類別區塊
                    hotGameList: '熱門遊戲類別',
                    hotCategories: [                        
                        {
                            id: 1,
                            name: '冒險',
                            img: './pic/img/gameTypeIcon/adventure.svg'
                        },                        
                        {
                            id: 2,
                            name: '角色扮演',
                            img: './pic/img/gameTypeIcon/role_play.svg'
                        },
                        {
                            id: 3,
                            name: '休閒',
                            img: './pic/img/gameTypeIcon/casual.svg'
                        },
                        {
                            id: 4,
                            name: '解謎',
                            img: './pic/img/gameTypeIcon/puzzle.svg'
                        },
                        {
                            id: 5,
                            name: '動作',
                            img: './pic/img/gameTypeIcon/personal.svg'
                        },                    
                        {
                            id: 6,
                            name: '策略',
                            img: './pic/img/gameTypeIcon/shot.svg'
                        },
                        {
                            id: 7,
                            name: '模擬',
                            img: './pic/img/gameTypeIcon/science_fiction.svg'
                        },
                        {
                            id: 8,
                            name: '運動',
                            img: './pic/img/gameTypeIcon/coorperate.svg'
                        },

                    ]
                };
            },

            created() {
                // 取得API資源
                axios.get(php_url + 'product_list.php')
                    .then((response) => {
                        this.goodListFromDB = response.data;

                        // 判斷是否有登入，撈取登入的資料
                        axios.defaults.withCredentials = true;
                        axios.post(php_url + 'login_status.php')
                            .then((response) => {
                                let isLogin = response.data.isLogin;
                                axios.defaults.withCredentials = true;
                                axios.post(php_url + 'login_status.php')
                                    .then((response) => {
                                        let isLogin = response.data.isLogin;
                                        if(isLogin){
                                            let id = response.data.member_ID;
                                            axios.get(php_url + `member_wishlist.php?id=${id}`)
                                            .then((response)=>{
                                                let collectedGoodsList = response.data;
                                                for(let goodList of this.goodListFromDB){
                                                    for(let collectedGood of collectedGoodsList){
                                                        if(goodList.GAME_ID == collectedGood.GAME_ID){
                                                            goodList.clicked = true;
                                                            goodList.hovered = true;
                                                        }                                                    
                                                    }                                                                             
                                                }
                                            })
                                        }                             
                                    })
                             
                            })                      
                        this.goodListFromDB_copy = this.goodListFromDB;

                    })

                    .catch((error) => {
                        console.error(error);
                    });

            },


            computed: {

            },

            methods: {

                //商品排序選擇功能
                sortedGoods() {
                    switch (this.selectedOptionValue) {
                        case 'more_popular'://最受歡迎
                            this.goodListFromDB = this.goodListFromDB.slice().sort((a, b) => b.PURCHASED - a.PURCHASED);
                            break;
                        case 'new_to_old'://新到舊
                            this.goodListFromDB = this.goodListFromDB.slice().sort((a, b) => new Date(b.RELEASE_DATE) - new Date(a.RELEASE_DATE));
                            break;
                        case 'old_to_new'://舊到新                                              
                            this.goodListFromDB = this.goodListFromDB.slice().sort((a, b) => new Date(a.RELEASE_DATE) - new Date(b.RELEASE_DATE));
                            break;
                        case 'high_to_low'://價格高到低           
                            this.goodListFromDB = this.goodListFromDB.slice().sort((a, b) => b.ORIGINAL_PRICE - a.ORIGINAL_PRICE);
                            break;
                        case 'low_to_high'://價格低到高
                            this.goodListFromDB = this.goodListFromDB.slice().sort((a, b) => a.ORIGINAL_PRICE - b.ORIGINAL_PRICE);
                            break;
                        default:
                            return this.goodslist;
                    }
                },

                // 下拉選單功能
                toggleOptions() {
                    this.isOpen = !this.isOpen;
                },
                selectOption(option) {
                    this.selectedOption = option.text;
                    this.selectedOptionValue = option.value;
                    this.isOpen = false;
                },

                //頁碼切換
                goToPage(page) {
                    if (page >= 1 && page <= this.totalPages()) {
                        this.currentPage = page; // 跳轉到指定頁碼
                    }
                    this.$nextTick(() => {
                        const productList = document.getElementById('product-list');
                        if (productList) {
                        window.scrollTo({
                            top: productList.offsetTop,
                            behavior: 'smooth', // 使用平滑滾動效果
                        });
                        }
                    });
                },
                totalPages() {
                    return Math.ceil(this.goodListFromDB.length / this.itemsPerPage); // 總頁數
                },
                previousPage() {
                    if (this.currentPage > 1) {
                        this.currentPage--; //上一頁
                    }                    
                },
                nextPage() {
                    if (this.currentPage < this.totalPages()) {
                        this.currentPage++; //下一頁
                    }
                },

                displayedGoods() { //商品呈現功能
                    const start = (this.currentPage - 1) * this.itemsPerPage;
                    const end = start + this.itemsPerPage;
                    return this.goodListFromDB.slice(start, end);
                },

                getFilterGoodList(filterlist) {
                    const url_filter = php_url + 'product_sidebar_function.php';
                    axios.get(url_filter, {                     
                        params:{
                            filterlist: filterlist
                        } 
                    }).then((response) => {
                        this.currentPage = 1;
                        this.filterGoodsList = response.data;
                        axios.defaults.withCredentials = true;
                        axios.post(php_url + 'login_status.php')
                            .then((response) => {
                                let isLogin = response.data.isLogin;
                                if(isLogin){
                                    let id = response.data.member_ID;
                                    axios.get(php_url + `member_wishlist.php?id=${id}`)
                                    .then((response)=>{
                                        let collectedGoodsList = response.data;
                                        for(let goodList of this.goodListFromDB){
                                            for(let collectedGood of collectedGoodsList){
                                                if(goodList.GAME_ID == collectedGood.GAME_ID){
                                                    goodList.clicked = true;
                                                    goodList.hovered = true;
                                                }                                                    
                                            }                                                                             
                                        }
                                    })
                                }                             
                            })
                        // for (let good of this.filterGoodsList) {
                        //     good.hovered = false;
                        //     good.clicked = false;
                        // }

                        if(filterlist.tag_list.length == 0){
                            this.goodListFromDB = this.goodListFromDB_copy;
                        }else{
                            this.goodListFromDB = this.filterGoodsList;
                        }
                    });
                    
                },

            },
            components: {
                ProductList,
                Paginator,
                ProductSidebar,
            },
            mounted() {
            },
        });

        productindex.mount('#productIndex'); // 將Vue應用程序掛載到具有id="product_index"的元素上 

        // Swiper設定

        var banner = new Swiper(".productBanner", {
            loop: true,
            navigation: {
                nextEl: ".product_banner_next",
                prevEl: ".product_banner_prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 10000,
                disableOnInteraction: true,
            },
            keyboard: true,
        });

        var cate = new Swiper(".hot_game_cate", {
            loop: true,
            navigation: {
                nextEl: ".arrow_right",
                prevEl: ".arrow_left",
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: true,
            },
            breakpoints: {
                1920: {
                    slidesPerView: 4,
                    spaceBetween: 30,
                },

                1440: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                1080: {
                    slidesPerView: 3,
                    spaceBetween: 10,
                },
                414: {
                    slidesPerView: 2,
                    spaceBetween: 10,
                }
            },
        });

        //手機板篩選器設定
        $('.sidebar_btn').click(function () {
            $('.product_sidebar').css("left", "0");
        })
        $('.apply_choose').click(function () {
            $('.product_sidebar').css("left", "-414px");
        })
        

    </script>
</body>

</html>