<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 商品</title>

    @@include('./layout/style.html')
    <!-- 以下可以放自己的link -->

    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!-- 自己的css -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!-- header -->
    @@include('./layout/header.html')
    <main class="product">
        <!-- banner輪播 -->
        <div id="banner" class="swiper productBanner col-12">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="./product_information.html"><img src="./pic/img/banner/bannr6.jpg" alt="圖片說明"></a></div>
                <div class="swiper-slide"><a href="./product_information.html"><img src="./pic/img/banner/banner7.jpg" alt="圖片說明"></a></div>
                <div class="swiper-slide"><a href="./product_information.html"><img src="./pic/img/banner/banner8.jpg" alt="圖片說明"></a></div>
                <div class="swiper-slide"><a href="./product_information.html"><img src="./pic/img/banner/banner9.jpg" alt="圖片說明"></a></div>
                <div class="swiper-slide"><a href="./product_activity.html"><img src="./pic/img/banner/banner10.jpg" alt="圖片說明"></a></div>
            </div>
            <div class="product_banner_next"><i class="bi bi-chevron-right"></i></div>
            <div class="product_banner_prev"><i class="bi bi-chevron-left"></i></div>
            <div class="swiper-pagination"></div>
        </div>


        <div class="product_main" id="productIndex">

            <!--側邊欄 -->
            <product-sidebar ></product-sidebar>  


            <!-- 熱門遊戲區 8種 -->
            <div class="game_part col-9">
                <div class="hot_game">
                    <div class="hot_game_title">
                        <h2>{{ hotGameList }}</h2>
                        <div class="arrow_box">
                            <div class="arrow_left btn">
                                <i class="bi bi-chevron-left"></i>
                            </div>
                            <div class="arrow_right btn">
                                <i class="bi bi-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="hot_game_cate">
                        <div class="swiper-wrapper">
                            <div class="hot_game_list col-4 swiper-slide cube color-8" v-for="hotcategory in hotCategories" :key="hotcategory.id">
                                <a class="hot_game_container" href="./product_cate.html">
                                    <img :src="hotcategory.img" :alt="hotcategory.name">
                                    <h3>{{hotcategory.name}}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products" id="goodsIn">     
                    
                    <!-- 商品排序選擇 -->
                    <div class="add_filter">
                        <div class="sidebar_btn">
                            <span>篩選器</span>
                            <i class="bi bi-filter"></i>
                        </div>
                        <div id="app" class="product_order">
                            <h3>排序：</h3>
                            <div class="order_btn" @click="toggleOptions" :class="{'active': isOpen}">
                                <span class="option_text">{{ selectedOption }}</span>
                                <i class="bi bi-chevron-down" ></i>
                            </div>
                            <ul class="order_options" v-show="isOpen === true">
                                <li class="option" v-for="option in options" :key="option.text"
                                    @click="selectOption(option);sortedGoods()">
                                    <span class="option_text">{{ option.text }}</span>
                                </li>
                            </ul>
                        </div>                        
                    </div>

                    <!-- 商品陳列區 -->

                    <div class="product_goods" >
                        <product-list :goods="displayedGoods()"></product-list>                        
                    </div>

                    <!-- 分頁器 -->

                    <paginator 
                        :total-pages="totalPages()" 
                        :current-page="currentPage" 
                        @page-change="goToPage" 
                        @previous-page="previousPage"
                        @next-page="nextPage"></paginator>                    
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    @@include('./layout/footer.html')

    <!-- javascript -->
    @@include('./layout/js.html')
    <!-- 以下可以放自己的js -->

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- <script src="./js/heart.js"></script> -->
    <!-- <script src="./js/product_sidebar.js"></script> -->


    <script type="module">
        import ProductList from "./js/ProductList.js";
        import Paginator from "./js/Paginator.js";
        import ProductSidebar from "./js/ProductSidebar.js"


        // 商品列表渲染
        const productindex = Vue.createApp({

            data() {
                return {                                      
                    currentPage: 1, // 當前頁碼
                    itemsPerPage: 8, // 每頁顯示商品數量
                    goodslist: [ //商品列表
                        {   
                            id:1,
                            name: '籃球熱潮物語 (Basketball Club Story)',
                            img:'./pic/img/cover/1.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-04-01",
                            purchased:5,
                            tagType:[
                                {
                                    sale:["夏季特賣"],
                                    cate:["休閒","獨立製作","模擬","運動","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:2,
                            name: '南國度假島物語 (Tropical Resort Story)',
                            img:'./pic/img/cover/2.jpg',
                            discount: 0.8,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-04-08",
                            purchased:100,
                            tagType:[
                                {
                                    sale:["夏季特賣"],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:3,
                            name: '夢想商店街物語 (Biz Builder Delux)',
                            img:'./pic/img/cover/3.jpg',
                            discount: 0.5,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-05-01",
                            purchased:33,
                            tagType:[
                                {
                                    sale:["角色扮演"],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:4,
                            name: '百貨公司物語2 (Mega Mall Story 2)',
                            img:'./pic/img/cover/4.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-04-22",
                            purchased:66,
                            tagType:[
                                {
                                    sale:["角色扮演"],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:5,
                            name: '風雲拳擊物語 (Boxing Gym Story)',
                            img:'./pic/img/cover/5.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-04-18",
                            purchased:41,
                            tagType:[
                                {
                                    sale:["夏季特賣"],
                                    cate:["休閒","獨立製作","運動","模擬","策略"],
                                    mode:["多人"]                                
                                }
                            ]
                        },
                        {   
                            id:6,
                            name: '金字塔王國物語 (The Pyraplex)',
                            img:'./pic/img/cover/6.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-05-11",
                            purchased:99,
                            tagType:[
                                {
                                    sale:["夏季特賣"],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:7,
                            name: '星之開羅君 (Kairobotica)',
                            img:'./pic/img/cover/7.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-05-13",
                            purchased:55,
                            tagType:[
                                {
                                    sale:["角色扮演"],
                                    cate:["休閒","獨立製作","角色扮演","模擬","策略"],
                                    mode:["合作"]                                
                                }
                            ]
                        },
                        {   
                            id:8,
                            name: '晴空農場物語 (Pocket Harvest)',
                            img:'./pic/img/cover/8.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-04-03",
                            purchased:46,
                            tagType:[
                                {
                                    sale:["夏季特賣"],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:9,
                            name: '創意漢堡物語 (Burger Bistro Story)',
                            img:'./pic/img/cover/9.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-04-09",
                            purchased:555,
                            tagType:[
                                {
                                    sale:[""],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:10,
                            name: '溫泉物語2 (Hot Springs Story 2)',
                            img:'./pic/img/cover/10.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-04-16",
                            purchased:98,
                            tagType:[
                                {
                                    sale:[""],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:11,
                            name: '開拓神秘島DX (Beastie Bay DX)',
                            img:'./pic/img/cover/4.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-04-23",
                            purchased:111,
                            tagType:[
                                {
                                    sale:["角色扮演"],
                                    cate:["休閒","獨立製作","角色扮演","模擬","策略"],
                                    mode:["合作"]                                
                                }
                            ]
                        },
                        {   
                            id:12,
                            name: '網球俱樂部物語 (Tennis Club Story)',
                            img:'./pic/img/cover/12.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-05-03",
                            purchased:334,
                            tagType:[
                                {
                                    sale:["夏季特賣"],
                                    cate:["休閒","獨立製作","模擬","運動","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:13,
                            name: '閃耀滑雪場物語 (Shiny Ski Resort)',
                            img:'./pic/img/cover/13.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-05-13",
                            purchased:26,
                            tagType:[
                                {
                                    sale:["夏季特賣"],
                                    cate:["休閒","獨立製作","模擬","運動","競速","策略"],
                                    mode:["多人"]                                
                                }
                            ]
                        },
                        {   
                            id:14,
                            name: '森林露營物語 (Forest Camp Story)',
                            img:'./pic/img/cover/14.jpg',
                            discount: 0.6,
                            originalPrice: 172,
                            clicked:false,
                            hovered:false,
                            date:"2023-05-19",
                            purchased:666,
                            tagType:[
                                {
                                    sale:[""],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["合作"]                                
                                }
                            ]
                        },
                        {   
                            id:15,
                            name: '百萬樂曲物語 (March to a Million)',
                            img:'./pic/img/cover/15.jpg',
                            discount: 0.6,
                            originalPrice: 1720,
                            clicked:false,
                            hovered:false,
                            date:"2023-05-05",
                            purchased:888,
                            tagType:[
                                {
                                    sale:["夏季特賣"],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:16,
                            name: '像素牧場物語 (8-Bit Farm)',
                            img:'./pic/img/cover/16.jpg',
                            discount: 0.6,
                            originalPrice: 1600,
                            clicked:false,
                            hovered:false,
                            date:"2023-04-07",
                            purchased:90,
                            tagType:[
                                {
                                    sale:[""],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:17,
                            name: '豪華大郵輪物語 (World Cruise Story)',
                            img:'./pic/img/cover/17.jpg',
                            discount: 0.6,
                            originalPrice: 152,
                            clicked:false,
                            hovered:false,
                            date:"2023-04-13",
                            purchased:54,
                            tagType:[
                                {
                                    sale:[""],
                                    cate:["休閒","獨立製作","模擬","策略"],
                                    mode:["單人"]                                
                                }
                            ]
                        },
                        {   
                            id:18,
                            name: '宇宙探險隊 (Epic Astro Story)',
                            img:'./pic/img/cover/18.jpg',
                            discount: 0.6,
                            originalPrice: 1100,
                            clicked:false,
                            hovered:false,
                            date:"2023-05-05",
                            purchased:1000,
                            tagType:[
                                {
                                    sale:["太空探險"],
                                    cate:["休閒","獨立製作","角色扮演","模擬","策略"],
                                    mode:["合作"]                                
                                }
                            ]
                        },
                    ],

                    //商品排序選擇
                    isOpen: false,
                    selectedOption: '選擇排序方式',
                    selectedOptionValue: '',
                    options: [
                        { text: '最受歡迎', value: 'more_popular' },
                        { text: '日期由新到舊', value: 'new_to_old' },
                        { text: '日期由舊到新', value: 'old_to_new' },
                        { text: '價格由高到低', value: 'high_to_low' },
                        { text: '價格由低到高', value: 'low_to_high' }
                    ],

                    //熱門類別區塊
                    hotGameList:'熱門遊戲類別',
                    hotCategories:[
                        {
                            id:1,
                            name:'多人合作',
                            img:'./pic/img/gameTypeIcon/coorperate.svg'
                        },
                        {   
                            id:2,
                            name:'單人遊戲',
                            img:'./pic/img/gameTypeIcon/personal.svg'
                        },
                        {   
                            id:3,
                            name:'解謎',
                            img:'./pic/img/gameTypeIcon/puzzle.svg'
                        },
                        {   
                            id:4,
                            name:'射擊',
                            img:'./pic/img/gameTypeIcon/shot.svg'
                        },
                        {   
                            id:5,
                            name:'休閒',
                            img:'./pic/img/gameTypeIcon/casual.svg'
                        },
                        {   
                            id:6,
                            name:'冒險',
                            img:'./pic/img/gameTypeIcon/adventure.svg'
                        },
                        {   
                            id:7,
                            name:'科幻',
                            img:'./pic/img/gameTypeIcon/science_fiction.svg'
                        },
                        {   
                            id:8,
                            name:'角色扮演',
                            img:'./pic/img/gameTypeIcon/role_play.svg'
                        }
                        
                    ]
                };
            },  
            
            mounted(){ 
                console.log(this.sortedGoods);
            },
            computed: {
                
            },
            
            methods:{        
                
                //商品排序選擇功能
                sortedGoods() {
                    console.log("abc");
                    console.log(this.selectedOptionValue);
                    switch (this.selectedOptionValue) {
                        case 'more_popular'://最受歡迎
                            this.goodslist = this.goodslist.slice().sort((a, b) => b.purchased - a.purchased); 
                            break;
                        case 'new_to_old'://新到舊
                            this.goodslist = this.goodslist.slice().sort((a, b) => new Date(b.date) - new Date(a.date));
                            break;
                        case 'old_to_new'://舊到新                                              
                            this.goodslist = this.goodslist.slice().sort((a, b) => new Date(a.date) - new Date(b.date));
                            break;
                        case 'high_to_low'://價格高到低           
                            this.goodslist = this.goodslist.slice().sort((a, b) => b.originalPrice - a.originalPrice); 
                            break;     
                        case 'low_to_high'://價格低到高
                            this.goodslist = this.goodslist.slice().sort((a, b) => a.originalPrice - b.originalPrice);
                            break;
                        default:
                            return this.goodslist;
                    }
                },
                
                // 下拉選單功能
                toggleOptions() {
                    this.isOpen = !this.isOpen;
                },
                selectOption(option) {
                    this.selectedOption = option.text;
                    this.selectedOptionValue = option.value;
                    this.isOpen = false;
                    console.log(this.selectedOptionValue);
                },
                
                //頁碼切換
                goToPage(page) {
                    if (page >= 1 && page <= this.totalPages()) {
                        this.currentPage = page; // 跳轉到指定頁碼
                        console.log(this.currentPage);
                    }
                },
                totalPages() {
                    return Math.ceil(this.goodslist.length / this.itemsPerPage); // 總頁數
                },
                previousPage() {
                    if (this.currentPage > 1) {
                        this.currentPage--; //上一頁
                    }
                },
                nextPage() {
                    if (this.currentPage < this.totalPages()) {
                        this.currentPage++; //下一頁
                    }
                },
                
                displayedGoods() { //商品呈現功能
                    const start = (this.currentPage - 1) * this.itemsPerPage;
                    const end = start + this.itemsPerPage;
                    return this.goodslist.slice(start, end);
                },                
                
            },            
            components:{
                ProductList,
                Paginator, 
                ProductSidebar,          
            },                       
        });       

        productindex.mount('#productIndex'); // 將Vue應用程序掛載到具有id="product_index"的元素上 

        // Swiper設定

        var banner = new Swiper(".productBanner", {  
            loop: true,
            navigation: {
                nextEl: ".product_banner_next",
                prevEl: ".product_banner_prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable:true,
            },
            autoplay: {
                delay: 10000,
                disableOnInteraction: true,
            },                
            keyboard: true,
        });

        var cate = new Swiper(".hot_game_cate", {
            loop: true,                
            navigation: {
                nextEl: ".arrow_right",
                prevEl: ".arrow_left",
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: true,
            },
            breakpoints:{
                1920:{
                    slidesPerView: 3,
                    spaceBetween: 30,
                },

                1440:{
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                1080:{
                    slidesPerView: 3,
                    spaceBetween: 10,
                },
                414:{
                    slidesPerView: 2,
                    spaceBetween: 10,
                }
            },
        }); 

        //手機板篩選器設定
        $('.sidebar_btn').click(function(){
            $('.product_sidebar').css("left","0");
        })
        $('.apply_choose').click(function(){
            $('.product_sidebar').css("left","-414px");
        })

    </script>
</body>

</html>