<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstem | 商品活動頁</title>
    @@include('./layout/style.html')
    <!-- 以下可以放自己的link -->
</head>

<body>
    <!-- header -->
    @@include('./layout/header.html')
    <main class="product_activity">
        <div class="banner col-12">            
            <h1>夏季特賣</h1>
        </div>
        <nav id="activity_breadcrumb">
            <a href="./index.html">首頁</a><i class="bi bi-chevron-right a_after"></i>
            <a href="./product.html">商品</a><i class="bi bi-chevron-right a_after"></i>
            <a href="./product_activity.html">夏季特賣</a>
        </nav>
        <section class="activity_main col-12">

            <nav class="product_sidebar col-3">
                <div class="tag_choose">已選擇的標籤 <span class="clear">清除全部</span></div>
                <div id="tags_container"></div>
                <ul>
                    <li>
                        <div class="button">限時促銷活動
                            <i class="bi bi-chevron-down arrow"></i>
                        </div>
                        <ul class="sale_list">
                            <li class="item"><span>燒腦解謎</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>夏季特賣</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>角色扮演</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>射擊遊戲</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>太空探險</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>恐怖遊戲</span><i class="bi bi-check-lg check-icon"></i></li>
                        </ul>
                    </li>

                    <li>
                        <div class="button">遊戲類型
                            <i class="bi bi-chevron-down arrow"></i>
                        </div>
                        <ul class="cate_list">
                            <li class="item"><span>動作</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>冒險</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>角色扮演</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>策略</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>模擬</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>經營</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>城市營造</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>農場模擬</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>戰爭</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>休閒</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>日系</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>運動</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>棒球</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>網球</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>競速</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>賽馬</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>賽車</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>烹飪</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>可愛</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>兒童</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>太空模擬</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>殖民模擬</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>像素風</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>2D格鬥</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>獨立遊戲</span><i class="bi bi-check-lg check-icon"></i></li>
                        </ul>
                    </li>

                    <li>
                        <div class="button">遊戲模式
                            <i class="bi bi-chevron-down arrow"></i>

                        </div>
                        <ul class="mode_list">
                            <li class="item"><span>單人</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>多人</span><i class="bi bi-check-lg check-icon"></i></li>
                            <li class="item"><span>合作</span><i class="bi bi-check-lg check-icon"></i></li>
                        </ul>
                    </li>

                    <li>
                        <div class="button">金額
                            <i class="bi bi-chevron-down arrow"></i>

                        </div>
                        <ul class="price_list">
                            <li class="item price_range">
                                <!-- <label for="minAmount">最低金額</label> -->
                                <span for="minAmount">最低金額</span>
                                <input type="text" class="form-control" id="minAmount">
                            </li>
                            <li class="item price_range">
                                <!-- <label for="maxAmount">最高金額</label> -->
                                <span for="maxAmount">最高金額</span>
                                <input type="text" class="form-control" id="maxAmount">
                            </li>
                        </ul>
                    </li>
                </ul>
                <button class="apply_choose">套用</button>
            </nav>

            <div class="products col-9">  

                <div class="add_filter">
                    <div class="sidebar_btn">
                        <span>篩選器</span>
                        <i class="bi bi-filter"></i>
                    </div>
                    <div id="app" class="product_order">
                        <h3>排序：</h3>
                        <div class="order_btn" @click="toggleOptions">
                            <span class="option_text">{{ selectedOption }}</span>
                            <i :class="{'bi': true, 'bi-chevron-down': !isOpen, 'bi-chevron-up': isOpen}"></i>
                        </div>
                        <ul class="order_options" v-if="isOpen">
                            <li class="option" v-for="option in options" :key="option.text"
                                @click="selectOption(option)">
                                <span class="option_text">{{ option.text }}</span>
                            </li>
                        </ul>
                    </div>                        
                </div>

                <div class="product_goods" id="goodsIn">
                    <!-- <div class="each_good" v-for="(item, index) in goodslist" :key="index">
                        <div class="goods_top" style="background-image: url({{item.url}});">
                            <span class="discount">-{{(1-item.discount) * 100}}%</span>
                            <i class="bi bi-suit-heart-fill"></i>
                        </div>
                        <div class="goods_text">
                            <h3>{{item.name}}</h3>
                            <span class="price">${{item.originalPrice * (1-item.discount) }}</span>
                            <span class="price_original">${{item.orinalPrice}}</span>
                        </div>
                    </div> -->
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top"> 
                                <img src="./pic/img/cover/1.jpg" alt="">                                   
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>籃球熱潮物語 (Basketball Club Story)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div>   
                        </a>                         
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/2.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>南國度假島物語 (Tropical Resort Story)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div>   
                        </a>                         
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/3.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>夢想商店街物語 (Biz Builder Delux)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div>  
                        </a>                          
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/4.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>百貨公司物語2 (Mega Mall Story 2)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div>   
                        </a>                         
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/5.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>風雲拳擊物語 (Boxing Gym Story)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div>    
                        </a>                        
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/6.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>金字塔王國物語 (The Pyraplex)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div>    
                        </a>                        
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/7.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>星之開羅君 (Kairobotica)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div> 
                        </a>                           
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/8.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>晴空農場物語 (Pocket Harvest)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div>  
                        </a>                          
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/9.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>創意漢堡物語 (Burger Bistro Story)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div> 
                        </a>                           
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/10.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>溫泉物語2 (Hot Springs Story 2)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div>
                        </a>                            
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/11.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>開拓神秘島DX (Beastie Bay DX)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div>  
                        </a>                          
                    </div>
                    <div class="each_good col-3">
                        <a href="./product_information.html">
                            <div class="goods_top">
                                <img src="./pic/img/cover/12.jpg" alt="">
                                <span class="discount">-40%</span>
                                <i class="bi bi-suit-heart"></i>
                            </div>                            
                            <div class="goods_text">
                                <h3>網球俱樂部物語 (Tennis Club Story)</h3>
                                <span class="price">$103</span>
                                <span class="price_original">$172</span>
                            </div> 
                        </a>                           
                    </div>       
                    <div class="heart_popup">
                        <i class="bi bi-check-circle"></i>
                        <h2>已加入願望清單</h2>
                    </div>      
                    <div class="heart_remove">
                        <i class="bi bi-trash"></i>
                        <h2>已從願望清單移除</h2>
                    </div>                 
                </div>

                <nav class="pages">
                    <ul class="product_pages">
                        <li class="each_page"><a class="active" href="#">1</a></li>
                        <li class="each_page"><a href="#">2</a></li>
                        <li class="each_page"><a href="#">3</a></li>
                        <li class="each_page"><a href="#">4</a></li>
                        <li class="each_page"><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>

    </main>
    <!-- footer -->
    @@include('./layout/footer.html')
    <!-- javascript -->
    @@include('./layout/js.html')
    <!-- 以下可以放自己的js -->
    <script src="./vendors/vue/vue.global.js"></script>
    <script src="./js/heart.js"></script>
    <script src="./js/product_sidebar.js"></script>

    <script>

        const app = Vue.createApp({
            data() {
                return {
                    isOpen: false,
                    selectedOption: '選擇排序方式',
                    options: [
                        { text: '最受歡迎', value: 'more_popular' },
                        { text: '日期由新到舊', value: 'new_to_old' },
                        { text: '日期由舊到新', value: 'old_to_new' },
                        { text: '價格由高到低', value: 'high_to_low' },
                        { text: '價格由低到高', value: 'low_to_high' }
                    ]
                };
            },
            methods: {
                toggleOptions() {
                    this.isOpen = !this.isOpen;
                },
                selectOption(option) {
                    this.selectedOption = option.text;
                    this.isOpen = false;
                }
            }
        });
        app.mount('#app'); // 將Vue應用程序掛載到具有id="app"的元素上   

        

    </script>
</body>

</html>