<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <title>Document</title>
    </head>

    <body>
        <main>
        <div class="main">
        <h1>HI</h1>
        <p class="price">其實還沒爆炸</p>
        <p class="cc">其實還沒爆炸</p>

        <footer>
            <p class="price_original">i am tired</p>
        </footer>

        <span class="discount">70%</span>
        <!-- 按鈕 -->
        <div class="btn more">查看更多</div>
        <!-- 左右按鈕 -->
        <div class="arrow_box">
            <div class="arrow_left btn">
                <i class="bi bi-chevron-left"></i>
            </div>
            <div class="arrow_right btn">
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>


        <h2>最受歡迎<i class="bi bi-chevron-right"></i>
        </h2>
         <!-- 熱門新聞 -->
        <div class="best_news">
        <div class="news_card_column col-5">
            <img src="https://placehold.co/499x279" alt="">
            <div class="news_info">
                <div class="news_date">2023/5/30</div>
                <div class="news_icon">
                    <span>222<i class="bi bi-hand-thumbs-up"></i>
                    </span>
                    <i class="bi bi-share-fill"></i>
                </div>
            </div>
            <div class="title">
                <h3>把聖休亞瑞當自己家！《暗黑破壞神 4》釋出新解析影片 團隊談客製化角色外觀及遊玩風格
                </h3>
            </div>
            <div class="news_text">
                <p>Blizzard 今（18）日公開《暗黑破壞神
                    4》新遊戲深入解析影片，開發團隊成員針對遊戲設計核心之一「玩出自我」分享見解，並介紹多樣客製化遊玩風格及角色外觀的方式。
                </p>
            </div>
        </div>
        <div class="news_card_column col-5">
            <img src="https://placehold.co/499x279" alt="">
            <div class="news_info">
                <div class="news_date">2023/5/30</div>
                <div class="news_icon">
                    <span>222<i class="bi bi-hand-thumbs-up"></i>
                    </span>
                    <i class="bi bi-share-fill"></i>
                </div>
            </div>
            <div class="title">
                <h3>把聖休亞瑞當自己家！《暗黑破壞神 4》釋出新解析影片 團隊談客製化角色外觀及遊玩風格
                </h3>
            </div>
            <div class="news_text">
                <p>Blizzard 今（18）日公開《暗黑破壞神
                    4》新遊戲深入解析影片，開發團隊成員針對遊戲設計核心之一「玩出自我」分享見解，並介紹多樣客製化遊玩風格及角色外觀的方式。
                </p>
            </div>
        </div>
        <div class="news_card_column col-5">
            <img src="https://placehold.co/499x279" alt="">
            <div class="news_info">
                <div class="news_date">2023/5/30</div>
                <div class="news_icon">
                    <span>222<i class="bi bi-hand-thumbs-up"></i>
                    </span>
                    <i class="bi bi-share-fill"></i>
                </div>
            </div>
            <div class="title">
                <h3>把聖休亞瑞當自己家！《暗黑破壞神 4》釋出新解析影片 團隊談客製化角色外觀及遊玩風格
                </h3>
            </div>
            <div class="news_text">
                <p>Blizzard 今（18）日公開《暗黑破壞神
                    4》新遊戲深入解析影片，開發團隊成員針對遊戲設計核心之一「玩出自我」分享見解，並介紹多樣客製化遊玩風格及角色外觀的方式。
                </p>
            </div>
        </div>


        <h3>選擇優惠券</h3>
                <i class="bi bi-x-lg leave"></i>
                <div class="add">
                    <p>新增優惠券</p>
                    <input type="text" placeholder="輸入優惠券代碼" >
                    <button class="btn">使用</button>
                </div>
                <h3>我的優惠券</h3>
                <div class="coupon_list">
                <div class="coupon_item">
                        <div class="coupon_text">
                        <p class="title">青銅會員每月9折優惠券</p>
                        <p>使用期限：2023/4/1~2023/4/30</p>
                        <p>使用規則：不能於其他優惠商品重複使用、每次優惠券只能選擇一張。</p>
                    </div>
                    <div class="coupon_dis">
                        <p>9折</p>
                    </div>
                </div>
                <div class="coupon_item">
                    <div class="coupon_text">
                    <p class="title">青銅會員每月9折優惠券</p>
                    <p>使用期限：2023/4/1~2023/4/30</p>
                    <p>使用規則：不能於其他優惠商品重複使用、每次優惠券只能選擇一張。</p>
                </div>
                <div class="coupon_dis">
                    <p>9折</p>
                </div>
            </div>
            <div class="coupon_item">
                <div class="coupon_text">
                <p class="title">生日優惠券$300元</p>
                <p>使用期限：2023/4/1~2023/4/30</p>
                <p>使用規則：不能於其他優惠商品重複使用、每次優惠券只能選擇一張。</p>
            </div>
            <div class="coupon_dis">
                <p>$300元</p>
                <p>抵用券</p>
            </div>
        </div>
        </div>

        <section class="col-9 right">
            <div class="order">
              <h3>訂單記錄</h3>
              <div class="form_title">
                <p>訂單編號</p>
                <p>購買日期</p>
                <p>購買金額</p>
                <p>訂單狀態</p>
              </div>
              <div class="order_info" v-for="order in orders" :key="order.orderId">
                <div class="flex_grow">
                  <i class="bi bi-dash-lg" @click="toggleOrderDetails(order)"></i>
                  <p class="ID">{{ order.orderId }}</p>
                </div>
                <p>{{ order.purchaseDate }}</p>
                <p>{{ order.purchaseAmount }}</p>
                <p>{{ order.orderStatus }}</p>
                <div v-if="order.showDetails" class="detail_order">
                  <div class="detail_order_title">
                    <p>訂單內容</p>
                    <p>商品折扣</p>
                    <p>購買金額</p>
                  </div>
                  <div class="detail_order_info">
                    <div class="item" v-for="item in order.items" :key="item.itemId">
                      <div class="item_info">
                        <img :src="item.image" alt="">
                        <p>{{ item.name }}</p>
                      </div>
                      <div class="dis">
                        <div class="discount">{{ item.discount }}</div>
                      </div>
                      <div class="price_box">
                        <div class="price">{{ item.price }}</div>
                        <div class="price_original">{{ item.originalPrice }}</div>
                      </div>
                    </div>
                    <div class="settlement">
                      <div class="coupon">
                        <p>優惠券使用</p>
                        <p class="settlement_right">{{ order.coupon }}</p>
                      </div>
                      <div class="dis">
                        <p>折扣</p>
                        <p class="settlement_right">{{ order.discount }}</p>
                      </div>
                      <div class="sum">
                        <p>總金額</p>
                        <p class="settlement_right">{{ order.totalAmount }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="col-9 right">
        <div class="order">
            <h3>訂單記錄</h3>
            <div class="form_title">
                <p>訂單編號</p>
                <p>購買日期</p>
                <p>購買金額</p>
                <p>訂單狀態</p>
            </div>
            <div class="order_info">
                <div class="flex_grow">
                    <i class="bi bi-dash-lg open_btn"></i>
                    <p class="ID">ak4l79e3k68sly</p>
                 </div>
                <p>2023/1/15</p>
                <p>$2,059</p>
                <p>已完成</p>
            </div>
            <div class="detail_order">
                <div class="detail_order_title">
                    <p>訂單內容</p>
                    <p>商品折扣</p>
                    <p>購買金額</p>
                </div>
                <div class="detail_order_info">
                    <div class="item">
                        <div class="item_info">
                        <img src="https://placehold.co/95x125" alt="">
                        <p>遊戲名稱遊戲名稱遊戲名稱遊戲名稱</p>
                        </div>
                        <div class="dis">
                        <div class="discount">-75%</div>
                        </div>
                        <div class="price_box">
                        <div class="price">$660</div>
                        <div class="price_original">$1,099</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_info">
                        <img src="https://placehold.co/95x125" alt="">
                        <p>遊戲名稱遊戲名稱遊戲名稱遊戲名稱</p>
                        </div>
                        <div class="dis">
                        <div class="discount">-75%</div>
                        </div>
                        <div class="price_box">
                        <div class="price">$1,399</div>
                        </div>
                    </div>
                    <div class="settlement">
                        <div class="coupon">
                        <p>優惠券使用</p>
                        <p class="settlement_right">春季特賣優惠商品 -40%</p>
                        </div>
                        <div class="dis">
                            <p>折扣</p>
                            <p class="settlement_right">-439元</p>
                        </div>
                        <div class="sum">
                            <p>總金額</p>
                            <p class="settlement_right">2059 元</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order_info">
                <div class="flex_grow">
                    <i class="bi bi-dash-lg"></i>
                    <p>ak4l79e3k68sly</p>
                </div>
                <p>2023/1/15</p>
                <p>$2,059</p>
                <p>已完成</p>
            </div>
            
        </div>
    </section>






    </div>
</div>
<div class="ccc" style="height:1000px"></div>
<div class="aaaa">
    <ul>
        <li>
            
            <label for="aa"><input type="checkbox" id="aa">aa</label>
        </li>
    </ul>
</div>
</main>
    </body>

</html>