<div class="col-2 B_nav">
    <div class="B_nav_top">
        <img src="./pic/img/backend/people.png">
        <div class="test">
            <h5>管理者A</h5>
            <p>職稱、權限</p>
        </div>
    </div>

    <ul>
        <li>
            <a href="./B_member.html">
                <h5>會員資料</h5>
            </a>
        </li>
        <li>
            <a href="./B_games.html">
                <h5>遊戲管理</h5>
            </a>
        </li>
        <li>
            <a href="./B_order.html">
                <h5>訂單查詢</h5>
            </a>
        </li>
        <li>
            <a href="./B_coupon.html">
                <h5>優惠券管理</h5>
            </a>
        </li>
        <li>
            <a href="./B_login.html">
                <h5 class="exit">登出<i class="bi bi-box-arrow-right"></i></h5>
            </a>
        </li>
    </ul>
</div>