.about {

    .tabs {

        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px auto;
        /* border: 5px solid red; */
        margin-top: 40px;

        .tablinks {
            border-bottom: 1px solid #FF6300;
            color: white;
            text-align: center;
            font-size: 2rem;
            display: block;
            font-family: 'Inter', sans-serif;
            font-weight: bolder;
            padding: 20px 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            flex-basis: 0;
            flex-grow: 1;

            &:hover {
                background-color: #FF6300;
                /* color: #ccc; */
            }

            @include breakpoint-1440 {
                font-size: 1.2rem;
            }
        }

        .tablinks1 {
            border-right: 1px solid #FF6300;
            border-left: 1px solid #FF6300;
            border-bottom: 1px solid #FF6300;
            color: white;
            text-align: center;
            font-size: 2rem;
            display: block;
            font-family: 'Inter', sans-serif;
            font-weight: bolder;
            padding: 20px 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            flex-basis: 0;
            flex-grow: 1;



            &:hover {
                background-color: #FF6300;
            }

            @include breakpoint-1440 {
                font-size: 1.2rem;
            }

        }



        .bi-controller {

            @include breakpoint-1440 {
                font-size: 1rem;
            }
        }


        .bi-shield-lock{
            @include breakpoint-1440 {
                font-size: 1rem;
            }
        }



        .bi-chat{
            @include breakpoint-1440 {
                font-size: 1rem;
            }
        }


    }

    /* 執行js才會有的樣式 */
    .accordion-item.open .accordion-header {
        background-color: lightseagreen;
        color: white;
    }

    .accordion-item.open .accordion-header.active::after {
        color: #fff;
        transform: rotate(45deg);
    }



    // ================================page1================================

    #page1 {

        display: none;
        flex-wrap: wrap;
        margin-top: 100px auto;
        flex-basis: 0;

        .article {
            display: block;
            width: 100%;
            margin: 0 auto;
            /* padding: 50px; */
            margin: 50px 0;
            box-sizing: border-box;

            h2 {
                font-weight: bolder;
                font-size: 4rem;
                display: block;
                margin-bottom: 10px;
                color: white;
                line-height: 1.6;
                border-bottom: 2px;

                /* padding-left: 60px; */
                @include breakpoint-1440 {
                    font-size: 2rem;
                }
            }

            p {
                color: white;
                font-size: 2rem;
                line-height: 1.8;
                letter-spacing: 2PX;
                text-align: justify;
                text-justify: distribute-all-lines;
                box-sizing: border-box;

                @include breakpoint-1440 {
                    font-size: 1rem;
                }
            }
        }







        .page.active {
            display: block;
        }

        .content {
            border: 1px solid rgba(255, 0, 0, 0);
            height: 150%;
            position: relative;

            .content-about {
                // border: 2px solid white;
                width: 40%;
                margin: 25% auto;

                @include breakpoint-1440 {

                    // border: 2px solid red;
                    width: 100%;
                    margin: 25% auto;
                    height: 150%;

                }



                h2 {
                    font-size: 4rem;
                    padding-left: 36px;
                    padding-bottom: 30px;
                    padding-top: 20px;

                    @include breakpoint-1440 {
                        font-size: 2rem;
                        width: 60%;
                        margin: 0 auto;
                        padding: 0;
                        // margin-right: 20px;
                        text-align: center;
                    }
                }

                p {
                    font-size: 2.2rem;
                    margin-bottom: 150px;
                    text-align: center;

                    @include breakpoint-1440 {
                        font-size: 1.5rem;
                        // margin-top: 50px;
                        width: 70%;
                        margin-bottom: 0;
                        // margin: 0 auto;
                        // margin-right: 20px;
                        padding-top: 30px;
                        padding-left: 52px;
                        margin-bottom: 50px;
                    }
                }

                a {
                    font-size: 2.5rem;
                    margin: 0 auto;
                    // border: 1px solid red;
                    margin-top: 50px;
                    margin-left: 206px;
                    background-color: #6511E1;
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-top-right-radius: 35px;
                    border-top-left-radius: 35px;
                    border-bottom-right-radius: 35px;
                    border-bottom-left-radius: 35px;

                    &:hover {
                        /* background-color: lightseagreen; */
                        background-color: #FF6300;
                    }

                    @include breakpoint-1440 {
                        font-size: 1rem;
                        text-align: center;
                        margin: 0 auto;
                        // margin-top: 20px;
                        margin-left: 111px;

                    }
                }
            }

            .img {
                width: 30%;
            }

            .img1 {
                position: absolute;
                width: 13%;
                // bottom: 800px;
                left: 72px;
                top: 70px;

                @include breakpoint-1440 {
                    left: 2px;
                    top: -15px;
                }

            }

            .img2 {
                position: absolute;
                width: 13%;
                left: 178px;
                top: 381px;

                @include breakpoint-1440 {
                    left: 24px;
                    top: 92px;
                }
            }

            .img3 {
                position: absolute;
                width: 13%;
                left: 61px;
                top: 690px;

                @include breakpoint-1440 {
                    left: 2px;
                    top: 302px;
                }
            }

            .img4 {
                position: absolute;
                width: 13%;
                left: 309px;
                bottom: -88px;

                @include breakpoint-1440 {
                    left: 69px;
                    top: 444px;
                }
            }

            .img5 {
                position: absolute;
                width: 13%;
                top: 70px;
                right: 83px;

                @include breakpoint-1440 {
                    top: -15px;
                    right: 0px;
                }
            }

            .img6 {
                position: absolute;
                width: 10%;
                top: 401px;
                right: 228px;

                @include breakpoint-1440 {
                    top: 189px;
                    right: 0px;
                }
            }

            .img7 {
                position: absolute;
                width: 13%;
                top: 644px;
                right: 97px;

                @include breakpoint-1440 {
                    top: 326px;
                    right: 37px;
                }
            }

            .img8 {
                position: absolute;
                width: 13%;
                bottom: -53px;
                right: 394px;

                @include breakpoint-1440 {
                    top: 441px;
                    right: 112px;
                }
            }
        }

        .teams {

            // border: 1px solid rgb(0, 255, 38);
            margin-top: 150px;
            // height: 1000px;

            h1 {
                font-size: 4rem;
                text-align: center;
                margin-top: 350px;
                margin-bottom: 60px;

                @include breakpoint-1440 {
                    font-size: 2rem;
                    margin-top: 200px;
                    margin-bottom: 30px;
                    // outline: 1px solid tomato;
                }
            }

            ul {
                width: 100%;
                height: 100vh;
                // border: 1px solid rgb(162, 0, 255);
                display: flex;
                padding-top: 40px;
                margin: 0 auto;
                padding-left: 20px;
                height: 700px;

                @include breakpoint-414 {
                    // outline: 20px solid rgb(3, 255, 163);
                    width: 100vw;
                    // position: relative;
                    overflow: scroll;
                }



                li {
                    width: 50%;
                    margin-bottom: 10px;

                    @include breakpoint-414 {
                        // border: 2px solid red;
                        //    width: 300px ; 
                        // margin-right: 200px;
                        margin-left: 30px;

                    }


                    img {
                        width: 150px;
                        height: 190px;
                        // border-radius: 50%;
                        margin-bottom: 15px;

                        @include breakpoint-414 {
                            //    width: 100px;
                            //    height: 100px;
                            //    border-radius: none;
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 20px;

                        }

                    }

                    h2 {
                        font-size: 2.1rem;
                        margin-bottom: 20px;


                        @include breakpoint-414 {
                            // font-size: 3rem;
                            padding-left: 40px;
                            margin-bottom: 20px;
                            font-size: 2rem;
                        }

                    }

                    p {
                        font-size: 1.8rem;

                        @include breakpoint-414 {
                            width: 45vw;
                            font-size: 1.5rem;
                        }
                    }

                    .about_text {
                        font-size: 1.8rem;
                        line-height: 1.5;

                        @include breakpoint-414 {
                            padding-left: 40px;

                        }
                    }
                }

            }

        }
    }

    // ================================page2================================

    #page2 {

        display: none;
        flex-wrap: wrap;
        margin-top: 100px auto;
        flex-basis: 0;

        .article {
            display: block;
            width: 100%;
            margin: 0 auto;
            /* padding: 50px; */
            margin: 50px 0;
            box-sizing: border-box;

            h2 {
                font-weight: bolder;
                font-size: 4rem;
                display: block;
                margin-bottom: 10px;
                color: white;
                line-height: 1.6;
                border-bottom: 2px;
                text-align: justify;

                /* padding-left: 60px; */
                @include breakpoint-1440 {
                    font-size: 2rem;
                }
            }

            h3 {
                font-size: 3rem;
                margin-bottom: 10px;
                text-align: justify;

                @include breakpoint-1440 {
                    font-size: 1.5rem;
                }
            }

            p {
                text-align: justify;
                font-size: 2rem;
                line-height: 1.5;

                @include breakpoint-1440 {
                    font-size: 1rem;
                    text-align: justify;
                }
            }
        }
    }

    // ================================page3================================
    #page3 {

        display: none;
        flex-wrap: wrap;
        margin-top: 100px auto;
        flex-basis: 0;


        .article {
            display: block;
            width: 100%;
            margin: 0 auto;
            /* padding: 50px; */
            margin: 50px 0;
            box-sizing: border-box;

            h2 {
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;


            }


            .accordion {
                max-width: 800px;
                margin: 0 auto;

                .accordion-item {
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
                    border: 1px solid #ddd;
                    margin-bottom: 10px;
                    border-radius: 10px;

                    .accordion-header {
                        padding: 15px 20px;
                        margin: 0;
                        cursor: pointer;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        font-size: 2.5rem;
                        font-weight: 500;
                        letter-spacing: 1px;
                        color: #FF6300;
                        transition: background-color 0.3s ease;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;

                        @include breakpoint-1440 {
                            font-size: 1.5rem;
                        }


                        .accordion-header::after {
                            content: '\002B';
                            font-size: 24px;
                            font-weight: bold;
                            color: #FF6300;
                            transition: transform 0.3s ease;

                            &:hover {
                                /* background-color: lightseagreen; */
                                color: #FF6300;
                            }
                        }
                    }

                    .accordion-content {
                        padding: 20px;
                        /* background-color: #fff; */
                        /* border: 2px solid lightseagreen; */
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        font-size: 2.3rem;
                        color: black;
                        line-height: 1.5;
                        display: none;

                        .accordion-content p {
                            line-height: 2;
                            font-size: 2rem;
                        }


                        .item h3 {
                            font-size: 1.6rem;
                            margin-top: 20px;
                            margin-bottom: 30px;

                            a {
                                font-size: 1.6rem;
                                color: #8B45CE;
                            }
                        }
                    }
                }
            }
        }
    }

}