//共用按鈕
%AI_test_button {
  display: block;
  margin: 30px auto;
  font-size: $h3;
  font-weight: 700;
  padding: 10px 0;
  color: $white;
  background-color: $test_button;
  box-shadow: 5px 5px $test_button_shadow;
  border: 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

// 適合的遊戲類型及描述
.results_text {
  //   border: 2px solid saddlebrown;
  margin: 0 auto;
  padding: 40px 10px 0px 10px;

  .results_title {
    text-align: center;
    line-height: 1.5;
  }
  .results_game_name {
    text-align: center;
    color: $orange;
    line-height: 3;
  }
  .results_contents {
    max-width: 800px;
    margin: 0 auto;
    color: $white;
    font-size: $h3;
    line-height: 1.5;
    text-align: justify;
  }
}
//推薦的三款遊戲內容
.results_game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 40px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 40px;
  max-width: 80%;
  position: relative;
  // border: 2px solid saddlebrown;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 60px 0;
    max-width: 90%;
  }
  .game_top_block {
    // border: 2px solid rgb(139, 19, 129);
    margin: 0 auto;
    position: relative;
    .top_game {
      padding: 0;
      img {
        max-width: 250px;
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.283);
      }
    }
    .top_game_text {
      position: absolute;
      top: -5%;
      left: -10%;
      background-color: $white;
      line-height: 1.2;
      padding: 5px;
      color: $orange;
    }
    .top_game_name {
      color: $white;
      text-align: center;
      line-height: 1.5;
      padding-top: 20px;
      max-width: 250px;
    }
  }
}

.more_games_button {
  a {
    font-size: $h4;
  }
  display: block;
  margin: 0 auto;
  background-color: $orange;
  color: $white;
  padding: 5px 20px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.share_img_button {
  @extend %AI_test_button;
  a {
    font-size: $h4;
    padding: 10px 40px;
  }
}
