.B_coupon_info {
    display: flex;
    height: 1280px;

    .right {
        margin-top: 20px;

        a {
            display: block;
            width: 102px;

            h6::before {
                content: '\003C';
                margin-right: 5px;
            }
        }

        .right_main {
            border: 1px solid #000;
            line-height: 4;

            form {
                width: 90%;
                margin: 0 auto;

                .B_button {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid black;

                    button {
                        width: auto;
                        height: 50px;
                        margin: auto 0;
                    }
                }

                ul {
                    margin-bottom: 150px;
                    li {
                        margin: auto 0;
                        border-bottom: 1px solid black;
                        display: grid;
                        grid-template-columns: .8fr 1fr 1.4fr .8fr;
                        h6 {
                            margin-left: 5px;
                        }
                        input{
                            margin: auto 0;
                        }
                        textarea {
                            padding: 5px;
                            border-radius: 5px;
                            font-size: $p;
                            margin: 10px auto;
                        }
                    }
                    .B_grid_two{
                        grid-template-columns: .8fr 3.2fr;
                        :first-child{
                            margin: auto 0;
                        }
                    }
                    .B_grid_two_2{
                        grid-template-columns: .8fr 1.6fr 1.6fr;
                        :first-child{
                            margin: auto 0;
                        }
                    }
                }
            }

            .right_main>h6 {
                width: 90%;
                margin: 0 auto;
            }

        }
    }
}