.B_member_info {
    display: flex;

    .right {
        margin-top: 20px;

        a {
            display: block;
            width: 102px;

            h6::before {
                content: '\003C';
                margin-right: 5px;
            }
        }

        .right_main {
            border: 1px solid #000;
            line-height: 4;

            form {
                width: 90%;
                margin: 0 auto;

                .firstul {
                    justify-content: space-between;
                }

                ul {
                    display: flex;
                    border-bottom: 1px solid black;
                    li {
                        margin: auto 0;
                        h6 {
                            margin-right: 150px;
                        }
                    }
                }

                ul:nth-child(5) {
                    h6 {
                        margin-right: 129px;
                    }
                }

                ul:nth-child(6) {
                    li:nth-child(2) {
                        margin-right: 150px;
                    }

                    li:nth-child(3) {
                        margin-right: 90px;
                    }
                }
            }

            .down_ul {
                width: 90%;
                margin: 0 auto;
                display: flex;

                li {
                    background-color: #e9e9e9;
                    text-align: center;
                    border-bottom: 1px solid #000;
                }
            }

            .B_shop {
                width: 90%;
                margin: 0 auto;
                text-align: center;

                i {
                    font-size: 20px;
                    color: #000;
                }

                ul {
                    margin: 20px auto 0;
                    display: flex;
                    border: 1px solid #000;
                    li:nth-child(2) {
                        text-align: left;
                    }
                }

                .B-shopitem {
                    ul {

                        li {
                            margin: auto 0;

                            img {
                                display: block;
                            }
                        }

                        li:nth-child(2) {
                            text-align: left;
                        }
                    }

                }

                .B-shopitem>ul {
                    margin-top: 0;
                    border-top: none;
                }

                .B-shopitem>ul:last-child {
                    margin-bottom: 20px;
                }
            }

            .B_shop>ul:last-child {
                margin-bottom: 50px;
            }
        }

        .right_main>h6 {
            width: 90%;
            margin: 0 auto;
        }

    }
}