.B_member_info {
    display: flex;
    // height: 1080px;
    .right {
        margin-top: 20px;

        a {
            display: block;
            width: 102px;

            h6::before {
                content: '\003C';
                margin-right: 5px;
            }
        }

        .right_main {
            border: 1px solid #000;
            line-height: 4;

            form {
                width: 90%;
                margin: 0 auto;

                .B_button {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid black;

                    button {
                        width: auto;
                        height: 50px;
                        margin: auto 0;
                    }
                }

                ul {
                    li {
                        margin: auto 0;
                        border-bottom: 1px solid black;
                        display: grid;
                        grid-template-columns: 0.8fr 1fr 1.4fr .8fr;

                        label {
                            margin: auto 0;
                        }

                        h6 {
                            margin-left: 5px;
                        }

                        input {
                            margin: auto;
                        }
                        button{
                            width: 60%;
                            margin: auto;
                            margin-left: 0;
                        }
                    }

                    .B_grid_four {
                        display: grid;
                        grid-template-columns: .8fr .8fr 1.6fr .8fr;
                        :nth-child(3){
                            margin-left: 10px;
                        }

                        button {
                            width: 170px;
                            height: 50px;
                            margin: auto 0;
                        }
                        input{
                            margin: auto;
                        }
                    }
                }
            }

            .right_down {
                width: 90%;
                margin: 0 auto;
                ul {
                    li {
                        text-align: center;
                        border: 1px solid #000;
                        display: flex;
                        margin-bottom: 50px;
                    }
                }
                .B_accordion{
                    margin-bottom: 50px;
                    .B_accordion-item{
                        margin-bottom: 20px;
                        .B_accordion-header{
                            display: flex;
                            text-align: center;
                            border: 1px solid #000;
                            .col-7{
                                margin-left: -40px;
                                margin-right: 60px;
                            }
                        i {
                            font-size: 20px;
                            color: #000;
                            margin-right: 0px;
                        }
                        }
                        .B_accordion-content {
                            ul {
                                margin-bottom: 20px;
                                li {
                                    margin: auto 0;
                                    border-top: none;
                                    img {
                                        width: 14%;
                                        margin-right: 5px;
                                    }
                                    h6 {
                                        margin: auto 0;
                                    }
                                    :nth-child(2) {
                                        text-align: left;
                                    }

                                }
                            }
                        }
                        .B_accordion-content .active {
                            // display: block;
                        }
                    }
                }
            }

        }

        .right_main>h6 {
            width: 90%;
            margin: 0 auto;
        }

    }
}