.B_order {
    display: flex;
    height: 1080px;

    .right {

        .right-top {
            border: 1px solid #000;
            height: 90px;
            margin: 20px auto;

            form {
                display: flex;
                text-align: center;
                margin-top: 21px;

                width: 100%;

                label {
                    width: 20%;
                    margin: auto 10px;
                }

                select {
                    width: 30%;
                    font-size: 1.8rem;
                }

                input {
                    margin: auto;
                }

                button {
                    margin: auto 20px;
                    width: 30%;
                }
            }
        }

        .right-bottom {
            // border: 1px solid #000;

            // width: 100%;
            table {
                width: 100%;
                text-align: center;
                line-height: 2.6;

                thead {
                    border: 1px solid #000;

                    tr {
                        th {
                            border-right: 1px solid #000;
                        }

                        th:nth-last-child(1) {
                            border-right: none;
                        }
                    }
                }

                tbody {

                    tr {
                        border: 1px solid #000;
                        cursor: pointer;
                        td {
                            h6 {
                                line-height: 4;
                            }
                        }
                    }
                    tr:hover{
                        background-color: #a289d6;
                        td{
                            h6{
                                color: $white;
                            }
                            p{
                                color: $white;
                            }
                        }
                    }

                    tr:nth-last-child(1) {
                        // border-bottom: none;
                    }

                }
            }
            .B_pagination{
                display: flex;
                // border: 1px solid #000;
                margin: 50px 0;
                width: 15%;
                line-height: 1.4;
                transform: translateX(585%);
                li{
                    border: 1px solid #000;
                    width: 25px;
                    text-align: center;
                    cursor: pointer;
                    a{
                        color: #000;
                        font-size: 2rem;
                    }
                }
                li:last-child {
                    border-left: none;
                    // width: 65px;
                }
                li:hover{
                    background: #d3bffb;
                }
            }
        }
    }
}