.game_library {

  // color: red;
  a {
    cursor: pointer;
  }

  // 使用者資訊
  .user {
    display: flex;
    margin-top: 4%;

    .head_sticker {}

    .user_name {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2%;
    }

    @include breakpoint-1440 {
      img {
        width: 50px;
        margin-top: 10px;
      }
    }

  }


  // tab頁面
  .filter {
    // border: 5px solid green;
    width: 40%;
    display: flex;
    margin-top: 4%;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
    height: 30px;

    @include breakpoint-1440 {
      font-size: 2rem;
      width: 100%;
    }

    @include breakpoint-414 {
      font-size: 2rem;

    }

    .filter_text {
      color: white;
      font-size: 2rem;
      cursor: pointer;

      @include breakpoint-1440 {
        font-size: 2rem;

      }

      @include breakpoint-414 {
        font-size: 2rem;
        width: 23%;

      }

      &:hover {
        color: #FF6009;
        border-bottom: 2px solid #FF6009;

      }
    }

  }


  // 最近遊玩
  #tab1 {

    .game_library_ul {
      margin-top: 4%;

      .game_library_li {
        border: 2px solid #FF6009;
        display: flex;
        margin-bottom: 4%;

        @include breakpoint-414 {
          padding-bottom: 50px;
          position: relative;
        }


        // 內容-圖片
        .game_library_img {
          width: 250px;

          // border: 2px solid blueviolet;
          @include breakpoint-414 {
            width: 130px;
            height: 180px;
            padding: 10px;


          }
        }

        // 內容-名稱、時數
        .game_library_section {

          letter-spacing: 5px;
          // border: 2px solid yellow;
          width: 80%;
          padding: 3%;
          line-height: 2;
          display: flex;
          flex-direction: column;

          @include breakpoint-414 {
            width: 40%;
            // position: relative;
            // font-size: 2rem;
            // border: 20px solid red;
          }

          // 遊戲名稱
          .game_library_name {
            // border: 2px solid brown;
            // margin-bottom: 5%;

            @include breakpoint-414 {
              font-size: 1rem;
            }

          }

          // 遊戲時數
          .play_time {
            padding-top: 5%;

            @include breakpoint-414 {
              font-size: 1rem;
            }
          }

          // 上次遊玩
          .last_time {

            @include breakpoint-414 {
              font-size: 1rem;
            }
          }

          // 成就
          .achievement {

            @include breakpoint-414 {
              font-size: 1rem;
              width: 200px;
            }

            .achievement_img {
              @include breakpoint-414 {
                width: 200px;
                // font-size: 1rem;
              }
            }
          }
        }

        .more {
          width: 3%;

          &:hover .product_news_btn {
            display: block;

            .product_ul {
              width: 100%;
              padding: 5px;
              background-color: #FF6009;
              align-items: center;
            }
          }

          .product_news_btn {
            display: none;
          }


        }

        .execution {
          background-color: #6511E1;
          padding: .5%;
          // padding-right: 80%;
          align-self: self-end;
          cursor: pointer;

          @include breakpoint-414 {
            position: absolute;
            font-size: 20px;
            right: 130px;
            top: 200px;
          }
        }

      }
    }
  }

  // 所有遊戲
  #tab2 {
    margin: 4% auto;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      // width: 100%;

      @include breakpoint-414 {}

      li {
        // 這個用不到
        width: 20%;
        display: flex;
        justify-content: center;

        @include breakpoint-414 {
          width: 20%;
          display: flex;
          justify-content: center;
          flex-basis: 160px;
          margin: auto;
        }


        a {

          @include breakpoint-414 {}

          img {
            width: 250px;

            @include breakpoint-414 {
              width: 150px;
            }
          }

          h3 {
            @include breakpoint-414 {}
          }
        }

      }
    }


  }

  // 願望清單
  #tab3 {
    margin: 4% auto;

    @include breakpoint-414 {}

    .desire_game_ul {

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      @include breakpoint-414 {}

      .desire_game_li {

        width: 20%;
        display: flex;
        justify-content: center;

        @include breakpoint-414 {
          width: 20%;
          display: flex;
          justify-content: center;
          flex-basis: 160px;
          margin: auto;
        }

        a {
          @include breakpoint-414 {}

          .desire_picture {
            position: relative;

            @include breakpoint-414 {}

            img {
              width: 250px;

              @include breakpoint-414 {
                width: 150px;
              }
            }

            .discount {
              position: absolute;
              top: 0;
              left: 0;
              font-size: $h3;

              @include breakpoint-414 {}
            }
          }

          .desire_text {
            @include breakpoint-414 {}

            h3 {
              @include breakpoint-414 {}
            }

            .price {
              margin-right: 4%;

              @include breakpoint-414 {}
            }

            .price_original {
              @include breakpoint-414 {}
            }
          }
        }
      }
    }

  }






}