.game_library {

  // color: red;
  a {
    cursor: pointer;
  }

  .user {
    display: flex;
    margin-top: 4%;

    .head_sticker {}

    .user_name {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2%;
    }

  }


  .filter {
    // border: 5px solid green;
    width: 40%;
    display: flex;
    margin-top: 4%;
    justify-content: space-between;

    .filter_text {
      cursor: pointer;
    }

  }


  // 最近遊玩
  .game_library_game {

    .game_library_ul {



      .game_library_li {
        border: 2px solid #FF6009;
        display: flex;
        margin-top: 4%;


        // 內容-圖片
        .game_library_img {
          // border: 2px solid blueviolet;

        }

        // 內容-名稱、時數
        .game_library_section {

          letter-spacing: 5px;
          // border: 2px solid yellow;
          width: 80%;
          padding: 3%;
          line-height: 2;
          display: flex;
          flex-direction: column;


          // 遊戲名稱
          .game_library_name {
            // border: 2px solid brown;
            // margin-bottom: 5%;

          }

          // 遊戲時數
          .play_time {
            padding-top: 5%;
          }

          // 上次遊玩
          .last_time {}

          // 成就
          .achievement {
            .achievement_img {}
          }
        }

        .more {
          width: 3%;

          &:hover .product_news_btn {
            display: block;

            .product_ul {
              background-color: #FF6009;
              align-items: center;
            }
          }

          .product_news_btn {
            display: none;
          }


        }

        .execution {
          background-color: #6511E1;
          padding: .5%;
          // padding-right: 80%;
          align-self: self-end;
          cursor: pointer;
        }

      }
    }
  }


  // 願望清單
  // .product_goods {
  //   @include flex-container(row, wrap, start, flex-start);

  //   @include breakpoint-414 {
  //     @include flex-container(row, wrap, space-between, flex-start);

  //   }

  //   .each_good {
  //     margin-bottom: 50px;
  //     transition: all ease-in-out .5s;

  //     &:hover {
  //       transform: translateY(-2%);
  //       transition: all ease-in-out .5s;

  //     }

  //     @include breakpoint-414 {
  //       width: 48%;
  //       margin-bottom: 30px;
  //     }

  //     ;

  //     .goods_top {
  //       height: 350px;
  //       position: relative;
  //       background-position: center center;
  //       background-size: cover;





  //       @include breakpoint-414 {
  //         height: 240px;
  //       }


  //       .discount {
  //         border-radius: 0;
  //         position: absolute;
  //         font-size: $h3;
  //         padding: 10px 20px;

  //         @include breakpoint-414 {
  //           font-size: 16px;
  //           padding: 5px 10px;
  //         }
  //       }

  //       i {
  //         position: absolute;
  //         color: red;
  //         right: 10px;
  //         top: 10px;
  //         font-size: 30px;
  //         cursor: pointer;

  //         &:hover {
  //           text-shadow: 1px 1px 2px black;
  //         }

  //         @include breakpoint-414 {
  //           font-size: 20px;
  //           right: 5px;
  //           top: 5px;
  //         }
  //       }
  //     }

  //     .goods_text {
  //       padding-bottom: 10px;
  //       pointer-events: none;

  //       h3 {
  //         padding: 20px 0;

  //         @include breakpoint-414 {
  //           padding: 5px 0;
  //           font-size: 16px;
  //         }
  //       }

  //       .price {
  //         padding-right: 20px;

  //         @include breakpoint-414 {
  //           font-size: 16px;
  //           padding-right: 10px;
  //         }
  //       }

  //       .price_original {
  //         @include breakpoint-414 {
  //           font-size: 14px;
  //         }
  //       }
  //     }
  //   }

  //   .each_good:nth-child(4n) {
  //     margin-right: 0;
  //   }
  // }

}