.game_library{
    
}

.user{
    display: flex;
}

.user_name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

.filter{
    // border: 5px solid red;
    width: 40%;
    display: flex;
    margin: ;
    justify-content: space-between;
}