.log_title{
  text-align: center;
  // display: inline-block;
  .logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url(../../pic/img/LOGO/WEB\ LOGO.png);
        background-size: 90% 90%;
        background-repeat: no-repeat;
        background-position: center center;
  }
  h2.margin{
    text-align: center;
    margin-bottom: 30px;
  }

}
.login {
  form{
    width: 80%;
  }
  
  .margin {
    margin: 10px 0;
  }
  
  .login_block {
    @include flex-container(column, nowrap, space-around, center);
    padding: 10px 0;
    margin: 30px auto;
    // border: 1px solid red;
    background: rgba(43, 43, 43, 0.35);
    backdrop-filter: blur(15px);
    border-radius: 5px
  }
  .flex {
    @include flex-container();
    border-bottom: 1px solid $white;
    padding-bottom: 10px;
    width: 80%;
        a:hover{
            text-decoration: underline;
        }
  }
  .register a {
    color: $green;
  }
  .quick_login {
    width: 80%;
    h3 {
      text-align: center;
      width: 100%;
      border: 1px solid #ff6300;
      padding: 8px 0;
      border-radius: 5px;
      font-size: $p;
            &:hover{
                background-color: #ff62009c;
            }
    }
        
    .FB_login {
      margin-bottom: 10px;
    }
  }
}

.forget{
  .login_block{
    @include flex-container(column, nowrap, flex-start, center);
    height: 580px;
    h2{
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .verification_code_section{
    p{
      color: #ff6300;
      text-align: center;
      margin-bottom: 20px;
      i{
        color: #ff6300;
        font-size: $p;
      }
    }
  }
}

.register{
 
  .margin {
    margin: 20px 0;
  }
  .register_block{
    margin: 100px auto;
    box-sizing: border-box;
    background: rgba(43, 43, 43, 0.35);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    padding: 20px;
  }
  
  form{
    @include flex-container(row, wrap, space-around, flex-start);
    width: 100%;
    // margin: 0 auto;
    position: relative;
    .col-7{
      margin-right: 0px;
    }
    &::after{
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 1px;
      height: 85%;
      background-color: $price_original;
      
    }
    button{
      flex-basis: 50%;
      margin: 20px 0 ;
    }
  }
  .left, .right{
    width: 40%;
  }
  .gender{
    width: 100%;
    @include flex-container(row, nowrap, space-between, center);
    label{
      vertical-align: middle;
    }
    input{
      vertical-align: middle;
    }
    /* 設置 radio 的顏色 */
    input[type="radio"] {
      appearance: none;
      width: 5px; /* 設置 radio 寬度 */
      height: 5px; /* 設置 radio 高度 */
      border-radius: 50%; /* 設置圓形 */
      border: 1px solid #ff6300; /* 設置邊框 */
      outline: none; /* 移除聚焦時的邊框 */
      transition: border-color 0.3s ease; /* 添加過渡效果 */
      margin: 0;
      margin-right: 10px; /* 設置間距 */
      position: relative;
    }

    /* 設置選中時的顏色 */
    input[type="radio"]:checked {
      //  background-color: #007aff;
    }

    /* 隱藏原始的 radio 選擇圓點 */
    input[type="radio"]::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    /* 設置 radio 選擇圓點的顏色 */
    input[type="radio"]:checked::before {
      background-color: #ff6300;
    }
  }

  
    p{
      margin-bottom: 10px;
    }
    .birth{
      input{
      margin-bottom: 10px;
    }
    }
    

  #dob { /* jsut to demonstrate that some styles will be copied from the input to the dropdowns*/
    // font: 1.2em sans-serif;
    // padding: 0.5em 1em;
  }
  
  /*
  Unfortunately, we have to fake placeholders as they are not supported on select elements
  */
  input::placeholder,
  select.show-placeholder,
  select option:first-child {
      // color: #ffffff;
  }
  
  select.show-placeholder option {
      color: #ffffff;
  }
  
  /* Display the dropdowns next to each other */
  #date-select-wrapper {
    display: flex;
    max-width: 100%; /* just for this demo */
    
    overflow: hidden;
    
  }
  
  #date-select-wrapper > * {
      flex-grow: 1;
      width: auto;
      margin: 0;
      border: 1px solid #ff6300;
      &:first-child{
        border-radius: 3px 0 0 3px;
      }
      &:last-child{
        border-radius: 0 3px 3px 0;
      }
  }
  element.style{
    color: $white;
  }
  select{
    color:$white;
    padding: 5px;
  }
  .datepicker-icon {
    color: #fff;
}


}