.news_article {
  .article_top {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 20px;

    .article_date {
    }

    .article_views {
      color: $orange;
      i {
        padding: 0;
        padding-left: 10px;
        font-size: 2rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .news_title {
    line-height: 200%;
  }

  .new_article_img {
    margin: 50px auto;
    width: 100%;
  }

  .news_content {
    text-align: justify;
    line-height: 2;
  }

  .return {
    @include flex-container(row, nowrap, space-between, center);
    text-align: center;
    display: block;
    font-size: 2rem;
    border-radius: 10px;
    margin: 40px auto;
    background-color: $purple;
    border: 0;
    width: 130px;
    padding: 20px auto;
    line-height: 40px;
    &:hover {
      background-color: $orange;
    }
  }
}
