.news_article {
  .article_top {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 20px;

    .article_date {
    }

    .article_views {
      color: $orange;
      i {
        padding: 0;
        padding-left: 10px;
        font-size: 2rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .news_title {
    line-height: 200%;
  }
  .news_block {
    margin: 50px auto;
    // border: 2px solid saddlebrown;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    .new_article_img {
      width: 50%;
    }

    .news_content {
      text-align: justify;
      line-height: 2.5;
    }

    @include breakpoint-1440 {
      flex-direction: column;
      .new_article_img {
        width: 100%;
      }
    }
  }
  .news_block_2 {
    margin: 100px auto;
    // border: 2px solid saddlebrown;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    .new_article_img {
      width: 50%;
    }

    .news_content {
      text-align: justify;
      line-height: 2.5;
    }

    @include breakpoint-1440 {
      flex-direction: column;
      .new_article_img {
        width: 100%;
      }
    }
  }
  .button_return {
    @include flex-container(row, nowrap, space-between, center);
    text-align: center;
    display: block;
    font-size: 2rem;
    border-radius: 5px;
    margin: 40px auto;
    background-color: $purple;
    border: 0;
    width: 130px;
    padding: 20px auto;
    line-height: 40px;
    &:hover {
      background-color: $orange;
    }
  }
}
