.news_article {

  // del {
  //   .news {}

  //   .news_article {
  //     width: 100%;
  //   }

  //   .article_img {
  //     // margin: 2.5% auto;
  //   }

  //   .article_top {
  //     display: flex;
  //     justify-content: space-between;
  //     margin: 10px auto;
  //   }



  //   .article_views {
  //     color: #ff6300;
  //     display: flex;
  //   }

  //   .article_icon {}


  //   .news_article_img {}

  //   .news_title {
  //     margin: 2% auto;
  //   }

  //   .news_content {}

  //   .header-news {}

  //   .news_card {}

  //   .fakeclass {
  //     font-size: 50px;
  //     border: 20px solid red;
  //   }
  // }

  .new_article_img {
    margin: 5% auto 2%;
  }


  .article_top {

    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;

    .article_date {
      color: white;
    }





    .article_views {

      color: #ff6300;
      // display: flex;
      align-self: self-end;

      .article_icon {}

    }
  }

  .news_title {
    line-height: 200%;
  }


  .news_content {
    line-height: 2;
  }

  .return {
    display: block;
    font-size: 4rem;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #6511E1;
    color: white;
    cursor: pointer;
  }





}