.product {
    color: $white;

    .swiper {
        width: 100%;
        height: 100%;
        margin-top: 45px;
        margin-bottom: 120px;

        .swiper-button-next {
            right: 30px;
        }

        .swiper-button-prev {
            left: 30px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .product_main {
        display: flex;
        height: auto;

        .product_sidebar {

            // background-color: #1b1b1b;
            .tag_choose {
                color: $white;
                font-size: 2.4rem;
                overflow: hidden;
                display: none;
                padding-bottom: 20px;

                &.show {
                    display: block;
                }

                .clear {
                    font-size: 1.8rem;
                    color: #797676;
                    float: right;

                    &:hover {
                        color: $orange;
                    }
                }
            }

            #tags_container {
                padding-right: 20px;

                .tag {
                    display: inline-block;
                    padding: 1rem 1.5rem;
                    font-size: 1.8rem;
                    background-color: $purple;
                    color: $white;
                    border-radius: 20px;
                    margin-right: 1.5rem;
                    margin-bottom: 1.5rem;

                    i {
                        font-size: 15px;
                        padding: 5px;
                    }
                }
            }

            ul {
                li {
                    line-height: 80px;


                    .botton {
                        border-top: 1px solid rgba($color: $orange, $alpha: 0.5);
                        box-sizing: border-box;
                        position: relative;
                        color: $white;
                        text-decoration: none;
                        font-size: 2.4rem;
                        padding-left: 10px;
                        font-weight: 400;
                        display: block;
                        width: 100%;
                        border-left: 3px solid transparent;
                        cursor: pointer;

                        &:last-child {
                            border-bottom: 0;
                        }

                        &.active {
                            color: $orange;
                            border-left-color: darken($color: $orange, $amount: 10);
                        }

                        i {
                            position: absolute;
                            top: 50%;
                            right: 0px;
                            transform: translateY(-50%);
                            font-size: 22px;
                            transition: transform 0.4s;

                            &.rotate {
                                transform: translateY(-50%) rotate(-180deg);
                            }
                        }
                    }
                }

                ul {
                    display: none;

                    &.show {
                        display: block;
                    }

                    .item {
                        cursor: pointer;
                        position: relative;
                        font-size: 1.8rem;
                        padding-left: 23px;
                        &:hover {
                            color: $orange;
                        }
                        &.checked {
                            background-color: rgba($color: $orange, $alpha: 0.12);
                            color: $orange;

                            .check-icon {
                                transform: scale(1);
                            }
                        }
                        .check-icon {
                            position: absolute;
                            right: 20px;
                            color: $orange;
                            font-size: 1.8rem;
                            transform: scale(0);
                            transition: all 0.2s ease-in-out;
                        }
                    }

                    .price {
                        @include flex-container(row, nowrap, space-around, center);

                        label {
                            font-size: 1.6rem;
                            display: inline-block;
                            // padding-left: 20px;
                            margin: 0;
                            vertical-align: middle;
                        }

                        .form-control {
                            width: 180px;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .game_part {
            .hot_game {
                padding-bottom: 70px;
                overflow: hidden;

                .hot_game_title {
                    @include flex-container(row, nowrap, space-between, center);
                    padding-bottom: 30px;

                    .arrow_box i {
                        padding: 0;
                    }
                }

                .hot_game_cate {
                    display: flex;
                    height: 269px;

                    .hot_game_list {
                        position: relative;
                        background-color: #01072B;
                        border: 1px solid $orange;
                        border-radius: 5px;
                        box-sizing: border-box;

                        .hot_game_container {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            img {
                                padding-bottom: 15px;
                                // width: 123px;
                                height: 123px;
                            }
                            h3 {
                                font-size: 2.4rem;
                                text-align: center;
                            }
                        }
                    }

                }

            }

            .product {
                .product_order {
                    @include flex-container(row, nowrap, end, center);
                    margin-bottom: 30px;

                    position: relative;

                    .order_btn {
                        @include flex-container(row, nowrap, space-between, center);
                        padding: 10px;
                        width: 230px;
                        font-size: 2.4rem;
                        cursor: pointer;
                        &:hover {
                            border: 1px solid $white;
                            border-radius: 8px;
                        }
                        i {
                            padding: 0;
                            transition: 0.3s;
                            transform: rotate(0deg);
                        }
                        &.active i {
                            transform: rotate(-180deg);
                        }
                    }
                    .order_options {
                        font-size: 1.6rem;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 210px;
                        padding: 20px;
                        margin-top: 60px;
                        border-radius: 8px;
                        background: #202020;                        
                        z-index: 10;
                        .option {
                            cursor: pointer;  
                            padding: 10px;                          
                            align-items: center;  
                            &:hover{
                                background-color: #797676;
                                border-radius: 5px;
                            }                       
                        }
                    }

                }

                .product_goods {
                    display: flex;
                    flex-wrap: wrap;


                    // justify-content: space-between;


                    .each_good {

                        background-color: #01072B;
                        // flex-basis: calc((100% - 30px * 3)/4);
                        // margin-right: 30px;
                        margin-bottom: 50px;

                        .goods_top {
                            height: 350px;
                            position: relative;
                            background-position: center center;
                            background-size: cover;

                            .discount {
                                border-radius: 0;
                                position: absolute;
                                font-size: $h3;
                                padding: 10px 20px;
                            }

                            i {
                                position: absolute;
                                // border: 1px solid red;
                                color: red;
                                right: 10px;
                                top: 10px;
                                font-size: 30px;
                            }
                        }

                        .goods_text {
                            padding-bottom: 20px;

                            h3 {
                                padding: 20px 0;
                            }

                            .price {
                                padding-right: 20px;
                            }
                        }
                    }

                    .each_good:nth-child(4n) {
                        margin-right: 0;
                    }


                }
            }

        }

    }

}

:root {

    --swiper-navigation-size: 60px;
    // --swiper-navigation-color:gray;
    --swiper-theme-color: orange;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 20px);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 60px;
    height: 6px;
    border-radius: 1px;
}