.product{
    .banner{
        margin-top: 45px;
        margin-bottom: 120px;
        
        img{
            width: 100%;
        }
    }

    .carousel-control-next, .carousel-control-prev{
        width: 6rem;
        height: 6rem;
    }
}
