.product_activity {
  color: $white;
  position: relative;

  .banner {
    margin-top: 45px;
    position: relative;
    background-image: url(../pic/img/game/summer.jpg);
    background-size: cover;
    background-position: center center;
    height: 665px;
    @include flex-container(row, wrap, center, center);

    @include breakpoint-414 {
      height: 200px;
    }

    h1 {
      font-size: 10rem;
      letter-spacing: 40px;
      text-shadow: 4px 4px 4px black;
      // border: 2px solid saddlebrown;
      @include breakpoint-1440 {
        font-size: 6rem;
      }

      @include breakpoint-414 {
        font-size: 4rem;
        letter-spacing: 5px;
        text-shadow: 2px 2px 2px black;
      }
    }
    h2 {
      font-size: 10rem;
      text-shadow: 4px 4px 4px $orange;
      letter-spacing: 10px;
      @include breakpoint-1440 {
        font-size: 6rem;
      }

      @include breakpoint-414 {
        font-size: 4rem;
        letter-spacing: 5px;
        text-shadow: 4px 4px 4px $orange;
      }
    }
  }

  #activity_breadcrumb {
    font-size: 0;
    margin-top: 65px;
    margin-bottom: 60px;

    a {
      padding: 0;
      font-size: 2rem;
    }

    i {
      font-size: $p;
      color: $white;
      padding: 0 10px;
    }
  }

  .activity_main {
    // @include flex-container(row, nowrap, space-between, center);
    display: flex;

    .product_sidebar {
      @include breakpoint-414 {
        // display: none;
        z-index: 100;
        max-width: 414px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -414px;
        background: linear-gradient(
          174.31deg,
          #030009 3.18%,
          #160046 27.03%,
          #180505 50.89%,
          #4f1f00 98.6%
        );
        transition: 1s;
      }

      // background-color: #1b1b1b;
      .tag_choose {
        color: $white;
        font-size: 2.4rem;
        overflow: hidden;
        display: none;
        padding-bottom: 20px;
        padding-top: 10px;

        @include breakpoint-414 {
          font-size: 18px;
          padding-top: 50px;
        }
        &.show {
          display: block;
        }
        .clear {
          font-size: 1.8rem;
          color: #797676;
          float: right;
          cursor: pointer;

          &:hover {
            color: $orange;
          }
        }
      }

      #tags_container {
        padding-right: 20px;

        .tag {
          display: inline-block;
          padding: 1rem 1.5rem;
          font-size: 1.8rem;
          background-color: $purple;
          color: $white;
          border-radius: 20px;
          margin-right: 1.5rem;
          margin-bottom: 1.5rem;
          cursor: pointer;

          i {
            font-size: 15px;
            padding: 5px;
          }
        }
      }

      ul {
        li {
          line-height: 80px;

          .button {
            border-top: 1px solid rgba($color: $orange, $alpha: 0.5);
            box-sizing: border-box;
            position: relative;
            color: $white;
            text-decoration: none;
            font-size: 2.4rem;
            padding-left: 10px;
            font-weight: 400;
            display: block;
            width: 100%;
            border-left: 3px solid transparent;
            cursor: pointer;

            @include breakpoint-414 {
              font-size: 20px;
            }
            @include breakpoint-1440 {
              font-size: 20px;
            }

            &:last-child {
              border-bottom: 0;
            }

            &.active {
              color: $orange;
              border-left-color: darken($color: $orange, $amount: 10);
            }

            i {
              position: absolute;
              top: 50%;
              right: 0px;
              transform: translateY(-50%);
              font-size: 22px;
              transition: transform 0.4s;

              &.rotate {
                transform: translateY(-50%) rotate(-180deg);
              }
            }
          }
        }

        ul {
          // display: none;

          // &.show {
          //     display: block;
          // }

          .item {
            cursor: pointer;
            position: relative;
            font-size: 1.8rem;
            padding-left: 23px;

            @include breakpoint-414 {
              font-size: 16px;
            }

            &:hover {
              color: $orange;
            }

            &.checked {
              background-color: rgba($color: $orange, $alpha: 0.12);
              color: $orange;

              .check-icon {
                transform: scale(1);
              }
            }

            .check-icon {
              position: absolute;
              right: 20px;
              color: $orange;
              font-size: 1.8rem;
              transform: scale(0);
              transition: all 0.2s ease-in-out;
            }
          }

          .price_range {
            @include flex-container(row, nowrap, space-around, center);

            span {
              font-size: 1.8rem;
              margin: 0;
              vertical-align: middle;
              letter-spacing: 4px;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            .form-control {
              width: 180px;
              margin: 0;
            }
          }
        }
      }

      .apply_choose {
        color: $white;
        background-color: rgba($color: #ff6300, $alpha: 0.2);
        font-size: 1.8rem;
        font-weight: bold;
        padding: 10px 80px;
        border: 1px solid $orange;
        border-radius: 8px;
        margin: 50px auto 0;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .products {
      .add_filter {
        @include flex-container(row, wrap, space-between, center);
        vertical-align: middle;
        margin-bottom: 30px;

        .sidebar_btn {
          display: none;

          @include breakpoint-414 {
            @include flex-container(row, wrap, space-between, center);

            display: block;
            font-size: 14px;
            vertical-align: top;
          }

          i {
            @include breakpoint-414 {
              font-size: 14px;
            }
          }
        }

        .product_order {
          @include flex-container(row, nowrap, end, center);

          position: relative;

          h3 {
            @include breakpoint-1440{
              font-size: 18px;
            }
            @include breakpoint-414 {
              font-size: 14px;
            }
          }

          .order_btn {
            @include flex-container(row, nowrap, space-between, center);
            padding: 10px;
            width: 230px;
            font-size: 2rem;
            border: 1px solid transparent;
            cursor: pointer;
            @include breakpoint-1440{
              width: 180px;
              font-size: 18px;
            }
            @include breakpoint-414 {
              width: 130px;
              font-size: 14px;
            }

            &:hover {
              border: 1px solid $white;
              border-radius: 8px;
            }

            i {
              padding: 0;
              transition: 0.3s;
              transform: rotate(0deg);
              @include breakpoint-1440{
                font-size: 18px;
              }
              @include breakpoint-414 {
                font-size: 14px;
              }
            }

            &.active i {
              transform: rotate(-180deg);
            }
          }

          .order_options {
            font-size: 1.6rem;
            position: absolute;
            top: 0;
            right: 0;
            width: 210px;
            padding: 20px;
            margin-top: 50px;
            border-radius: 8px;
            background: #202020;
            z-index: 10;
            @include breakpoint-1440{
              width: 160px;
            }
            @include breakpoint-414 {
              width: 110px;
              margin-top: 50px;
            }

            .option {
              cursor: pointer;
              padding: 10px;
              margin: 10px 0;
              align-items: center;
              
              @include breakpoint-414 {
                margin: 0;
              }

              .option_text {
                @include breakpoint-1440{
                  font-size: 16px;
                }
                @include breakpoint-414 {
                  font-size: 14px;
                }
              }

              &:hover {
                background-color: #797676;
                border-radius: 5px;
              }
            }
          }
        }
      }

      .product_goods {
        @include flex-container(row, wrap, start, flex-start);
        position: relative;
        @include breakpoint-414 {
          @include flex-container(row, wrap, space-between, flex-start);
        }

        .each_good {
          margin-bottom: 50px;
          transition: all ease-in-out 0.5s;

          &:hover {
            transform: translateY(-2%);
            transition: all ease-in-out 0.5s;
            > a > .goods_top img {
              filter: brightness(55%);
            }
            > a > .goods_text h3 {
              // font-weight: bolder;
              color: orange;
            }
          }

          @include breakpoint-414 {
            width: 48%;
            margin-bottom: 30px;
          }

          a {
            padding: 0;
            .goods_top {
              width: 100%;
              position: relative;

              img {
                width: 100%;
                display: block;
              }

              .discount {
                border-radius: 0;
                position: absolute;
                top: 0;
                left: 0;
                font-size: $h3;
                padding: 10px 20px;
                @include breakpoint-1440{
                  font-size: 18px;
                  padding: 8px 15px;
                }
                @include breakpoint-414 {
                  font-size: 16px;
                  padding: 5px 10px;
                }
              }

              i {
                position: absolute;
                color: red;
                right: 10px;
                top: 10px;
                font-size: 30px;
                cursor: pointer;
                &:hover {
                  text-shadow: 1px 1px 2px black;
                }
                @include breakpoint-1440{
                  font-size: 24px;
                }
                @include breakpoint-414 {
                  font-size: 20px;
                  right: 5px;
                  top: 5px;
                }
              }
            }

            .goods_text {
              padding-bottom: 10px;
              pointer-events: none;

              h3 {
                padding: 20px 0;
                @include breakpoint-1440{
                  font-size: 18px;
                }
                @include breakpoint-414 {
                  padding: 5px 0;
                  font-size: 16px;
                }
              }

              .price {
                padding-right: 20px;
                @include breakpoint-1440{
                  font-size: 20px;
                }
                @include breakpoint-414 {
                  font-size: 16px;
                  padding-right: 10px;
                }
              }

              .price_original {
                font-size: $h2;
                text-decoration: none;
                color: $white;
                @include breakpoint-1440{
                  font-size: 20px;
                }
                @include breakpoint-414 {
                  font-size: 16px;
                }
              }
              .line_throught {
                text-decoration: line-through;
                font-size: $h4;
                color: $price_original;
                @include breakpoint-1440{
                  font-size: 16px;
                }
                @include breakpoint-414 {
                    font-size: 14px;
                }
              }
            }
          }
        }

        .each_good:nth-child(4n) {
          margin-right: 0;
        }
        .heart_popup,
        .heart_remove {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.2);
          max-width: 560px;
          width: 100%;
          padding: 50px;
          border-radius: 10px;
          background-color: rgb($color: #0d0d0d, $alpha: 0.8);
          @include flex-container(column, nowrap, center, center);
          opacity: 0;
          pointer-events: none;
          transition: all 0.3s ease;

          &.active {
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1);
          }

          i {
            font-size: 150px;
            color: $green;
            @include breakpoint-414 {
              font-size: 150px;
            }
          }

          h2 {
            padding: 50px;
            font-size: 3rem;

            @include breakpoint-414 {
              font-size: 30px;
            }
          }
        }
        .heart_remove {
          i {
            color: red;
            font-size: 120px;
          }
        }
      }

      .pages {
        margin-bottom: 50px;

        .product_pages {
          @include flex-container(row, nowrap, end, center);

          @include breakpoint-414 {
            @include flex-container(row, nowrap, center, center);
          }

          .each_page {
            color: #797676;
            font-size: 2rem;
            margin: 0 5px;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            @include breakpoint-1440{
              font-size: 18px;
              padding: 2px 7px;
            }
            @include breakpoint-414 {
              font-size: 16px;
              padding: 1px 7px;
            }

            &.active {
              background-color: $purple;
              border-radius: 50%;
              color: $white;
            }

            &:hover {
              color: $white;
            }

            i {
              padding: 0;
              @include breakpoint-414 {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
