.about_section {
    // border: 5px solid red;


}

.section_top {
    width: 60%;
    margin: 0 auto;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: space-between;

    padding-top: 5%;
    padding-bottom: 5%;

}

.contact_img {
    width: 485px;
    padding: 0 2%;

}

.contact_article_top {
    // display: flex;
    width: 100%;

    margin: 0 auto;
}

.contact_bg {
    display: flex;
    background-color: #FF6300;
    padding: 1.5%;
}

.contact_icon {
    width: 30px;
    height: 30px;
    margin: 0 2%;

}

h2 {}

.word {
    padding: 10%;
}

.word p {
    line-height: 1.8;
    // border: 1px solid red;
    font-size: 1.8rem;
}



// ====================down====================

.section_down {

    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;

}



.contact_article_down {
    // display: flex;
    width: 100%;

    margin: 0 auto;

}