@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap");
html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.05em;
}

h1 {
  font-size: $h1;
  color: $white;
  font-weight: 700;
}
h2 {
  font-size: $h2;
  color: $white;
  font-weight: 400;
}
h3 {
  font-size: $h3;
  color: $white;
  font-weight: 400;
  line-height: 140%;
}
a {
  color: $white;
  font-size: $a;
  padding: 5px;
  cursor: pointer;
  // &:hover{
  //     text-decoration: underline;
  // }
}
p {
  color: $white;
  font-size: $p;
  // cursor: default;
}
li {
  font-size: $h3;
  color: $white;
  cursor: default;
}
.price {
  font-size: $h2;
  color: $orange;
  font-weight: 400;
}
.price_original {
  font-size: $h4;
  color: $price_original;
  text-decoration: line-through;
  font-weight: 400;
}
.news_text {
  font-size: $p;
  color: $news_font_colo;
  line-height: 150%;
  margin-bottom: 20px;
}
.discount {
  font-size: $p;
  color: #42ff00;
  background-color: $purple;
  padding: 2px 8px;
  border-radius: 3px;
}

//後台
h4 {
  font-size: $h1;
  color: $backend_font;
  font-weight: 400;
  text-align: center;
  line-height: 300%;
  letter-spacing: 0.05em;
}
h5 {
  font-size: $h2;
  color: $backend_font;
  font-weight: 400;
  letter-spacing: 0.05em;
}
h6 {
  font-size: $h3;
  color: $backend_font;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.B {
  p {
    color: $backend_font;
  }
  li {
    color: $backend_font;
  }
}
