$bg_color:(
    '.purple':#6511E1,
    '.orange':#FF6300,
    '.bright_green':#42FF00,
    '.red':#BD2323,
    '.backend_color':#D3BFFB,
    '.backend_color_active':#A289D6
    );


$price_color:#FF6300;
$price_original:#AFAFAF;
$white:#EDE9F2;
$news_font_colo:#949494;

/*--------------------------------------------------------*/
$title:(
    h1: 35px,
    h2:24px,
    h3:20px,
    p: 16px,
    span : 14px,
    '.title' : 40px
    );