$bg_color:(
    '.purple':#6511E1,
    '.orange':#FF6300,
    '.bright_green':#42FF00,
    '.red':#BD2323,
    '.backend_color':#D3BFFB,
    '.backend_color_active':#A289D6
    );

$purple:#6511E1;
$orange:#FF6300;
$price_original:#AFAFAF;
$white:#EDE9F2;
$news_font_colo:#949494;

/*--------------------------------------------------------*/
// $title:(
//     h1: 3.5rem,
//     h2:2.4rem,
//     h3:2rem,
//     p: 1.6rem
//     );
$h1:3.5rem;
$h2:2.4rem;
$h3:2rem;
$h4:1.8rem;
$p: 1.6rem;
