$bg_color: (
  ".purple": #6511e1,
  ".orange": #ff6300,
  ".bright_green": #42ff00,
  ".red": #bd2323,
  ".backend_color": #d3bffb,
  ".backend_color_active": #a289d6,
  ".b_backend_color": #D9D9D9,
);

$purple: #6511e1;
$purple_dark: #441673;
$orange: #ff6300;
$price_original: #afafaf;
$white: #ede9f2;
$news_font_colo: #949494;
$backend_font: #000000;
$test_button: #ff013c;
$test_button_shadow: #00e6f6;
$mask: #000000af;
$green: #42ff00;
$red: #bd2323;

/*--------------------------------------------------------*/
// $title:(
//     h1: 3.5rem,
//     h2:2.4rem,
//     h3:2rem,
//     p: 1.6rem
//     );
$h1: 3.5rem;
$h2: 2.4rem;
$h3: 2rem;
$h4: 1.8rem;
$p: 1.6rem;
$a: 1.2rem;
$news_num: 6.4rem;
