html {
  background-color: #030009;
  max-width: 1920px;
  height: 100%;
  
}
body {
  max-width: 1920px;
  // height: 100%;
  background: linear-gradient(
    174.31deg,
    #030009 3.18%,
    #160046 27.03%,
    #180505 50.89%,
    #4f1f00 98.6%
  );
}
body.B {
  background: none;
  background-color: #ffffff;
}
main {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}
