html{
    background-color: #030009;
}
body{
    max-width: 1920px;
    height: 100%;
    background: linear-gradient(174.31deg, #030009 3.18%, #160046 27.03%, #180505 50.89%, #4F1F00 98.6%);
}
main{
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}