// @each $k , $v in $title {
//    #{$k} {
//       font-size: $v;
//    }
// }
@each $k, $v in $bg_color {
  #{$k} {
    background-color: $v;
  }
}
$column-gap: 20px;

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(
      (100% - #{$column-gap * 11}) / 12 * #{$i} + #{$column-gap} * (#{$i} - 1)
    );
    margin-right: $column-gap;

    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 414px) {
      width: 100%;
      margin-right: 0;
    }
  }
}

@mixin flex-container(
  $direction: row,
  $wrap: wrap,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin breakpoint-1440 {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin breakpoint-1280 {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin breakpoint-860 {
  @media (max-width: 860px) {
    @content;
  }
}

@mixin breakpoint-414 {
  @media (max-width: 414px) {
    @content;
  }
}



// @include breakpoint-414 {
//   padding-top: 80px;
// }

// @include breakpoint-414 {
//   使用方式
// }

